<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Maintain adjustment types in maintenance section</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Inventory</a></li>
        <li class="active">Adjustments</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#allAdjustments" data-toggle="tab"> All Adjustments</a></li>
              <!-- <li><a href="#newAdjustment" data-toggle="tab"><i class="fa fa-plus"></i> New</a></li> -->
              <li><a href="#inventory_count" data-toggle="tab">Inventory Count</a></li>

            </ul>
            <div class="tab-content">

              <!-- All Adjustments -->
              <div class="tab-pane active" id="allAdjustments">
                <div class="box-body table-responsive">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Date Adjusted</th>
                        <th>Adjustment Type</th>
                        <th>Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(all == null || all == undefined){ %>

                      <% }else if(all.length == 0){ %>

                      <% }else{ %>
                      <%  all.forEach(function(i){ %>
                          <tr>
                            <td><%=i.intAdjustmentNo%></td>
                            <td><%=i.strProductName%></td>
                            <td><%= i.qty %></td>
                            <td><%= moment().format("MM/DD/YYYY")%></td>
                            <td><% if(i.intAdjustmentType == 0){ %>
                              Loss
                            <% }else{ %>
                              Gain
                            <% } %>
                            </td>
                            <td><%=i.strAdjustmentNote%></td>

                          </tr>
                      <%  }) %>
                      <% } %>

                    </tbody>
                  </table>
                </div>

              </div>

              <!-- New Adjustment -->
              <!-- <div class="tab-pane" id="newAdjustment">
                <br>
                <div class="row">
                  <div class="col-sm-6">
                    <form id="addItem">
                      <label for="barcode">Scan or Enter Barcode:</label>

                      <div class="input-group input-group-sm">
                        <input class="form-control" id="barcode">
                          <span class="input-group-btn">
                            <button type="button" id="add_barcode" class="btn btn-success btn-flat">Add</button>
                          </span>

                      </div>
                    </form>

                  </div>
                  <div class="col-sm-2">
                    <br>
                    <label for="barcode"></label>
                    <button class="large ui teal button">Choose Item</button>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="box-body table-responsive">
                      <form id="list_form">
                        <button type="submit" class="large ui brown button">Submit Form </button>
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr>
                              <th style="width: 10px">No</th>
                              <th>Barcode</th>
                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Batch</th>
                              <th>Adjustment Type</th>
                              <th>Other Details</th>
                            </tr>
                          </thead>
                          <tbody>


                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                </div>
              </div> -->

              <!-- All Adjustments -->
              <div class="tab-pane" id="inventory_count">
                <div class="box-body table-responsive">
                  <table id="example3" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>No</th>

                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(inv == null || inv == undefined){ %>

                      <% }else if(inv.length == 0){ %>

                      <% }else{ %>
                      <%  inv.forEach(function(i){ %>
                          <tr>
                            <td><%=i.intInventoryNo%></td>

                            <td><%=i.strProductName%></td>
                            <td><%= i.intQuantity %></td>
                            <td>
                              <button data-toggle="modal" data-target="#checkBatch" data-inv="<%=i.intInventoryNo%>"  class="checkBatch large ui teal button">Check Batch</button>

                            </td>

                          </tr>
                      <%  }) %>
                      <% } %>

                    </tbody>
                  </table>
                </div>

              </div>


            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
          </div>
	      </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->

<div class="modal fade" id="checkBatch">
  <div style="width: 70%" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 align="center">Choose Batch</h4>
      </div>

      <div class="modal-body">

          <div id="loader">
          </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adjust">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Batch Adjustment</h4>
      </div>
      <div class="modal-body">

        <!-- form start -->
        <form role="form" id="batch_adjust_form">
          <div class="box-body">

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label>Batch</label>
                  <input type="hidden" name="batch_no"  class="add_batch form-control">
                  <input type="text" disabled   class="add_batch form-control">
                </div>
                <div class="col-sm-6">
                  <label>Quantity</label>
                  <input type="text" disabled  id="add_quantity" class="form-control">
                </div>
              </div>

            </div>


            <div class="form-group">
              <label>Choose adjustment type:</label>
              <select class="form-control" name="types">
                <option value="0">Lost</option>
                <option value="1">Gain</option>
              </select>
            </div>

            <div class="form-group">
              <label>Quantity:</label>
              <input type="number" class="form-control" name="quantity">
            </div>

            <div class="form-group">
              <label>Other details:</label>
              <textarea name="details" class="form-control"></textarea>
            </div>

          </div>
          <!-- /.box-body -->


      </div>
      <div class="modal-footer">
        <button type="button" class="large ui button pull-left" data-dismiss="modal">Back</button>
        <button type="submit" class="large ui teal button">Save</button>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>


<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<!-- Moment -->
<script src="/assets/admin/bower_components/moment/min/moment.min.js"></script>
<!-- Date range picker -->
<script src="/assets/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<script>


  $(function () {
    $('#example2').DataTable({
      'paging'      : false,
      'lengthChange': true,
      'searching'   : false,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })

  $('.checkBatch').on('click',function(){

    $('#loader').load(`/inventory/count/${$(this).data('inv')}`);

  })

</script>


<script>
  $(function () {
    $('#example3').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>


<script>
$('#title').html("USG | Adjustments");
$(".treeview a:contains('Inventory')").parent().addClass("active");
$(".navi a:contains('Adjustments')").parent().addClass("active");
</script>

<script>
  $('#batch_adjust_form').submit(function(e){

    e.preventDefault();

    $.post('/inventory/addBatchAdjust',$('#batch_adjust_form').serialize(),function(data,status){
      if(data == 'yes'){
        swal({title:'Success',text:'',type:'success'}).then(()=>{
          location.reload();
        })
      }else{
        swal('Error!','No enough stock for loss adjustment','error')
      }
    })
  })
</script>

<script>
  $('#list_form').submit(function(e){
    e.preventDefault();

    swal({
      title: 'Are you sure?',
      text: "Please review adjustment list",
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
      reverseButtons: true
    }).then((result) => {
      if (result.value) {
        $.post('/inventory/addAdjustment',$('#list_form').serialize(), function(data,status){
          if(data == "yes"){
            swal(
              'Success!',
              'You have added an adjustment',
              'success'
            ).then(()=>{
              location.reload();
            })
          }else{
            swal('Error!','One of the batch of your choice has no stock for loss', 'error');
          }
        })

      }
    })
  })
</script>

<script>

</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
