<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Please monitor stocks regularly, check if there are damaged products.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Maintenance</a></li>
        <li class="active">Product Inventory</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h2 class="box-title">All Products</h2>
            </div>
			<!-- buttons -->
    </br>
				&nbsp; &nbsp;<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addProduct"><i class="fa fa-plus"></i> Add New Product</button>

        <!-- &nbsp; &nbsp;<button type="button" class="btn btn-success btn-sm" id="s"><i class="fa fa-plus"></i> Tester</button> -->



            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Product Code</th>
                  <th>Product Name</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% if (re == 'null' || re == 'undefined' || re.length == 0) { %>

                <% }else { %>
                  <% re.forEach(function(i){ %>
                    <tr>
                    <td><%=i.strProductCode%></td>
                    <td><%=i.strProductName%></td>
                    <td><%=i.strDescription%></td>
                    <td>
                    <% if (i.intStatus == 1){ %>
                      <span class="label label-success">Active</span>
                    <% }else{ %>
                      <span class="label label-danger">Inactive</span>
                    <% } %>

                    </td>

                    <!-- ERROR IN THIS AREA (req.query) -->

                    <td><button type="button" data-toggle="modal" data-target="#viewProduct" class="viewButton btn btn-default btn-sm" data-prodno="<%=i.intProductNo%>" data-prodcode="<%=i.strProductCode%>" data-prodname="<%=i.strProductName%>" data-proddesc="<%=i.strDescription%>" data-prodbrand="<%=i.intBrandNo%>" data-prodcateg="<%=i.intSubCategoryNo%>" data-prodpicture="<%=i.strProductPicture%>" >View Details</button>
                    <% var url = i.intProductNo %>
                    <a href="/inventory/productInventory?product=<%=url%>"><button type="button" class="btn btn-default btn-sm"  >Inventory</button></a>

                    </td>

                  </tr>
                  <% }) %>
                <% } %>

                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

	<!-- Modals -->

	<div class="modal fade" id="addProduct">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Product Information Form</h4>
		  </div>
		  <div class="modal-body">

        <!-- form start -->
        <form role="form" method="post" enctype="multipart/form-data" action="/inventory/addProduct">
          <div class="box-body">

            <div class="form-group">

              <% var number = "1000"; %>
              <% if (list == 'null' || list == 'undefined' || list.length == 0 ) { %>
              <% number = "1000"; %>
              <% }else{ %>
                <% var number = parseInt(list[0].intProductNo) + 1 %>
                <!-- <input type="text" class="form-control" value="<%=number%>" disabled id="add_prodno" name="add_prodno" > -->

              <% } %>

                <input type="hidden" class="form-control" value="<%=number%>"  id="add_prodno" name="add_prodno" >
            </div>
            <div class="form-group">
              <label for="add_pcode">Product Code</label>
              <input type="text" class="form-control" required id="add_pcode" name="add_pcode" >
            </div>
            <div class="form-group">
              <label for="add_pname">Product Name</label>
              <input type="text" class="form-control" required id="add_pname" name="add_pname" >
            </div>
            <div class="form-group">
              <label for="add_brand">Brand</label>
              <select class="form-control" required id="add_brand" name="add_brand"  >
                <% if (brand == 'null' || brand == 'undefined' || brand.length == 0){ %>
                  <option></option>
                <% }else{ %>
                  <% brand.forEach(function(s){ %>
                    <option value="<%=s.intBrandNo%>"><%=s.strBrand%></option>
                  <% }) %>

                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="add_pdesc">Product Description</label>
              <textarea class="form-control" required id="add_pdesc" name="add_pdesc" ></textarea>
            </div>
            <div class="form-group">
              <label for="add_pcat">Category</label>
              <select class="form-control" id="add_pcat" required name="add_pcat" >
                <% if (category == 'null' || category == 'undefined' || category.length == 0){ %>
                  <option></option>
                <% }else{ %>
                  <% category.forEach(function(s){ %>
                    <option value="<%=s.intSubCategoryNo%>"><%=s.strSubCategory%></option>
                  <% }) %>

                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="add_pic">Product Picture</label>
              <input type="file" class="form-control" id="add_pic" name="add_pic" required placeholder="">
            </div>


          </div>
          <!-- /.box-body -->

			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			  </div>

      </form>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
  <!-- /.modal-dialog -->
</div>


	<div class="modal fade" id="viewProduct">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Product Information Form</h4>
		  </div>
		  <div class="modal-body">

        <!-- form start -->
        <form role="form" method="post" enctype="multipart/form-data" action="/inventory/addProduct">
          <div class="box-body">

            <div class="form-group">
              <label for="view_prodno">Product No</label>
              <input type="hidden" class="form-control" value="" disabled id="view_prodno" name="" >
            </div>
            <div class="form-group">
              <label for=""></label>
              <div style="width: 30%">
              <img src="" class="img-responsive"  disabled id="pic" name="" >
            </div>
            </div>
            <div class="form-group">
              <label for="view_pcode">Product Code</label>
              <input type="text" class="form-control" required id="view_pcode" name="view_pcode" >
            </div>
            <div class="form-group">
              <label for="view_pname">Product Name</label>
              <input type="text" class="form-control" required id="view_pname" name="view_pname" >
            </div>
            <div class="form-group">
              <label for="view_brand">Brand</label>
              <select class="form-control" required id="view_brand" name="view_brand"  >
                <% if (brand == 'null' || brand == 'undefined' || brand.length == 0){ %>
                  <option></option>
                <% }else{ %>
                  <% brand.forEach(function(s){ %>
                    <option value="<%=s.intBrandNo%>"><%=s.strBrand%></option>
                  <% }) %>

                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="view_pdesc">Product Description</label>
              <textarea class="form-control" required id="view_pdesc" name="view_pdesc" ></textarea>
            </div>
            <div class="form-group">
              <label for="view_pcat">Category</label>
              <select class="form-control" id="view_pcat" required name="view_pcat" >
                <% if (category == 'null' || category == 'undefined' || category.length == 0){ %>
                  <option></option>
                <% }else{ %>
                  <% category.forEach(function(s){ %>
                    <option value="<%=s.intSubCategoryNo%>"><%=s.strSubCategory%></option>
                  <% }) %>

                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="view_pic">Product Picture</label>
              <input type="file" class="form-control" id="view_pic" name="view_pic" required placeholder="">
            </div>


          </div>
          <!-- /.box-body -->

			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			  </div>

      </form>
		</div>
		<!-- /.modal-content -->
	</div>
</div>
  <!-- /.modal-dialog -->
</div>


	<div class="modal fade" id="addImage">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"></h4>
		  </div>
		  <div class="modal-body">
			<!-- Horizontal Form -->

					<!-- form start -->
						<form class="form-horizontal" enctype="multipart/form-data" method="post" action="/inventory/addImage">
						  <div class="box-body">

							<div class="form-group">
							  <label for="inputConsignorName" class="col-sm-2 control-label">File</label>

							  <div class="col-sm-10">
								<input type="file" class="form-control" name="filename" id="inputConsignorName" placeholder="">
							  </div>

							</div>

						  </div>
						  <!-- /.box-body -->
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="submit"  class="btn btn-primary">Save changes</button>
			  </div>
        </form>
		</div>
		<!-- /.modal-content -->
	</div>
  <!-- /.modal-dialog -->
</div>

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    Ultra Super Green
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2016 <a href="#">AdminLTE template</a>.</strong> All rights reserved.
</footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/assets/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables (new added)	 -->
<script src="/assets/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/assets/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/admin/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/assets/admin/dist/js/adminlte.min.js"></script>

<script src="/assets/bootstrap-sweetalert-master/dist/sweetalert.min.js"></script>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('.viewButton').on('click', function(){
    $('#view_prodno').val($(this).data('prodno'));
    $('#view_pcode').val($(this).data('prodcode'));
    $('#view_pname').val($(this).data('prodname'));
    $('#view_pdesc').val($(this).data('proddesc'));
    $('#view_prodpic').val($(this).data('prodpic'));
    var filename = "/images/" + $(this).data('prodpicture');
    //alert(filename);
    $('#pic').attr('src',filename);

    var brand = $(this).data('prodbrand');
    $('#view_brand').find('option').each( function() {
      var $this = $(this);
      if ($this.val() == brand) {
         $this.attr('selected','selected');
         return false;
      }
    });

    var categ = $(this).data('prodcateg');
    $('#view_pcat').find('option').each( function() {
      var $this = $(this);
      if ($this.val() == categ) {
         $this.attr('selected','selected');
         return false;
      }
    });

  });
</script>


<script>
$('#title').html("USG | All Products");
$(".treeview a:contains('Maintenance')").parent().addClass("active");
$(".treeview a:contains('Inventory')").parent().addClass("active");
$(".navi a:contains('All Products')").parent().addClass("active");
</script>

<script>

  $(document).ready(function(){
    $('#s').click(function(){
      $.post('/inventory/samp',{
        name: "j"
      },
      function(data,status){
        if (status == 'success'){
          swal("Good job!","", "success");
        }else{
          swal("","", "error");
        }
      });
    })
  })
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
