
<div class="box-body table-responsive">
  <table id="table_adjust" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Batch No</th>
      <th>Quantity</th>
      <th>Date Received</th>
      <th>Expiration Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% if (re == null || re == undefined || re.length == 0) { %>

    <% }else { %>
      <% re.forEach(function(i){ %>
        <tr>
        <td><%= i.intBatchNo%></td>
        <td><%=i.intQuantity%></td>
        <td><%= moment(i.created_at).format("MM/DD/YYYY")%></td>
        <td><%= moment(i.expirationDate).format("MM/DD/YYYY")%></td>
        <td>
          <button data-batch="<%= i.intBatchNo%>" data-quantity="<%=i.intQuantity%>" data-toggle="modal" data-target="#adjust"  class="adjust large ui green button">Adjust</button>
        </td>

      </tr>
      <% }) %>
    <% } %>

    </tbody>
  </table>
</div>


<script>
  $(function () {
    $('#table_adjust').DataTable({
      'paging'      : false,
      'lengthChange': true,
      'searching'   : false,
      'ordering'    : true,
      'info'        : false,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })

  $('.adjust').on('click',function(){
    $('.add_batch').val($(this).data('batch'));
    $('#add_quantity').val($(this).data('quantity'));
  })


</script>
