<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Stock Pull-out</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Inventory</a></li>
        <li class="active">Expired Products</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#allExpired" data-toggle="tab"><i class="fa fa-bars"></i> Expired Products</a></li>
              <li><a href="#searchExpired" data-toggle="tab"><i class="fa fa-search"></i> Search Expired</a></li>
            </ul>
            <div class="tab-content">

              <!-- All Expired -->
              <div class="tab-pane active" id="allExpired">

                <h5 class="text-aqua">Products that will be expired 14 days from now.</h5>
                <br>
                <div class="box-body table-responsive">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th style="width: 30px"></th>
                        <th>No</th>
                        <th>Barcode</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Brand</th>
                        <th>Supplier</th>
                        <th>Expiration Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (all == null || all == undefined){ %>

                      <%}else if(all.length==0){ %>

                      <% }else{ %>
                        <% all.forEach(function(i){ %>
                          <tr>
                            <td>
                              <button data-batch="<%=i.intBatchNo%>" class="pulloutitem large ui red basic button">Pull Out</button>

                            </td>
                            <td><%=i.intBatchNo%></td>
                            <td><%=i.strBarcode%></td>
                            <td><%=i.strProductName%></td>
                            <td><%=i.intQuantity%></td>
                            <td><%=i.strBrand%></td>
                            <td><%=i.strBusinessName%></td>
                            <td><%=moment(i.expirationDate).format('MM/DD/YYYY')%></td>
                          </tr>
                        <% }) %>
                      <% } %>
                    </tbody>
                  </table>
                </div>

              </div>

              <!-- Search Expired -->
              <div class="tab-pane" id="searchExpired">
                </br>
                  <!-- Date range -->
                  <div class="row">
                    <div class="form-group col-sm-4">
                      <label>Select date range:</label>

                      <div class="input-group">
                        <div class="input-group-addon">
                          <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" id="reservation">

                      </div>
                      <!-- /.input group -->
                    </div>
                    <!-- /.form group -->
                    <div class="col-xs-2">
                      </br>

                      <button id="search-expired" class="large ui green button"><i class="fa fa-search"></i>  Search</button>

                    </div>
                    <div class="col-xs-2">
                      </br>

                      <button id="pull-out" class="btn btn-danger"><i class="fa fa-close"></i> Pull-out all from inventory</button>
                    </div>
                  </div>

                </br>
                <!-- /.box-header -->
                <div id="tabl" class="box-body table-responsive">

                </div>

              </div>


            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
          </div>
	      </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->


<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<!-- Moment -->
<script src="/assets/admin/bower_components/moment/min/moment.min.js"></script>
<!-- Date range picker -->
<script src="/assets/admin/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>

<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
$(document).ready(function(){

  $('#pull-out').hide();

  //Date range picker
  $('#reservation').daterangepicker();
  $('#search-expired').on('click',function(){

    $.ajax({
      url: '/inventory/searchExpired',
      method: 'post',
      datatype: 'json',
      data: {o: $('#reservation').val()},
      success: function(response,status,http){
        if(response){
          $('#tabl').load('/inventory/showExpired');
        }
      }
    })

  });
})

</script>

<script>

  $('.pulloutitem').on('click',function(){


    swal({
      title: "Are you sure?",
      text: "You cannot undo pullout stock from inventory",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Pull-out List from Inventory",
      cancelButtonText: "Back",
      reverseButtons: true
    }).then((result)=>{
      if(result.value){

         $.ajax({
           url: '/inventory/pullOutItem',
           method: 'post',
           datatype: "json",
           data: {batch: $(this).data('batch')},
           success: function(response, status, http){
             if(response == "yes"){
               swal({title: 'Success', text: 'You pulled out items from inventory', type: 'success'}).then(() => {
                 location.reload();
               })
             }else{
               swal({title: 'Error', text: 'You have an error', type: 'error'}, function(){
               })
             }
           }
         })
      }
    })
  });
</script>


<script>
$('#title').html("USG | Expired Products");
$(".treeview a:contains('Inventory')").parent().addClass("active");
$(".navi a:contains('Expired Products')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
