<%- include('../../../templates/admin-navbar.ejs') -%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
       <%=title[0].strProductName%>
    </h1>
    <small>Product Code: <%=title[0].strProductCode%> &nbsp;&nbsp; </small>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Maintenance</a></li>
      <li class="active">Inventory</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#inventory" data-toggle="tab"> Inventory</a></li>
            <li><a href="#newProduct" data-toggle="tab"><i class="fa fa-plus"></i> New product item</a></li>
            <li><a href="#inactiveProducts" data-toggle="tab"> Inactive Products</a></li>
          </ul>
          <div class="tab-content">
            <!-- Inventory -->
            <div class="tab-pane active" id="inventory">

              <a data-toggle="modal" data-target="#legend_modal"><i style="font-size: 30px" class="glyphicon glyphicon-info-sign"></i> </a>


              </br>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th style="width: 140px"></th>
                    <th>No</th>

                    <th>Variant</th>
                    <th>Supplier</th>

                    <th>Price</th>
                    <th style="width: 20px">Quantity</th>
                    <th style="width: 10px">Status</th>

                  </tr>
                  </thead>
                  <tbody>
                  <% if (re == null || re == undefined || re.length == 0) { %>

                  <% }else { %>
                    <% re.forEach(function(i){ %>
                      <tr>
                        <form>
                        <td>
                          <center>
                            <button type="button" data-number="<%=i.intInventoryNo%>" data-toggle="modal" data-target="#addStock" class="addStock large ui teal button" data-toggle="tooltip" title="Add Stock"><i class="fa fa-plus"></i></button>
                            <!-- <button type="button" data-number="<%=i.intInventoryNo%>" data-product="<%=i.intProductNo%>" data-srp="<%=i.productSRP%>" data-price="<%=i.productPrice%>" data-shelf="<%=i.intShelfNo%>" data-critical="<%=i.intCriticalLimit%>"  data-toggle="modal" data-target="#editInventory" class="editbutton large ui blue button" ><i class="fa fa-edit"></i></button> -->

                            <div class="btn-group">
                              <button type="button" class="large ui blue button" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-option-horizontal"></i>

                              </button>
                              <ul class="dropdown-menu">
                                <li><a type="button" class="editbutton" data-number="<%=i.intInventoryNo%>" data-srp="<%=i.productSRP%>" data-price="<%=i.productPrice%>" data-toggle="modal" data-target="#editPrice">Edit Price</a></li>
                                <li><a type="button" class="editbutton" data-number="<%=i.intInventoryNo%>" data-product="<%=i.intProductNo%>" data-variant="<%=i.strVariant%>" data-shelf="<%=i.intShelfNo%>" data-critical="<%=i.intCriticalLimit%>"  data-toggle="modal" data-target="#editInventory">Edit Details</a></li>
                                <li><a href="/inventory/seeBatch?p=<%=i.intInventoryNo%>">See Batch Products</a></li>
                                <li><a href="/inventory/transactions?product=<%=i.intProductNo%>&ino=<%=i.intInventoryNo%>">Transactions</a></li>
                              </ul>
                            </div>
                            <button data-product="<%=i.intInventoryNo%>" id="inactivate_product" class="large ui red button" data-toggle="tooltip" title="Inactivate"><i class="fa fa-close"></i></button>


                          </center>

                        </td>
                      </form>
                        <td><%=i.intInventoryNo%></td>

                        <td><%=i.strVariant%> <%=i.intSize%>&nbsp;<%=i.strUnitName%></td>
                        <td><%=i.strBusinessName%></td>
                        <td>₱ <%=(i.productPrice).toFixed(2)%></td>
                        <!-- <td><%= moment(i.expirationDate).format("MMM Do YYYY")%></td> -->
                        <td><%=i.intQuantity%></td>
                        <td>
                          <% if (i.intStatus == 1){ %>

                          <% }else{ %>

                          <% } %>

                          <% if (i.intQuantity == 0){ %>
                            <a class="ui red circular label"></a>
                          <% }else if(i.intQuantity < i.intCriticalLimit || i.intQuantity == i.intCriticalLimit){ %>
                            <a class="ui orange circular label"></a>
                          <% }else{ %>
                            <a class="ui green circular label"></a>
                          <% } %>



                        </td>

                    </tr>
                    <% }) %>
                  <% } %>

                  </tbody>

                </table>
              </div>
              <!-- /.box-body -->
            </div>



            <!-- New product Item-->
            <div class="tab-pane " id="newProduct">
              <div class="row">
                  <div class="col-sm-12">
                    <!-- form start -->
                    <form role="form" id="newProductForm" >
                      <div class="box-body">



                        <div class="form-group">

                          <% var number = "1000"; %>
                          <% if (list == null || list == undefined) { %>

                          <% }else if(list.length == 0){ %>

                          <% }else{ %>
                            <% var number = parseInt(list[0].intInventoryNo) + 1 %>
                            <!-- <input type="text" class="form-control" value="<%=number%>" disabled id="add_prodno" name="add_prodno" > -->

                          <% } %>
                            <div class="row">
                              <div class="col-sm-4">
                                <input type="hidden" class="form-control" value="<%=number%>"  id="add_inventoryno" name="add_inventoryno" >
                                <input type="hidden" class="form-control" value="<%=product%>"  id="add_productno" name="add_productno" >
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-3">
                            </br>
                              <button type="button" class="large ui green button" data-toggle="modal" data-target="#selectSupplier"><i class="fa fa-search"></i> Select Supplier Here</button>
                            <p>  New supplier? Click <a data-toggle="modal" data-target="#addSupplier">here</a></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="add_sname">Supplier Name</label>
                              <input type="hidden" class="form-control"  id="add_sno" name="add_sno" >
                              <input type="text" required class="form-control" disabled id="add_sname" name="add_sname" >
                            </div>

                            <div class="col-sm-3">
                              <label for="add_bname">Business Name</label>
                              <input type="text" required class="form-control" disabled id="add_bname" name="add_bname" >
                            </div>

                            <div class="col-sm-3">
                              <label for="add_bname">Commission Rate</label>
                              <input type="text" required class="form-control" disabled id="commission" name="commission" >
                            </div>

                          </div>

                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-3">
                              <label for="add_srp">Product SRP</label>
                              <input type="decimal" placeholder="Original price" class="form-control" required id="add_srp" name="add_srp" >
                            </div>
                            <div class="col-sm-3">
                              <label for="add_price">Product Price</label>
                              <input type="decimal" placeholder="" class="form-control" required id="add_price" name="add_price" >
                            </div>
                            <div class="col-sm-3">
                              <label for="add_size">Size</label>
                              <input type="number" class="form-control" required id="add_size" name="add_size" >
                            </div>
                            <div class="col-sm-3">
                              <label for="add_uom">Measure </label>
                              <select class="form-control" required id="add_uom" name="add_uom"  >
                                <% if (uom == null || uom == undefined || uom.length == 0){ %>
                                  <option></option>
                                <% }else{ %>
                                  <% uom.forEach(function(s){ %>
                                    <option value="<%=s.intUomNo%>"><%=s.strUnitName%></option>
                                  <% }) %>

                                <% } %>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-4">
                              <label for="add_variant">Variant</label>
                              <input type="text" class="form-control" id="add_variant" name="add_variant" >
                            </div>
                            <div class="col-sm-4">
                              <label for="add_barcode">Barcode</label>
                              <input type="number" required class="form-control" id="add_barcode" name="add_barcode" >
                            </div>
                            <div class="col-sm-2">
                              <label for="shelf">Shelf No</label>
                              <input type="number" class="form-control"id="add_shelf" name="add_shelf" >
                            </div>
                            <div class="col-sm-2">
                              <label for="add_critical">Critical Limit</label>
                              <input type="number" required class="form-control" required id="add_critical" name="add_critical" >
                            </div>
                          </div>
                        </div>


                        <div class="box-footer">
                          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                           <button type="reset" class="large ui button">Clear Fields</button>
                           <a href=""><button type="submit" class="large ui teal button">Submit</button></a>
                        </div>
                      </div>
                    </form>

                </div>
              </div>

            </div>


            <!-- Inactive Products -->
            <div class="tab-pane" id="inactiveProducts">

              <a data-toggle="modal" data-target="#legend_modal"><i style="font-size: 30px" class="glyphicon glyphicon-info-sign"></i> </a>


              </br>
              <!-- /.box-header -->
              <div class="box-body table-responsive">
                <table id="inactive_table" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th style="width: 140px" ></th>
                    <th>No</th>

                    <th>Variant</th>
                    <th>Supplier</th>

                    <th>Price</th>
                    <th style="width: 20px">Quantity</th>
                    <th style="width: 10px">Status</th>

                  </tr>
                  </thead>
                  <tbody>
                    <% if (re_inactive == null || re_inactive == undefined || re_inactive.length == 0) { %>

                    <% }else { %>
                      <% re_inactive.forEach(function(i){ %>
                        <tr>
                          <form>
                            <td>
                              <center>
                                <button type="button" data-number="<%=i.intInventoryNo%>" data-toggle="modal" data-target="#addStock" class="addStock large ui teal button" ><i class="fa fa-plus"></i></button>

                                <!-- <button type="button" data-number="<%=i.intInventoryNo%>" data-product="<%=i.intProductNo%>" data-srp="<%=i.productSRP%>" data-price="<%=i.productPrice%>" data-shelf="<%=i.intShelfNo%>" data-critical="<%=i.intCriticalLimit%>"  data-toggle="modal" data-target="#editInventory" class="editbutton large ui blue button" ><i class="fa fa-edit"></i></button> -->

                                <div class="btn-group">
                                  <button type="button" class="large ui blue button" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-option-horizontal"></i>

                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a type="button" class="editbutton" data-number="<%=i.intInventoryNo%>" data-srp="<%=i.productSRP%>" data-price="<%=i.productPrice%>" data-toggle="modal" data-target="#editPrice">Edit Price</a></li>
                                    <li><a type="button" class="editbutton" data-number="<%=i.intInventoryNo%>" data-product="<%=i.intProductNo%>" data-variant="<%=i.strVariant%>" data-shelf="<%=i.intShelfNo%>" data-critical="<%=i.intCriticalLimit%>"  data-toggle="modal" data-target="#editInventory">Edit Details</a></li>
                                    <li><a href="/inventory/seeBatch?p=<%=i.intInventoryNo%>">See Batch Products</a></li>
                                    <li><a href="/inventory/transactions?product=<%=i.intProductNo%>&ino=<%=i.intInventoryNo%>">See Transactions</a></li>
                                  </ul>
                                </div>
                                <button id="activate_product" data-product="<%=i.intInventoryNo%>" data-toggle="tooltip" title="Activate" class="large ui orange button"><i class="fa fa-check"></i></button>


                              </center>

                            </td>
                          </form>
                          <td><%=i.intInventoryNo%></td>

                          <td><%=i.strVariant%> <%=i.intSize%>&nbsp;<%=i.strUnitName%></td>
                          <td><%=i.strBusinessName%></td>
                          <td>₱ <%=(i.productPrice).toFixed(2)%></td>
                          <!-- <td><%= moment(i.expirationDate).format("MMM Do YYYY")%></td> -->
                          <td><%=i.intQuantity%></td>
                          <td>
                            <% if (i.intStatus == 1){ %>

                            <% }else{ %>

                            <% } %>

                            <% if (i.intQuantity == 0){ %>
                              <a class="ui red circular label"></a>
                            <% }else if(i.intQuantity < i.intCriticalLimit || i.intQuantity == i.intCriticalLimit){ %>
                              <a class="ui orange circular label"></a>
                            <% }else{ %>
                              <a class="ui green circular label"></a>
                            <% } %>



                          </td>

                      </tr>
                      <% }) %>
                    <% } %>

                  </tbody>

                </table>
              </div>
              <!-- /.box-body -->
            </div>

          </div>
          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

  <!-- Modals -->

  <div class="modal fade" id="addStock">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Product Stock Form</h4>
      </div>
      <div class="modal-body">
      <!-- Horizontal Form -->

      <!-- form start -->

      <% var num = "1000" %>
      <% if (lastbatch == undefined || lastbatch == null){ %>

      <% }else if (lastbatch.length == 0){ %>

      <% }else{ %>
      <% num = parseInt(lastbatch[0].intBatchNo) + 1 %>
      <% } %>

        <form   id="addStock_form">
          <div class="box-body">
            <div class="form-group">
              <label for="">Batch No:</label>
              <input type="text" class="form-control" value="<%=num%>" name="batch" id="batch" placeholder="">
              <input type="hidden" class="form-control" name="ino" id="ino" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Expiration Date:</label>
              <input type="date" required class="form-control" name="expire" id="expire" placeholder="">
            </div>

            <div class="form-group">
              <label for="">Quantity:</label>
              <input type="number" required class="form-control" name="quantity" id="quantity" placeholder="">
            </div>

          </div>


      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
      <button type="submit" data-product="<%=product%>" id="save_stock" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



  <div class="modal fade" id="selectSupplier">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Supplier List</h4>
      </div>
      <div class="modal-body">

      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-hover">
          <thead>
            <% if (su == null || su == undefined || su.length == 0){ %>
              <h4> No records of Suppliers </h4>
            <% } else { %>
          <tr>
            <th>Supplier No</th>
            <th>Supplier Name</th>
            <th>Business Name</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

            <% su.forEach(function(i){ %>
          <tr>
                <td><%=i.intUserID%></td>
                <td><%=i.strFname%>&nbsp;<%=i.strLname%></td>
                <td><%=i.strBusinessName%></td>
                <td><button data-dismiss="modal" data-commission="<%=i.consignmentPrice%>" data-supplierid="<%=i.intUserID%>" data-business="<%=i.strBusinessName%>" data-supplier="<%=i.strFname%> <%=i.strLname%>"  class="setter btn btn-info btn-sm">Select</button></td>

          </tr>
          <% }) %>
        <% } %>


          </tbody>

        </table>
      </div>
      <!-- /.box-body -->

       </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
 </div>

 <div class="modal fade" id="editPrice">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title">Update Price</h4>
       </div>
       <div class="modal-body">

        <!-- Update -->
        <div >
          <form id="updatePrice_form" >

            <div class="form-group">
              <input type="hidden" name="ino" class="ino">
              <div class="for_price">
                <label for="">SRP</label>
                <input type="number" required value="0" name="srp" class="srp form-control">
                <label for="">Product Price</label>
                <input type="number" required value="0" name="price" class="price form-control">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="large ui button pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="large ui teal button">Save</button>

            </div>
          </form>
        </div>

       </div>
     <!-- /.modal-content -->
   </div>
  <!-- /.modal-dialog -->
 </div>
</div>

 <div class="modal fade" id="editInventory">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title">Update Details</h4>
       </div>
       <div class="modal-body">
        <!-- Update -->
        <div>
        </br>
          <form id="updateDetails_form">

            <div class="form-group">
              <input type="hidden" name="ino" class="ino">
              <input type="hidden" name="pno" class="pno">
              <div class="for_shelf">
                <label for="">Shelf</label>
                <input type="number" required value="0" name="shelf" class="shelf form-control">
              </div>
              <div class="for_critical">
                <label for="">Critical Limit</label>
                <input type="number" required value="0" name="critical" class="critical form-control">
              </div>
              <div class="for_variant">
                <label for="">Product Variant</label>
                <input type="text" required value="0" name="variant" class="variant form-control">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="large ui button pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="large ui teal button">Save</button>

            </div>
          </form>
        </div>

       </div>
     <!-- /.modal-content -->
   </div>
  <!-- /.modal-dialog -->
 </div>
</div>



<%- include('../../../templates/admin-aside.ejs') -%>

  <!-- ./wrapper -->

  <!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


  <!-- page script (new added) -->
  <script>
    $(function () {
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
  	  'select'		: true,
  	  'scroll'		: true

      })
    })



  </script>

  <script>
    $('#activate_product').on('click',function(){

      swal({
       title: 'Are you sure?',
       text: "Your customers will be able to see this product",
       type: 'warning',
       showCancelButton: true,
       confirmButtonColor: '#3085d6',
       confirmButtonText: 'Yes, activate this!',
       reverseButtons: true
      }).then((result) => {
       if (result.value) {
         $.post('/inventory/activateProduct',{product: $('#activate_product').data('product')}, function(data,status){
           if(data){
             swal({title: "Success!", text:"", type: "success"}).then(()=>{
               location.reload();
             })
           }
         })
       }
      })

    })

    $('#inactivate_product').on('click',function(){

      swal({
       title: 'Are you sure?',
       text: "Your customers won't be able to see this product",
       type: 'warning',
       showCancelButton: true,
       confirmButtonColor: '#3085d6',
       confirmButtonText: 'Yes, inactivate this!',
       reverseButtons: true
      }).then((result) => {
       if (result.value) {
         $.post('/inventory/inactivateProduct',{product: $('#inactivate_product').data('product')}, function(data,status){
           if(data=="reserved"){
             swal({title: "Error!", text:"You have orders for this product. Please assess the orders first.", type: "error"});
           }else{
             swal({title: "Success!", text:"", type: "success"}).then(()=>{
               location.reload();
             })

           }
         })

       }
      })


    })
  </script>



  <script>
    $('.editbutton').on('click',function(){
      $('.ino').val($(this).data('number'));
      $('.pno').val($(this).data('product'));
      $('.price').val($(this).data('price'));
      $('.srp').val($(this).data('srp'));
      $('.shelf').val($(this).data('shelf'));
      $('.critical').val($(this).data('critical'));
      $('.variant').val($(this).data('variant'));

    })
  </script>

  <script>
    $('.addStock').on('click',function(){
      $('#ino').val($(this).data('number'));

    })
  </script>

  <script>

  $('#addStock_form').submit(function(e){
    e.preventDefault();
    $.post('/inventory/addStock', $('#addStock_form').serialize(), function(data,status){
      if(data == 'yes'){
        swal({title: 'Success!', text: '', type: 'success'}).then(()=>{location.reload();})
      }else{
        swal('Error','','error');
      }
    })
  })

  $('#updatePrice_form').submit(function(e){
    e.preventDefault();
    $.post('/inventory/updatePrice', $('#updatePrice_form').serialize(), function(data,status){
      if(data == 'yes'){
        swal({title: 'Success!', text: '', type: 'success'}).then(()=>{location.reload();})
      }else{
        swal('Error','','error');
      }
    })
  });

  $('#updateDetails_form').submit(function(e){
    e.preventDefault();
    $.post('/inventory/update', $('#updateDetails_form').serialize(), function(data,status){
      if(data == 'yes'){
        swal({title: 'Success!', text: '', type: 'success'}).then(()=>{location.reload();})
      }else{
        swal('Error','','error');
      }
    })
  });




  </script>

  <script>
    $('.viewButton').on('click', function(){
      $('#view_prodno').val($(this).data('prodno'));
      $('#view_pcode').val($(this).data('prodcode'));
      $('#view_pname').val($(this).data('prodname'));
      $('#view_pdesc').val($(this).data('proddesc'));
      $('#view_prodpic').val($(this).data('prodpic'));
      var filename = "/images/" + $(this).data('prodpicture');
      //alert(filename);
      $('#pic').attr('src',filename);

      var brand = $(this).data('prodbrand');
      $('#view_brand').find('option').each( function() {
        var $this = $(this);
        if ($this.val() == brand) {
           $this.attr('selected','selected');
           return false;
        }
      });

      var categ = $(this).data('prodcateg');
      $('#view_pcat').find('option').each( function() {
        var $this = $(this);
        if ($this.val() == categ) {
           $this.attr('selected','selected');
           return false;
        }
      });

    });
  </script>


  <script>
    $('#title').html("USG | All Products");

    $(".treeview a:contains('Inventory')").parent().addClass("active");
    $(".navi a:contains('All Products')").parent().addClass("active");
  </script>

  <script>
    $(function () {
      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
      'select'		: true,
      'scroll'		: true,
      'searching' : true
      })
    })

    $(function () {
      $('#inactive_table').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : true,
      'select'		: true,
      'scroll'		: true,
      'searching' : true
      })
    })
  </script>

  <script>
    $('.setter').on('click', function(){
      $('#add_sno').val($(this).data('supplierid'));
      $('#add_sname').val($(this).data('supplier'));
      $('#add_bname').val($(this).data('business'));
      $('#commission').val($(this).data('commission'));
    })

    $('#add_srp').on('keyup',function(){
      var added = parseInt($(this).val()) + parseInt(($('#commission').val() / 100) * $(this).val());
      $('#add_price').val(added);
    })
  </script>

  <script>
    $('#newProductForm').submit(function(e){
      e.preventDefault();
      $.ajax({
        url: '/inventory/addProductItem',
        type: 'post',
        data: $('#newProductForm').serialize(),
        success: function(response, status, http){
          if (response){
            swal("Success!","You added a new product item!", "success");
            location.href = response;
          }
        },
        error: function(response){
          swal("Error!","Please try again", "error");
          location.reload();
        }
      })
    })


  </script>


  <!-- Optionally, you can add Slimscroll and FastClick plugins.
       Both of these plugins are recommended to enhance the
       user experience. -->
  </body>
  </html>
