<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Inventory</a></li>
        <li class="active">Pulled-Out Stocks</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h4 align="center">Pulled-out Stocks</h4>
            </div>
			<!-- buttons -->

            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Batch No</th>
                  <th>Product Name</th>
                  <th>Supplier</th>
				          <th>Quantity</th>
                  <th>Date Pulled-out</th>
                </tr>
                </thead>
                <tbody>
                  <% if (re == null || re == undefined){ %>

                  <% }else if (re.length == 0){ %>

                  <% }else{ %>
                  <%  re.forEach(function(i){ %>
                      <tr>
                        <td><%=i.intBatchNo %></td>
                        <td><%=i.strBrand%> <%=i.strProductName%> <%=i.intSize%> <%=i.strUnitName%></td>
                        <td><%=i.strFname%> <%=i.strLname%></td>
                        <td><%=i.quantity%></td>
                        <td><%=moment(i.pullOutDate).format("MM/DD/YYYY")%></td>
                      </tr>
                    <% }) %>
                  <% } %>




                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->


<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>


<script>
$('#title').html("USG | Pulled-Out Stocks");
$(".treeview a:contains('Inventory')").parent().addClass("active");
$(".navi a:contains('Pulled-Out')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
