<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Please monitor stocks regularly, check if there is damaged products.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Inventory</a></li>
        <li class="active">Supplier Products</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Supplier Products</h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Business Name</th>
                  <th>Supplier Type</th>
                  <th>Supplier Name</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <% if (re == null || re == undefined){ %>

                      <% }else if (re.length == 0){ %>

                      <% }else{ %>
                        <% var count = 1; %>
                       <%  re.forEach(function(i){ %>
                          <tr>
                            <td><%= count%></td>
                            <td><%= i.strBusinessName%></td>
                            <td>
                              <% if(i.intSupplierType == 1){ %>
                                Consignor
                              <% }else{ %>
                                Outright
                              <% } %>
                            </td>
                            <td><%= i.strFname%> <%=i.strMname%> <%=i.strLname%></td>

                            <td><button data-id="<%=i.intUserID%>" type="button" data-toggle="modal" data-target="#viewProduct" class="viewDetailsButton large ui teal button">View Product</button></a>
                          </tr>
                          <% count++ %>
                        <%  }) %>
                        <% } %>
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.box -->

	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->

  <div class="modal fade" id="viewProduct">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="loadProducts"></div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
$('#title').html("USG | Supplier Products");

$(".treeview a:contains('Inventory')").parent().addClass("active");
$(".navi a:contains('Products per Supplier')").parent().addClass("active");
</script>

<script>
  $('.viewDetailsButton').on('click',function(){
    var id =  $(this).data('id')
    $.post('/inventory/loadProducts',{user: id},function(data,status){
      if(data){
        $('#loadProducts').load(`/inventory/loadProducts2`)

      }
    })
  })
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
