<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Change order status by clicking assess button.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Orders</a></li>
        <li class="active">Orders</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-sm-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#allOrders" data-toggle="tab"> All Orders</a></li>
              <li><a href="#recentOrders" data-toggle="tab"> Recent Orders</a></li>
              <li><a href="#cancelledOrders" data-toggle="tab"> Cancelled Orders</a></li>
            </ul>
            <div class="tab-content">
              <!-- All Orders -->
              <div class="tab-pane active" id="allOrders">

                <div class="box-body table-responsive">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Order No</th>
                      <th>Customer Name</th>
                      <th>Order Date</th>
                      <th>Status</th>
                      <th>Payment</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (re == null || re == undefined || re.length == 0){ %>
                    <% }else{ %>
                    <%  re.forEach(function(i){ %>
                      <tr>
                        <td><%= i.intOrderNo %></td>
                        <td><%= i.strFname %>&nbsp;<%= i.strMname %>&nbsp;<%=i.strLname%></td>
                        <td><%= moment(i.dateOrdered).format("MM/DD/YYYY") %></td>
                        <td>
                          <% if (i.Stat == 0){ %>
                            <span class="large ui yellow label">Pending</span>
                          <% }else if(i.Stat == 1){ %>
                            <span class="large ui blue label">Processing</span>
                          <% }else if(i.Stat == 2){ %>
                            <span class="large ui brown label">Shipped</span>
                          <% }else if (i.Stat == 3){ %>
                            <span class="large ui green label">Delivered</span>
                          <% }else if(i.Stat == 4){ %>
                            <span class="large ui label">Will not deliver</span>
                          <% }else if(i.Stat == 5){ %>
                            <span class="large ui grey label">Returned</span>
                          <% }else{ %>
                            <span class="large  ui red label">Cancelled</span>
                          <% } %>
                        </td>

                        <td>
                          <% if (i.intPaymentStatus == 0){ %>
                          <a class="large ui orange circular label">Not Paid</a>

                          <% }else{ %>
                            <a class="large ui teal circular label">Paid</a>

                          <% } %>
                        </td>
                        <td>
                          <center>
                          <% orderno = i.intOrderNo %>
                          <a href="/customerOrder/invoice?order=<%=orderno%>"><button class="large ui button">View Invoice</button></a>
                            <a href="/customerOrder/assessOrder?order=<%=orderno%>"><button class="large ui blue button">Assess</button></a>
                        </center>
                        </td>
                      </tr>
                    <% }) %>
                    <% } %>
                    </tbody>
                  </table>
                </div>
                <!-- /.box-body -->

              </div>

              <!-- Recent Orders -->
              <div class="tab-pane" id="recentOrders">
                <div class="box-body table-responsive">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Order No</th>
                      <th>Customer Name</th>
                      <th>Order Date</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (re2 == null || re2 == undefined || re2.length == 0){ %>
                    <% }else{ %>
                    <%  re2.forEach(function(i){ %>
                      <tr>
                        <td><%= i.intOrderNo %></td>
                        <td><%= i.strFname %>&nbsp;<%= i.strMname %>&nbsp;<%=i.strLname%></td>
                        <td><%= moment(i.dateOrdered).format("MM/DD/YYYY") %></td>
                        <td>
                          <% if (i.Stat == 0){ %>
                            <span class="label label-warning">Pending</span>
                          <% }else if(i.Stat == 1){ %>
                            <span class="label label-info">Processing</span>
                          <% }else if(i.Stat == 2){ %>
                            <span class="label label-default">Shipped</span>
                          <% }else if (i.Stat == 3){ %>
                            <span class="label label-default">Delivered</span>
                          <% }else if(i.Stat == 4){ %>
                            <span class="label label-default">Will not deliver</span>
                          <% }else if(i.Stat == 5){ %>
                            <span class="label label-default">Returned</span>
                          <% }else{ %>
                            <span class="label label-danger">Cancelled</span>
                          <% } %>
                        </td>
                        <td>
                          <center>
                          <% orderno = i.intOrderNo %>
                          <a href="/customerOrder/invoice?order=<%=orderno%>"><button class="large ui button">View Invoice</button></a>
                            <a href="/customerOrder/assessOrder?order=<%=orderno%>"><button class="large ui blue button">Assess</button></a>
                        </center>
                      </td>
                      </tr>
                    <% }) %>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Cancelled Orders -->
              <div class="tab-pane" id="cancelledOrders">
                <div class="box-body table-responsive">
                  <table id="example3" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Order No</th>
                      <th>Customer Name</th>
                      <th>Order Date</th>
                      <th>Status</th>
                      <th>Reason</th>
                      <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (re3 == null || re3 == undefined || re3.length == 0){ %>
                    <% }else{ %>
                    <%  re3.forEach(function(i){ %>
                      <tr>
                        <td><%= i.intOrderNo %></td>
                        <td><%= i.strFname %>&nbsp;<%= i.strMname %>&nbsp;<%=i.strLname%></td>
                        <td><%= moment(i.dateOrdered).format("MM/DD/YYYY") %></td>
                        <td>
                          <% if (i.Stat == 0){ %>
                            <span class="label label-warning">Pending</span>
                          <% }else if(i.Stat == 1){ %>
                            <span class="label label-info">Processing</span>
                          <% }else if(i.Stat == 2){ %>
                            <span class="label label-default">Shipped</span>
                          <% }else if (i.Stat == 3){ %>
                            <span class="label label-default">Delivered</span>
                          <% }else if(i.Stat == 4){ %>
                            <span class="label label-default">Will not deliver</span>
                          <% }else if(i.Stat == 5){ %>
                            <span class="label label-default">Returned</span>
                          <% }else{ %>
                            <span class="label label-danger">Cancelled</span>
                          <% } %>
                        </td>
                        <td><%=i.strCancellationReason%></td>
                        <td>
                          <% orderno = i.intOrderNo %>
                          <a href="/customerOrder/invoice?order=<%=orderno%>"><button class="large ui button">View Invoice</button></a>
                          <a href="/customerOrder/orderHistory?order=<%=orderno%>"><button class="large ui teal button">View History</button></a>
                        </td>
                      </tr>
                    <% }) %>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->


<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'order'       : [[0, "desc"]],
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example3').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
$('#title').html("USG | All Customer Orders");
$(".treeview a:contains('Transactions')").parent().addClass("active");
$(".navi a:contains('Customer Orders')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
