<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Order No. <%= orderno %>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Orders</a></li>
        <li class="active">Assess Order</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <!-- LEFT SIDE -->
          <div class="col-md-8">
            <div class="row">
              <!-- Order Information -->
              <div class="col-md-6">
                <div class="box box-default box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Order Details</h3>

                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <p style="font-size:16px">
                     <strong>Store:</strong>&nbsp;&nbsp; Ultra Super Green, Quezon City Branch </br>
                     <strong>Order Date: </strong>&nbsp;&nbsp; <%= moment(customer[0].dateOrdered).format("MM/DD/YYYY") %> </br>
                     <strong>Payment Method: </strong>&nbsp;&nbsp;
                     <% if (customer[0].intPaymentMethod == 1) { %>
                       Cash on Delivery
                       <% }else { %>
                         Bank Deposit
                         <% } %>
                       </br>
                       <br>
                    </p>

                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>

              <!-- Customer details -->
              <div class="col-md-6">
                <div class="box box-default box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Customer Details</h3>


                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <p  style="font-size:16px">
                      <i class=""></i><strong>Name: </strong>&nbsp;&nbsp; <%= customer[0].strFname %>&nbsp;<%= customer[0].strLname %></br>
                      <i class=""></i><strong>Mobile No.: </strong>&nbsp;&nbsp;<%= customer[0].strCusMobileNo %>  </br>
                      <i class=""></i><strong>Phone no.: </strong>&nbsp;&nbsp;<%= customer[0].strCusPhoneNo %></br>
                      <i class=""></i><strong>Email Address: </strong>&nbsp;&nbsp;<%= customer[0].strEmail %></br>
                    </p>

                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>

            <div class="row">
              <!-- Order Details -->
              <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <tr>
                            <th class ="bg-success">Shipping Address</th>
                            <th class ="bg-success">Billing Address</th>

                          </tr>
                          <tr>

                            <td><%= customer[0].strShippingAddress %></td>
                            <td><%= customer[0].strBillingAddress %></td>

                          </tr>

                        </table>
                      </div>
                    </div>
                  </br>
                    <div class="row">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <thead class ="bg-success">
                            <tr>

                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Product Price</th>
                              <th>Discount</th>
                              <th>Subtotal</th>

                            </tr>
                          </thead>
                          <tbody>
                            <% orderlist.forEach(function(i){ %>
                              <tr>

                                <td><%= i.productName%></td>
                                <td><%= i.intQuantity %></td>
                                <td>₱ <%= (i.purchasePrice).toFixed(2) %></td>
                                <% if(i.discount == null){ %>

                                <% }else{ %>

                                <% } %>
                                <td><%= parseFloat(i.discount)  %> %</td>
                                <% var subT = ((i.intQuantity * i.purchasePrice).toFixed(2)) * (parseFloat(i.discount) / 100) %>
                                <td>₱ <%= (i.intQuantity * i.purchasePrice).toFixed(2) - subT %></td>

                              </tr>
                            <% }) %>

                          </tbody>

                        </table>
                      </div>
                    </div>

                    <div class="row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <tr>
                            <th style="width: 50%"></th>
                            <th style="width: 100px"></th>
                          </tr>
                          <tr>
                            <td><strong>Total: </strong></td>
                            <td  align="right">₱ <%= (total).toFixed(2) %></td>
                          </tr>
                          <tr>
                            <td><strong>less (voucher):</strong></td>
                            <td  align="right">₱ 0.00</td>

                          </tr>


                          <tr>
                            <td><strong>Amount:</strong></td>
                            <td align="right">₱ <%= (total).toFixed(2) %></td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                      <h4 align="center">Order History</h4>
                    </div>
                    <!-- /.box-header -->

                      <div class="box-body">
                        <div class="box-body table-responsive">
                          <table id="history_table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>Transaction Date</th>
                              <th>Order Status</th>
                              <th>Payment Status</th>

                            </tr>
                            </thead>
                            <tbody>
                              <% if(history==null||history==undefined){ %>

                              <% }else if(history.length==0){ %>

                              <% }else{ %>
                              <%  history.forEach(function(i){ %>
                                  <tr>
                                    <td><%= moment(i.historyDate).format("MM/DD/YYYY h:mm a") %></td>

                                    <td><% if (i.intStatus == 0){ %>
                                      Pending
                                    <% }else if(i.intStatus == 1){ %>
                                      Processing
                                    <% }else if(i.intStatus == 2){ %>
                                      Shipped
                                    <% }else if (i.intStatus == 3){ %>
                                      Delivered
                                    <% }else if(i.intStatus == 4){ %>
                                      Will not deliver
                                    <% }else if(i.intStatus == 5){ %>
                                      Returned
                                    <% }else{ %>
                                      Cancelled
                                    <% } %></td>

                                    <td><% if (i.intPaymentStatus == 0){ %>
                                      Awaiting Payment
                                    <% }else if(i.intPaymentStatus == 1){ %>
                                      Paid
                                    <% }else{ %>
                                      Cancelled
                                    <% } %></td>
                                  </tr>
                              <%  }) %>
                              <% } %>

                            </tbody>

                          </table>
                        </div>
                      </div>
                      <div class="box-footer">
                        <a href="/customerOrder/orderHistory?order=<%= orderno %>"><button class="large ui green button pull-right">View all</button></a>
                      </div>

                </div>
              </div>

            </div>
          </div>

          <!-- RIGHT SIDE -->
          <div class="col-md-4">
            <div class="row">

              <!-- Shipping information -->
              <div class="col-md-12">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shipping Information</h3>

                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <label for="method">Method:</label>
                    <select class="form-control"  id="shippingmethod">
                      <option value="None">None</option>
                      <option value="Courier">Courier</option>
                      <option value="Local Pickup">Local Pickup</option>

                    </select>
                    </br>
                    <label for="carrier">Courier:</label>
                    <input class="form-control"   id="courier">

                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>

            <!-- <div class="row">


              <div class="col-md-12">
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">Payment Information</h3>


                  </div>

                  <div class="box-body">
                    <p style="font-size:15px">
                      <strong>Payment Method:</strong> &nbsp;&nbsp;&nbsp;
                      <% if (customer[0].intPaymentMethod == 1) { %>
                        Cash on Delivery
                        <% }else { %>
                          Bank Deposit
                          <% } %> </br>
                      <% if (customer[0].intPaymentMethod == 1) { %>

                        <% }else { %>
                              <strong>Deposit Slip:</strong> &nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#depositSlip_modal" href="#">Click here</a> </br>
                          <% } %>

                    </p>
                    </br>
                    <label for="stats">Payment Status:</label>
                    <select class="form-control" id="paymentstatus">
                      <option id="payment_awaiting" value="0">Awaiting Payment</option>
                      <option id="payment_paid" value="1">Paid</option>
                      <option id="payment_partially" value="2">Partially Paid</option>
                      <option id="payment_cancelled" value="3">Cancelled</option>
                      <option id="payment_refunded" value="4">Refunded</option>
                    </select>
                  </div>

                </div>

              </div>
            </div> -->

            <div class="row">
              <!-- Order status -->
              <div class="col-md-12">
                <div class="box box-warning">
                  <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <p style="font-size:15px">
                      <strong>Payment Method:</strong> &nbsp;&nbsp;&nbsp;
                      <% if (customer[0].intPaymentMethod == 1) { %>
                        Cash on Delivery
                        <% }else { %>
                          Bank Deposit
                          <% } %>
                      <% if (customer[0].intPaymentMethod == 1) { %>

                        <% }else { %>
                            <br>  <strong>Deposit Slip:</strong> &nbsp;&nbsp;&nbsp;<a data-toggle="modal" data-target="#depositSlip_modal" href="#">Click here</a>
                          <% } %>

                    </p>

                    <br>
                    <label for="stats">Order Status:</label>
                    <select class="form-control" id="orderstatus">
                      <option id="order_pending" value="0">Pending</option>
                      <option id="order_processing" value="1">Processing</option>
                      <option id="order_shipped" value="2">Shipped</option>
                      <option id="order_delivered" value="3">Delivered</option>
                      <option id="order_notDeliver" value="4">Will not Deliver</option>
                      <option id="order_returned" value="5">Returned</option>
                      <option id="order_cancelled" value="6">Cancelled</option>
                    </select>
                  </br>
                  <label for="stats">Payment Status:</label>
                  <select class="form-control" id="paymentstatus">
                    <option id="payment_awaiting" value="0">Awaiting Payment</option>
                    <option id="payment_paid" value="1">Paid</option>
                    <option id="payment_partially" value="2">Partially Paid</option>
                    <option id="payment_cancelled" value="3">Cancelled</option>
                    <option id="payment_refunded" value="4">Refunded</option>
                  </select>



                </br>
                    <label for="notify">

                      <input type="checkbox" id="notify" class="flat-red">
                      &nbsp;Notify Customer

                    </label>

                  </br>
                </br>
                    <label for="comment">Message to Customer</label>
                    <textarea id="message" class="form-control"></textarea>
                  </br>
                  <button id="submit" class="fluid large ui teal button pull-right">Submit</button>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>
          </div>

      </div>
      <!-- END OF ROW -->


    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <div class="modal fade" id="depositSlip_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 align="center">Deposit Slip</h4>
        </div>

        <div class="modal-body">
          <% var filename = "/customer-assets/images/userImages/bankslips/" + customer[0].depositSlip; console.log(filename); %>
          <div class="row">
            <div class="col-sm-12">
              <img src="<%=filename%>" class="img-responsive"  >

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#history_table').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : false,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('#title').html("USG | All Orders");
  $(".treeview a:contains('Transactions')").parent().addClass("active");
  $(".treeview a:contains('Customer Orders')").parent().addClass("active");
  $(".navi a:contains('All Orders')").parent().addClass("active");
</script>

<script>
  //Flat red color scheme for iCheck
  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    checkboxClass: 'icheckbox_flat-green',
    radioClass   : 'iradio_flat-green'
  })

  $('#message').attr('disabled', true);
  $('#notify').on('ifChecked',function(){
    $('#message').attr('disabled', false);
  })
  $('#notify').on('ifUnchecked',function(){
    $('#message').attr('disabled', true);
  })

</script>

<script>
  // shipped
  if(<%= customer[0].Stat %> == 2){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
  //  $('#order_shipped').attr('disabled',true);

  }

  // Pending
  if(<%= customer[0].Stat %> == 0){
  //  $('#order_pending').attr('disabled',true);
    $('#order_delivered').attr('disabled',true);

  }

  // Processing
  if(<%= customer[0].Stat %> == 1){
    $('#order_pending').attr('disabled',true);
    //$('#order_processing').attr('disabled',true);


  }

  // delivered
  if(<%= customer[0].Stat %> == 3){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
    $('#order_cancelled').attr('disabled',true);
  //  $('#order_delivered').attr('disabled',true);

  }

  // cancelled
  if(<%= customer[0].Stat %> == 3){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
    $('#order_cancelled').attr('disabled',true);

  }

  // will not delivered
  if(<%= customer[0].Stat %> == 4){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_delivered').attr('disabled',true);
  //  $('#order_notDeliver').attr('disabled',true);
    $('#order_returned').attr('disabled',true);

  }

  // cancelled
  if(<%= customer[0].Stat %> == 6){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_delivered').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
  $('#order_returned').attr('disabled',true);
    $('#order_cancelled').attr('disabled',true);

  }

  // not working
  $('#payment_partially').attr('disabled',true);
  $('#payment_refunded').attr('disabled',true);
  $('#payment_cancelled').attr('disabled',true);


</script>

<script>
$(document).ready(function(){
  $('#orderstatus').val("<%= customer[0].Stat %>");
  $('#paymentstatus').val("<%= customer[0].intPaymentStatus %>");
  $('#shippingmethod').val("<%=customer[0].strShippingMethod %>");
  $('#courier').val("<%=customer[0].strCourier%>");



$('#submit').on('click',function(){
  var notifyCustomer = "";
  if (document.getElementById('notify').checked == true){
    notifyCustomer = 1;
  }else{
    notifyCustomer = 0;
  }
  $.ajax({
    url: '/customerOrder/assessOrder',
    method: 'POST',
    datatype: "json",
    data: {orderNo: '<%= customer[0].intOrderNo %>',
          shippingMethod: $('#shippingmethod').val(),
          courier: $('#courier').val(),
          orderStatus: $('#orderstatus').val(),
          paymentStatus: $('#paymentstatus').val(),
          notify: notifyCustomer,
          message: $('#message').val(),
          total: '<%=total%>'
          },
    success: function(response,status,http){
      if (response){
        if (response == "yes"){
          confirm_alert();

        }else if(response == "false"){
          swal("Error!","You don't have enough stocks","error");

        }else{
          swal("Error!","","error");

        }
      }
    }
  });

});

});

</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
