<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Order No. <%= orderno %>
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Orders</a></li>
        <li class="active">Orders</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
          <!-- LEFT SIDE -->
          <div class="col-md-8">
            <div class="row">
              <!-- Order Information -->
              <div class="col-md-6">
                <div class="box box-default box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Order Details</h3>

                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <i class="fa fa-shopping-cart"></i> Store: Ultra Super Green, Quezon City Branch </br>
                    <i class="fa fa-calendar"></i> Order Date: <%= moment(customer[0].dateOrdered).format("MM/DD/YYYY") %> </br>
                    <i class="fa fa-credit-card"></i> Payment Method:
                     <% if (customer[0].intPaymentMethod == 1) { %>
                       Cash on Delivery
                       <% }else { %>
                         Bank Deposit
                         <% } %>
                       </br>


                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>

              <!-- Customer details -->
              <div class="col-md-6">
                <div class="box box-default box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Customer Details</h3>

                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <i class=""></i>Name: <%= customer[0].strFname %>&nbsp;<%= customer[0].strLname %></br>
                    <i class=""></i>Mobile No.: <%= customer[0].strCusMobileNo %>  </br>
                    <i class=""></i>Phone no.: <%= customer[0].strCusPhoneNo %></br>
                    <i class=""></i>Email Address: <%= customer[0].strEmail %></br>


                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>

            <div class="row">
              <!-- Order Details -->
              <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                      <h3 class="box-title">Order Details</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <tr>
                            <th>Shipping Address</th>
                            <th>Billing Address</th>

                          </tr>
                          <tr>

                            <td><%= customer[0].strShippingAddress %></td>
                            <td><%= customer[0].strBillingAddress %></td>

                          </tr>

                        </table>
                      </div>
                    </div>
                  </br>
                    <div class="row">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Product Code</th>
                              <th>Product Name</th>
                              <th>Quantity</th>
                              <th>Product Price</th>
                              <th>Subtotal</th>

                            </tr>
                          </thead>
                          <tbody>
                            <% orderlist.forEach(function(i){ %>
                              <tr>
                                <td><%= i.strProductCode %></td>
                                <td><%= i.strProductName %> <%=i.intSize%> <%=i.strUnitName%></td>
                                <td><%= i.quantity %></td>
                                <td>₱ <%= (i.purchasePrice).toFixed(2) %></td>
                                <td>₱ <%= (i.quantity * i.purchasePrice).toFixed(2) %></td>

                              </tr>
                            <% }) %>

                          </tbody>

                        </table>
                      </div>
                    </div>

                  </br>
                    <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-4">
                      <div class="box-body">
                        <table class="table table-bordered">
                          <tr>
                            <th style="width: 50%"></th>
                            <th style="width: 100px"></th>
                          </tr>
                          <tr>
                            <td>Discount:</td>
                            <td  align="right"> 0%</td>

                          </tr>
                          <tr>
                            <td>Total: </td>
                            <td  align="right">₱ <%= (total).toFixed(2) %></td>
                          </tr>

                          <tr>
                            <td>Amount Due: </td>
                            <td align="right">₱ <%= (total - payment).toFixed(2) %></td>
                          </tr>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- RIGHT SIDE -->
          <div class="col-md-4">
            <div class="row">

              <!-- Shipping information -->
              <div class="col-md-12">
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">Shipping Information</h3>

                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <label for="method">Method:</label>
                    <select class="form-control"  id="shippingmethod">
                      <option value="None">None</option>
                      <option value="Courier">Courier</option>
                      <option value="Local Pickup">Local Pickup</option>
                      <option value="Free Shipping">Free shipping</option>
                    </select>
                    </br>
                    <label for="carrier">Courier:</label>
                    <input class="form-control" required placeholder="insert validations here"  id="courier">

                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>
            <div class="row">
              <!-- Order status -->
              <div class="col-md-12">
                <div class="box box-warning">
                  <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <label for="stats">Order Status:</label>
                    <select class="form-control" id="orderstatus">
                      <option id="order_pending" value="0">Pending</option>
                      <option id="order_processing" value="1">Processing</option>
                      <option id="order_shipped" value="2">Shipped</option>
                      <option id="order_delivered" value="3">Delivered</option>
                      <option id="order_notDeliver" value="4">Will not Deliver</option>
                      <option id="order_returned" value="5">Returned</option>
                    </select>


                  </br>
                  <label for="stats">Payment Status:</label>
                  <select class="form-control" id="paymentstatus">
                    <option id="payment_awaiting" value="0">Awaiting Payment</option>
                    <option id="payment_paid" value="1">Paid</option>
                    <option id="payment_partially" value="2">Partially Paid</option>
                    <option id="payment_cancelled" value="3">Cancelled</option>
                    <option id="payment_refunded" value="4">Refunded</option>
                  </select>
                </br>
                    <label for="notify">

                      <input type="checkbox" id="notify" class="flat-red">
                      &nbsp;Notify Customer

                    </label>

                  </br>
                </br>
                    <label for="comment">Message to Customer</label>
                    <textarea id="message" class="form-control"></textarea>
                  </br>
                  <button id="submit" class="btn btn-primary pull-right">Submit</button>
                  </div>
                  <!-- /.box-body -->
                </div>
                <!-- /.box -->
              </div>
            </div>
          </div>

      </div>
      <!-- END OF ROW -->


    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('#title').html("USG | All Orders");
  $(".treeview a:contains('Transactions')").parent().addClass("active");
  $(".treeview a:contains('Customer Orders')").parent().addClass("active");
  $(".navi a:contains('All Orders')").parent().addClass("active");
</script>

<script>
  //Flat red color scheme for iCheck
  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    checkboxClass: 'icheckbox_flat-green',
    radioClass   : 'iradio_flat-green'
  })

  $('#message').attr('disabled', true);
  $('#notify').on('ifChecked',function(){
    $('#message').attr('disabled', false);
  })
  $('#notify').on('ifUnchecked',function(){
    $('#message').attr('disabled', true);
  })

</script>

<script>
  // shipped
  if(<%= customer[0].Stat %> == 2){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);

  }

  // delivered
  if(<%= customer[0].Stat %> == 3){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
    $('#order_cancelled').attr('disabled',true);
    $('#order_delivered').attr('disabled',true);

  }

  // cancelled
  if(<%= customer[0].Stat %> == 3){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
    $('#order_cancelled').attr('disabled',true);

  }

  // will not delivered
  if(<%= customer[0].Stat %> == 4){
    $('#order_pending').attr('disabled',true);
    $('#order_processing').attr('disabled',true);
    $('#order_shipped').attr('disabled',true);
    $('#order_delivered').attr('disabled',true);
    $('#order_notDeliver').attr('disabled',true);
    $('#order_returned').attr('disabled',true);



  }

  // not working
  $('#payment_partially').attr('disabled',true);
  $('#payment_refunded').attr('disabled',true);
  $('#payment_cancelled').attr('disabled',true);


</script>

<script>
$(document).ready(function(){
  $('#orderstatus').val("<%= customer[0].Stat %>");
  $('#paymentstatus').val("<%= customer[0].intPaymentStatus %>");
  $('#shippingmethod').val("<%=customer[0].strShippingMethod %>");
  $('#courier').val("<%=customer[0].strCourier%>");



$('#submit').on('click',function(){
  var notifyCustomer = "";
  if (document.getElementById('notify').checked == true){
    notifyCustomer = 1;
  }else{
    notifyCustomer = 0;
  }
  $.ajax({
    url: '/customerOrder/assessOrder',
    method: 'POST',
    datatype: "json",
    data: {orderNo: '<%= customer[0].intOrderNo %>',
          shippingMethod: $('#shippingmethod').val(),
          courier: $('#courier').val(),
          orderStatus: $('#orderstatus').val(),
          paymentStatus: $('#paymentstatus').val(),
          notify: notifyCustomer,
          message: $('#message').val(),
          total: '<%=total%>'
          },
    success: function(response,status,http){
      if (response){
        if (response == "yes"){
          confirm_alert();

        }else if(response == "false"){
          swal("Error!","You don't have enough stocks","error");

        }else{
          swal("Error!","","error");

        }
      }
    }
  });

});

});

</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
