<%- include('../../../templates/admin-navbar.ejs') -%>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Invoice
      <small>#007612</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Orders</a></li>
      <li class="active">Remote Customers</li>
    </ol>
  </section>

  <div class="pad margin no-print">
    <div class="alert alert-info alert-dismissible" style="margin-bottom: 0!important;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><i class="fa fa-info"></i> Note:</h4>
      This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
    </div>
  </div>

  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-globe"></i> Ultra Super Green Trading  Corporation.
          <small class="pull-right">Date: <%= moment(customer[0].dateOrdered).format("MM/DD/YYYY")%> </small>

        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        From
        <address>
          <strong>Guslte Agulto</strong><br>
          Elizabeth Building, Katipunan Ave.,<br>
          Quezon City, Metro Manila 94107<br>
          Phone: (804) 123-5432<br>
          Email: info.ultrasupergreen@gmail.com
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        To
        <address>
          <strong><%= customer[0].strFname %> <%= customer[0].strMname %> <%= customer[0].strLname %></strong><br>
          156 M.H Delpilar St., Pamplona 1,<br>
          Las Piñas City, Metro Manila 94107<br>
          Phone: (555) 539-1037<br>
          Email: janelle.alag@example.com
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Invoice #007612</b><br>
        <br>
        <b>Order No:</b> <%= customer[0].intOrderNo %><br>
        <b>Payment Due:</b> --<br>
        <b>Account:</b> --
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Qty</th>
            <th>Product</th>
            <th>Product Code</th>
            <th>Size</th>
            <th>Product Price</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <% if (orderlist == null || orderlist == undefined){ %>

          <% }else{ %>
            <% orderlist.forEach(function(i){ %>
              <tr>
                <td><%= i.intQuantity %></td>
                <td><%= i.strProductName %></td>
                <td><%= i.strProductCode %></td>
                <td><%= i.intSize %></td>
                <td>Php <%= i.purchasePrice %></td>
                <td>Php <%= i.intQuantity * i.purchasePrice %></td>
              </tr>
            <%  }) %>

          <% } %>



          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">


        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg
          dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
        </p>
      </div>
      <!-- /.col -->
      <div class="col-xs-6">
        <p class="lead">Amount Due --</p>

        <div class="table-responsive">
          <table class="table">
            <tr>
              <th style="width:50%">Subtotal:</th>
              <td>PHP <%= total %></td>
            </tr>
            <tr>
              <th>Tax (9.3%)</th>
              <td>--</td>
            </tr>
            <tr>
              <th>Shipping:</th>
              <td>--</td>
            </tr>
            <tr>
              <th>Total:</th>
              <td>PHP <%= total %></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
      <div class="col-xs-12">
        <a href="/customerOrder/invoice-print?order=<%=customer[0].intOrderNo%>" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
        <button type="button" disabled class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
        </button>
        <button type="button" disabled class="btn btn-primary pull-right" style="margin-right: 5px;">
          <i class="fa fa-download"></i> Generate PDF
        </button>
      </div>
    </div>
  </section>
  <!-- /.content -->
  <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->

<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->
<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->

</body>
</html>
