<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/cart-modal.ejs') -%>
<%- include('../../../templates/modals/package-modal.ejs') -%>

<style>
  .x-scrolling-div .simplebar-content {
    min-height: 340px !important;
    width: 100% !important;
  }
  .x-scrolling-div .simplebar-scroll-content {
    overflow-y: hidden !important;
  }
</style>

<div class="text-center bg-secondary text-white banner">
  <div class="container">
    <br>
    <div>
      <div id="carouselArchitecture" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="#carouselArchitecture" data-slide-to="0" class="active"><i></i></li>
          <li data-target="#carouselArchitecture" data-slide-to="1"><i></i></li>
          <li data-target="#carouselArchitecture" data-slide-to="2"><i></i></li>
        </ol>
        <div id="banner-carousel" role="listbox" class="carousel-inner">
          <div class="carousel-item active"><img src="/assets/images/static/organic1.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
          <div class="carousel-item"><img src="/assets/images/static/organic2.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
          <div class="carousel-item"><img src="/assets/images/static/organic3.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
        </div>
        </div>
    </div>
  </div>
</div>
<div class="mt-4 mb-2">
  <div class="container">
    <div>
      <h3 class="feature-title lead fl-l light-bold mb-2"><b>Most Popular Products</b></h3>
      <h3 class="store-link lead fl-r mb-2"><a href="/store">Go To Store ></a></h3>
    </div>
  </div>
  <div class="container x-scrolling-div products-container" data-simplebar="">
    <% popularProducts.forEach((prod)=>{ %>
      <div class="custom-card card-list this-product my-1">
        <div class="card-img"><a href="/item/<%= prod.intProductNo%>"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
        <div class="cart-button-div">
          <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
          <button type="button" class="cart-btn btn p-0 no-focus" data-toggle="modal"
          data-target="#modal-product-to-cart">
          Add to Cart</button>
        </div>

        <div class="card-desc">

          <p class="card-title" title="<%=prod.strBrand%> <%=prod.strProductName%>"><span class="text-brand"><%= prod.strBrand%></span> <%= prod.strProductName%></p>
          <p class="card-price price-symbol">
            <% if(prod.minPrice == prod.maxPrice){ %>
              <%= prod.minPrice %>
            <% }else{ %>
              <%= prod.minPrice %><span class="text-muted fs-08em"> - <%= prod.maxPrice %></span>
            <% } %>
          </p>
          <!-- <small class="card-oldprice text-muted">
            <span><s class="price-symbol">0</s></span> (-0%)<br>
          </small> -->
          <small class="card-rating">
            <%
            rating = prod.aveRating;
            for(i=0; i<5; i++){
              if (rating < 1 && rating >= 0.5) {
              %> <i class="fa fa-star-half-o"></i> <%
              } else if (rating < 0.5) {
              %> <i class="fa fa-star-o"></i> <%
              } else {
              %> <i class="fa fa-star"></i> <%
              }
              --rating;
            }%>
            <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
          </small>
          <small class="card-reviews"><%= prod.cntReview%> reviews</small>
        </div>
      </div>
    <%})%>
  </div>
</div>
<div class="mb-2">
  <div class="container">
    <div>
      <h3 class="feature-title lead fl-l light-bold mb-2"><b>New Products</b></h3>
      <h3 class="store-link lead fl-r mb-2"><a href="/store">Go To Store ></a></h3>
    </div>
  </div>
  <div class="container x-scrolling-div products-container" data-simplebar="">
    <% newProducts.forEach((prod)=>{ %>
      <div class="custom-card card-list this-product my-1">
        <div class="card-img"><a href="/item/<%= prod.intProductNo%>"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
        <div class="cart-button-div">
          <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
          <button type="button" class="cart-btn btn p-0 no-focus" data-toggle="modal"
          data-target="#modal-product-to-cart">
          Add to Cart</button>
        </div>

        <div class="card-desc">
          <p class="card-title" title="<%=prod.strBrand%> <%=prod.strProductName%>"><span class="text-brand"><%= prod.strBrand%></span> <%= prod.strProductName%></p>
          <p class="card-price price-symbol">
            <% if(prod.minPrice == prod.maxPrice){ %>
              <%= prod.minPrice %>
            <% }else{ %>
              <%= prod.minPrice %><span class="text-muted fs-08em"> - <%= prod.maxPrice %></span>
            <% } %>
          </p>
          <!-- <small class="card-oldprice text-muted">
            <span><s class="price-symbol">0</s></span> (-0%)<br>
          </small> -->
          <small class="card-rating">
            <%
            rating = prod.aveRating;
            for(i=0; i<5; i++){
              if (rating < 1 && rating >= 0.5) {
              %> <i class="fa fa-star-half-o"></i> <%
              } else if (rating < 0.5) {
              %> <i class="fa fa-star-o"></i> <%
              } else {
              %> <i class="fa fa-star"></i> <%
              }
              --rating;
            }%>
            <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
          </small>
          <small class="card-reviews"><%= prod.cntReview%> reviews</small>
        </div>
      </div>
    <%})%>
  </div>
</div>
<% if(packages.length){ %>
  <div class="mb-3">
    <div class="container">
      <div>
        <h3 class="feature-title lead fl-l light-bold mb-2"><b>Packages</b></h3>
        <h3 class="store-link lead fl-r mb-2"><a href="/store">Go To Store ></a></h3>
      </div>
    </div>
    <div class="container x-scrolling-div products-container" data-simplebar="">
      <% packages.forEach((pack)=>{ %>
        <div class="custom-card card-list this-package my-1">
          <div class="card-img package-img cursor-pointer" data-toggle="modal" data-target="#package-modal">
            <img src="/customer-assets/images/static/package.jpg">
          </div>
          <div class="cart-button-div">
            <input type="number" class="package-id" value="<%= pack.intPackageNo%>" hidden />
            <button type="button" class="cart-btn package-btn btn p-0 no-focus" data-toggle="modal"
            data-target="#package-modal">
            Add to Cart</button>
          </div>

          <div class="card-desc">
            <p class="card-title text-package" title="<%= pack.strPackageName%>"><%= pack.strPackageName%></p>
            <p class="card-price price-symbol"><%= pack.packagePrice %></p>
            <!-- <small class="card-oldprice text-muted">
              <span><s class="price-symbol">0</s></span> (-0%)<br>
            </small> -->
            <small class="card-rating fs-07em text-muted">Contains <%= pack.Qty %> items</small>
          </div>
        </div>
      <%})%>
    </div>
  </div>
<% }else{ %>
  <div class="m-0"><span class="fs-07em">&nbsp</span></div>
<% } %>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
