<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Invoice</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/assets/admin/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/admin/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/assets/admin/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/assets/admin/dist/css/AdminLTE.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">
<div class="wrapper">
<!-- Main content -->
<section class="invoice">
  <!-- title row -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">
        <i class="fa fa-globe"></i> Ultra Super Green Trading  Corporation.
        <small class="pull-right">Date: <%= moment(orderdetails[0].dateOrdered).format("MM/DD/YYYY")%> </small>

      </h2>
    </div>
    <!-- /.col -->
  </div>
  <!-- info row -->
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      From
      <address>
        <strong>Guslte Agulto</strong><br>
        Elizabeth Building, Katipunan Ave.,<br>
        Quezon City, Metro Manila 94107<br>
        Phone: (804) 123-5432<br>
        Email: info.ultrasupergreen@gmail.com
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      To
      <address>
        <strong><%=orderdetails[0].strFname%> <%=orderdetails[0].strMname%> <%=orderdetails[0].strLname%></strong><br>
        <%=orderdetails[0].strBusinessName%><br>
        <%=orderdetails[0].strBusinessAddress%><br>
        Email: <%=orderdetails[0].strEmail%>
      </address>
    </div>
    <!-- /.col -->
    <div class="col-sm-4 invoice-col">
      <b>Order No:</b> <%= order  %><br>

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <!-- Table row -->
  <div class="row">
    <div class="col-xs-12 table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>No</th>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Size</th>
          <th>Variant</th>


        </tr>
        </thead>
        <tbody>
        <% var counter = 1 %>
        <% if (orderlist == null || orderlist == undefined){ %>

        <% }else if(orderlist.length == 0){ %>

        <%}else{ %>
          <% orderlist.forEach(function(i){ %>
            <tr>
              <td><%= counter %></td>
              <td><%= i.strProduct %></td>
              <td><%= i.intQuantity%></td>
              <td><%=i.strSize%></td>
              <td><%=i.strVariant%></td>
            </tr>
            <% counter++ %>
          <%  }) %>

        <% } %>



        </tbody>
      </table>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
    <!-- accepted payments column -->
    <div class="col-xs-6">


      <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
        <strong>Special Note: </strong> </br>
        <%=orderdetails[0].strSpecialNote%>
      </p>
    </div>
    <!-- /.col -->

    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- ./wrapper -->
</body>
</html>
