<div class="box-body table-responsive">
  <table id="product_table" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Variant / Size</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% if(products==null|| products==undefined){ %>

      <% }else if(products.length==0){ %>

      <% }else{ %>
      <%  products.forEach(function(i){ %>
          <tr>
            <td><%=i.strProductName%></td>
            <td><%=i.strVariant%> <%=i.intSize%> <%=i.strUnitName%></td>
            <td><button data-dismiss="modal" data-no="<%=i.intInventoryNo%>" data-product="<%=i.strProductName%>" data-variant="<%=i.strVariant%>" data-size="<%=i.intSize%> <%=i.strUnitName%>" class="productSetter large ui teal button">Select</button></td>
          </tr>
      <%  }) %>
      <% } %>
    </tbody>

  </table>
</div>


<script>
  $(function () {
    $('#product_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
    'select'		: true,
    'scroll'		: true,
    'searching' : true
    })
  })



  var t = $('#example').DataTable();
  var table = document.getElementById("example");
  var row = table.getElementsByTagName("tr");
  var rows = t.rows( '.selected' );
  var filter = $(this).data('productid');
  var tr = table.getElementsByTagName("tr");
  var count = 1;

  $('.productSetter').on('click',function(){
    var number = $(this).data('no');
    var product =  $(this).data('product');
    var variant = $(this).data('variant');
    var size = $(this).data('size');

    $.post('/returnProducts/checkReserved',{no: number }, function(data,status){
      // no reserved items
      if(data=="no"){
        t.row.add( [
            count,
            `<input type="hidden" name="ino[]" value="${number}" class="form-control"> ${product}`,
            `${variant}`,
            `${size}`,
            `<input style="width: 90px" type="number" name="quantity[]" required  class="form-control">`,
            `<input  type="text" name="reason[]" required  class="form-control">`

        ] ).draw( false );
        count++;

        // there are reserved items
      }else{
        swal({
          title: 'Oops!',
          text: 'There are pending orders in this product.',
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Proceed anyway',
          cancelButtonText: 'Cancel',
          reverseButtons: true
        }).then((result)=>{
          if(result.value){
            t.row.add( [
                count,
                `<input type="hidden" name="ino[]" value="${number}" class="form-control"> ${product}`,
                `${variant}`,
                `${size}`,
                `<input style="width: 90px" type="number" name="quantity[]" required  class="form-control">`,
                `<input  type="text" name="reason[]" required  class="form-control">`

            ] ).draw( false );
            count++;
          }
        })
      }
    })


  });


</script>
