<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Transaction</a></li>
        <li><a href="#">Return to Supplier</a></li>
        <li class="active">Form</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="box box-success">
         <div class="box-header with-border">
           <h3 class="box-title">Return Products Form</h3>
         </div>

         <!-- purchase order body -->
         <div class="box-body">

           <small><b>Business Name:</b> Ultra Super Green Trading Corporation</small> </br>
           <small><b>Business Address:</b> 0002 G/F Elizabeth Hall BLDG. 371 Katipunan Ave., Loyola Heights </br>
           Quezon City 1108</small> </br>
           <small><b>Contact No:</b> (02) 738-1202 |  (0955) 904-4744</small> </br>
           <small><b>Email:</b> info.ultrasupergreen@gmail.com</small> </br>
           </br>

           <form class="form-horizontal" id="returnProductsForm" >
           <div align="center" class="row">
             <div class="col-sm-1">
             </div>
             <div class="col-sm-4">
               <div class="form-group">
                 <label for="purcNo">R.P Number:</label>

                   <input type="text" disabled value="<%=lastRecord%>" name="RPnum" id="RPNo" class="form-control">

               </div>
             </div>

             <div class="col-sm-2">
             </div>

             <div class="col-sm-4">
               <div class="form-group">
                 <label for="purcNo">P.O Date:</label>
                 <input type="date" disabled id="today" value="" name="date" class="form-control">

               </div>
             </div>
             <div class="col-sm-1">
             </div>
           </div>

           <br>
           <!-- <div class="row">
             <div class="col-sm-3">
               <h4> &nbsp; Supplier </h4>
             </div>

           </div> -->

           <div class="row">
             &nbsp; &nbsp;<button type="button" class="large ui green button" data-toggle="modal" data-target="#selectSupplier"><i class="fa fa-search"></i> Select Supplier Here</button>
           <p>  &nbsp;&nbsp;&nbsp;New supplier? Click <a data-toggle="modal" data-target="#addSupplier">here</a></p>
           </div>

         </br>
           <div>

               <div class="form-group">
                 <input type="hidden" class="input-sm form-control" name="supplier" id="suppid" placeholder="">
                 <label for="businessName" class="col-sm-2 control-label"> Business Name: </label>
                 <div class="col-sm-6">
                   <input type="text" disabled class="input-sm form-control" id="businessName" placeholder="">
                 </div>
               </div>

               <div class="form-group">
                 <label for="contract" class="col-sm-2 control-label"> Contact Person: </label>
                 <div class="col-sm-6">
                   <input type="text" disabled class="input-sm form-control" id="contactPerson" placeholder="">
                 </div>
               </div>

               <div class="form-group">
                 <label for="address" class="col-sm-2 control-label">Email: </label>
                 <div class="col-sm-6">
                   <input type="text"  class="input-sm form-control" name="email" id="email" placeholder="">
                 </div>
               </div>
           </div>

           <div class="row">
             <div class="col-sm-3">
               <h4> &nbsp;  </h4>
             </div>
           </div>

           <div class="row">
             <div class="col-sm-12">
             <div class="box">
               <div class="box-header">
                 <h4 align="center">Product List</h4>


               </div>

               <!-- buttons -->
               &nbsp; &nbsp;<button type="button" data-toggle="modal" id="searchProduct"  data-target="#selectProduct"  class=" small ui green button" ><i class="fa fa-plus"></i> Add Product</button>
               <!-- /.box-header -->

               <div class="box-body table-responsive">
                 <table id="example" class="table table-bordered table-hover">
                 <thead>
                   <tr>
                     <th style="width: 10px">#</th>
                     <th>Product Name</th>
                     <th>Variant</th>
                     <th>Size</th>
                     <th style="width: 90px">Quantity</th>
                     <th>Return Reason</th>
                   </tr>
                 </thead>

                 <tbody>

                 </tbody>

                 </table>
               </div>
               <!-- /.box-body -->

             </div>
               <!-- /.box -->
             </div>
           </div>

           <div class="row">
             <div class="col-sm-12">
               <label for="note">Special Note:</label>
               <textarea class="form-control" name="specialnote" id="note"></textarea>
            </div>
          </div>
         </div>

         <div class="box-footer">
              <a href="/purchaseOrder"><button type="button" class="large ui button">Back</button></a>
              <a href=""><button type="submit" id="sub" class="btn large ui teal button">Submit Form</button></a>
          </div>
            <!-- /.box-footer -->
          </form>
       </div>
      </div>

      <div class="col-sm-1">
      </div>
    </div>
 </section>

</div>

  <!-- /.content-wrapper -->

 <!-- Modals -->


<div class="modal fade" id="selectSupplier">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Supplier List</h4>
    </div>
    <div class="modal-body">

    <h5 class="text-aqua">* These are the list of consignors.</h5>

    <div class="box-body table-responsive">
      <table id="example1" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Business Name</th>
            <th>Contact Person</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% if(suppliers==null|| suppliers==undefined){ %>

          <% }else if(suppliers.length==0){ %>

          <% }else{ %>
          <%  suppliers.forEach(function(i){ %>
              <tr>
                <td><%=i.strBusinessName%></td>
                <td><%=i.strFname%> <%=i.strLname%></td>
                <td><button data-dismiss="modal" data-no="<%=i.intUserID%>" data-bname="<%=i.strBusinessName%>" data-contact="<%=i.strFname%> <%=i.strLname%>" data-email="<%=i.strBusinessEmail%>" class="supplierSetter large ui teal button">Select</button></td>
              </tr>
          <%  }) %>
          <% } %>
        </tbody>

      </table>
    </div>

     </div>

  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addSupplier">
 <div class="modal-dialog">
 <div class="modal-content">
   <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span></button>
   <h4 class="modal-title">Supplier Information Form</h4>
   </div>
   <div class="modal-body">

     <!-- form start -->
     <form role="form" method="post" action="/purchaseOrder/addSupplier">
       <div class="box-body">
         <div class="form-group">
           <div class="row">
             <div class="col-xs-4">
               <label for="fname">First Name</label>
               <input type="text" class="form-control" required id="fname" name="fname" >
             </div>
             <div class="col-xs-4">
               <label for="mname">Middle Name</label>
               <input type="text" class="form-control"id="mname" name="mname" >
             </div>
             <div class="col-xs-4">
               <label for="lname">Last Name</label>
               <input type="text" class="form-control" required id="lname" name="lname" >
             </div>
           </div>
         </div>
         <div class="form-group">
           <label for="bname">Business Name</label>
           <input type="text" class="form-control" id="bname" required name="bname" placeholder="">
         </div>
         <div class="form-group">
           <label for="address">Business Address</label>
           <input type="text" class="form-control" id="address" name="address" required placeholder="">
         </div>
         <div class="form-group">
           <div class="row">
             <div class="col-xs-5">
               <label for="mobile">Mobile No.</label>
               <input type="text" class="form-control" id="mobile" name="mobile" >
             </div>
             <div class="col-xs-5">
               <label for="phone">Phone No.</label>
               <input type="text" class="form-control" id="phone" name="phone" >
             </div>
           </div>
         </div>
         <div class="checkbox">
           <label>
             <input type="checkbox">Add supplier to form
           </label>
         </div>
       </div>
       <!-- /.box-body -->


     </div>
     <div class="modal-footer">
     <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
     <button type="submit" class="btn btn-primary">Save</button>
       </form>
     </div>
 </div>
 <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="selectProduct">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">Product List</h4>
       </div>
       <div class="modal-body">

         <div id="productLoader" class="box-body table-responsive">
         </div>

        </div>

     </div>
   <!-- /.modal-content -->
  </div>
<!-- /.modal-dialog -->
</div>



<%- include('../../../templates/admin-aside.ejs') -%>

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->

<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
    'select'		: true,
    'scroll'		: true,
    'searching' : true
    })
  })
</script>

<script>
  $(function () {
    $('#example').DataTable({
      'paging'      : false,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : false,
      'info'        : false,
      'autoWidth'   : true,
    'select'		: true,
    'scroll'		: true,
    'searching' : false
    })
  })
</script>


<script>

$('.supplierSetter').on('click', function(){
  $('#suppid').val($(this).data('no'));
  $('#businessName').val($(this).data('bname'));
  $('#contactPerson').val($(this).data('contact'));
  $('#email').val($(this).data('email'));

  $('#productLoader').load(`/returnProducts/findProducts/${$(this).data('no')}`);

})


$(document).ready(function() {

   $('#returnProductsForm').submit(function(e){
     e.preventDefault();
     $.ajax({
       url: '/returnProducts/submitForm',
       type: 'post',
       data: $('#returnProductsForm').serialize(),
       success: function(response,status,http){
         if (response == "yes"){
           swal({title: "Success!", text: "You have created a record for return products to supplier", type: "success"}).then(()=>{
             window.location.href = '/returnProducts/form'
           })
         }
       },
       error: function(response){
         swal("Error","","error");
       }
     });
   })


} );
</script>





<script>
$('#title').html("USG | Return Products");
$(".treeview a:contains('Transactions')").parent().addClass("active");
$(".navi a:contains('Return Products')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
