<%- include('../../../templates/admin-navbar.ejs') -%>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Return Product
      <small>#<%=number%></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Transactions</a></li>
      <li><a href="#">Return Products</a></li>
      <li class="active">Details</li>
    </ol>
  </section>



  <!-- Main content -->
  <section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-shopping-cart"></i> Ultra Super Green Trading  Corporation.
          <small class="pull-right">Date: <%= moment(re[0].dateReturned).format("MM/DD/YYYY")%> </small>

        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        From
        <address>
          <strong>Guslte Agulto</strong><br>
          Elizabeth Building, Katipunan Ave.,<br>
          Quezon City, Metro Manila 94107<br>
          Phone: (804) 123-5432<br>
          Email: info.ultrasupergreen@gmail.com
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        To
        <address>
          <strong><%=supplier[0].strFname%> <%=supplier[0].strMname%> <%=supplier[0].strLname%></strong><br>
          <%=supplier[0].strBusinessName%><br>
          <%=supplier[0].strBusinessAddress%><br>
          Email: <%=supplier[0].strBusinessEmail%>
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <b>Return Product No:</b> <%= number  %><br>

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>No</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Return Reason</th>


          </tr>
          </thead>
          <tbody>
          <% var counter = 1 %>
          <% if (re == null || re == undefined){ %>

          <% }else if(re.length == 0){ %>

          <%}else{ %>
            <% re.forEach(function(i){ %>
              <tr>
                <td><%= counter %></td>
                <td><%= i.strProduct %> <%=i.strVariant%> <%=i.intSize%> <%=i.strUnitName%></td>
                <td><%= i.qty%></td>
                <td><%=i.strReturnReason%></td>

              </tr>
              <% counter++ %>
            <%  }) %>

          <% } %>



          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- accepted payments column -->
      <div class="col-xs-6">


        <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          <strong>Special Note: </strong> </br>
          <%=re[0].strSpecialNotes%>
        </p>
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
      <div class="col-xs-12">
        <a href="/returnProducts/detailsPrint?q=<%=number%>" target="_blank" class="big ui button pull-right"><i class="fa fa-print"></i> Print</a>
        <button type="button" disabled class="big ui green button pull-right"><i class="fa fa-envelope"></i>  Email
        </button>

      </div>
    </div>
  </section>
  <!-- /.content -->
  <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->

<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->

<script>
$('#title').html("USG | Return To Supplier");
$(".treeview a:contains('Transactions')").parent().addClass("active");
$(".navi a:contains('Return to Supplier')").parent().addClass("active");
</script>

</body>
</html>
