<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/cart-modal.ejs') -%>

<style>
  #main-desc .simplebar-content {
    height: auto !important;
    overflow-x: hidden !important;
  }
  #main-desc .simplebar-scroll-content {
    height: 100% !important;
  }
  .x-scrolling-div .simplebar-content {
    height: auto !important;
    overflow-y: hidden !important;
  }
  .x-scrolling-div .simplebar-scroll-content {
    overflow-y: hidden !important;
  }
</style>

<div id="item-container" class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb p-0 mb-2">
      <li class="breadcrumb-item"><a href="/store"><%= thisProduct.strCategory%></a></li>
      <li class="breadcrumb-item"><a href="/store"><%= thisProduct.strSubCategory%></a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= thisProduct.strBrand%> <%= thisProduct.strProductName%></li>
    </ol>
  </nav>
  <div class="row">
    <div id="item-main-pane" class="">
      <div>
        <img src="/assets/images/products/<%= thisProduct.strProductPicture%>" alt="image">
        <!-- rating,title,desc -->
        <div id="main-desc" class="products-container">
          <%
          rating = thisProduct.aveRating;
          for(i=0; i<5; i++){
            if (rating < 1 && rating >= 0.5) {
            %> <i class="fa fa-star-half-o"></i> <%
            } else if (rating < 0.5) {
            %> <i class="fa fa-star-o"></i> <%
            } else {
            %> <i class="fa fa-star"></i> <%
            }
            --rating;
          }%>
          <small class="text-muted ml-1"><%= thisProduct.cntRating%> ratings</small>
          <a href="#"><i class="fa fa-share-alt"></i></a>
          <p class="mb-2"><%= thisProduct.strBrand%> <%= thisProduct.strProductName%></p>
          <div id="main-desc-text" data-simplebar="">
            <small>
              <%= thisProduct.strDescription%>
            </small>
            <br><br><br>
          </div>

          <div class="this-product h-auto">
            <input type="text" class="product-id" value="<%= thisProduct.intProductNo%>" hidden />
            <div id="cart-modal-btn">
              <button type="button" class="btn btn-custom-primary btn-block cart-btn" data-toggle="modal" data-target="#modal-product-to-cart">Add to Cart</button>
            </div>
          </div>

          <div id="options-container">
            <div id="item-options">
              <div>
                <div class="input-group quantity mb-2">
                  <div class="input-group-prepend addon">
                    <button class="btn btn-primary quantity-buttons minus-btn" type="button">
                      <small class="quantity-text quantity-text-minus">-</small>
                    </button>
                  </div>
                  <input class="form-control quantity-input" type="text" readonly="" value="1">
                  <div class="input-group-append addon">
                    <button class="btn btn-primary quantity-buttons plus-btn" type="button">
                      <small class="quantity-text quantity-text-plus">+</small>
                    </button>
                  </div>
                </div>
                <button id="thisItemBtn" class="btn btn-custom-primary radius-0">Add to Cart</button>
                <input type="text" value="<%= thisProduct.intProductNo%>" hidden />
              </div>
              <div>
                <div id="radio-container" class="fl-l">
                  <% thisInventory.forEach((inv, i)=>{ %>
                    <div class="form-check radio-div">
                      <input class="prod-price" type="radio" value="<%= inv.productPrice%>" hidden />
                      <% if(i==0){ %>
                        <input id="<%= inv.intInventoryNo%>" class="form-check-input sizes-radio" type="radio" name="invSizes" value="<%= inv.intInventoryNo%>" checked>
                      <% }else{ %>
                        <input id="<%= inv.intInventoryNo%>" class="form-check-input sizes-radio" type="radio" name="invSizes" value="<%= inv.intInventoryNo%>">
                      <% } %>
                      <label class="form-check-label" for="<%= inv.intInventoryNo%>">
                        <%= inv.intSize%><%= inv.strUnitName%>
                      </label>
                    </div>
                  <% }) %>
                </div>
                <% thisInventory.forEach((inv, i)=>{
                  if(i==0){ %>
                  <div id="item-price" class="fl-r pos-relative">
                    <p class="m-0 price-symbol"><%= inv.productPrice%></p>
                    <small class="text-muted"><s class="price-symbol">0</s></small>
                  </div>
                <% }
                }) %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="pb-1">
        <p class="mb-1"><b>Related Products</b></p>
        <div class="container x-scrolling-div products-container p-0" data-simplebar="">
          <% relatedProducts.forEach((prod)=>{ %>
            <div class="custom-card this-product my-1" style="margin-right: 22px !important; margin-left: 1px">
              <div class="card-img"><a href="/item/<%= prod.intProductNo%>"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
              <div class="cart-button-div">
                <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
                <button type="button" class="cart-btn btn btn-custom-primary p-0 no-focus" data-toggle="modal"
                data-target="#modal-product-to-cart">
                Add to Cart</button>
              </div>

              <div class="card-desc">
                <p class="card-title"><%= prod.strBrand%> <%= prod.strProductName%></p>
                <p class="card-price price-symbol"><%= prod.productPrice%></p>
                <small class="card-oldprice text-muted">
                  <span><s class="price-symbol">0</s></span> (-0%)<br>
                </small>
                <small class="card-rating">
                  <%
                  rating = prod.aveRating;
                  for(i=0; i<5; i++){
                    if (rating < 1 && rating >= 0.5) {
                    %> <i class="fa fa-star-half-o"></i> <%
                    } else if (rating < 0.5) {
                    %> <i class="fa fa-star-o"></i> <%
                    } else {
                    %> <i class="fa fa-star"></i> <%
                    }
                    --rating;
                  }%>
                  <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
                </small>
                <small class="card-reviews"><%= prod.cntReview%> reviews</small>
              </div>
            </div>
            <%})%>
        </div>
      </div>
    </div>

    <div id="item-review-pane" class="">
      <div>
        <p><b>Ratings & Review</b></p>
        <div id="rating">
          <div class="fl-l">
            <h2 class="m-0 pt-1"><%= thisProduct.aveRating? thisProduct.aveRating: 0%></h2>
            <%
            rating = thisProduct.aveRating;
            for(i=0; i<5; i++){
              if (rating < 1 && rating >= 0.5) {
              %> <i class="fa fa-star-half-o"></i> <%
              } else if (rating < 0.5) {
              %> <i class="fa fa-star-o"></i> <%
              } else {
              %> <i class="fa fa-star"></i> <%
              }
              --rating;
            }%>
            <small class="text-muted block"><%= thisProduct.cntRating%> ratings</small>
          </div>
          <div class="fl-r">
            <%for(i=5; i>0; i--){%>
              <div class="stars">
                <ul class="list-unstyled inline m-0">
              <%for(j=0; j<5; j++){
                if (i > j){ %>
                  <li class="inline"><i class="fa fa-star"></i></li>
              <% }else{ %>
                  <li class="inline"><i class="fa fa-star-o"></i></li>
              <% }
              } %>
                <li class="inline">
                  <% switch(i){
                    case 5:%> <small class="ml-1 inline"><%= thisProduct.FiveS%></small>
                      <% break;
                    case 4:%> <small class="ml-1 inline"><%= thisProduct.FourS%></small>
                      <% break;
                    case 3:%> <small class="ml-1 inline"><%= thisProduct.ThreeS%></small>
                      <% break;
                    case 2:%> <small class="ml-1 inline"><%= thisProduct.TwoS%></small>
                      <% break;
                    case 1:%> <small class="ml-1 inline"><%= thisProduct.OneS%></small>
                      <% break;
                  }
                  %>
                </li>
                </ul>
                </div>
              <% } %>
          </div>
        </div>
        <br>
        <hr>
        <small class="text-muted mb-2"><%= thisProduct.cntReview%> reviews</small>
        <a href=""><small class="card-reviews fl-r"><i class="fa fa-plus-square mr-1"></i>Add Review</small></a>
        <% if(!productReviews[0]){ %>
          <p class="fs-09em fw-400 text-muted mt-1"><em>No reviews found</em></p>
        <% } %>
        <% productReviews.forEach((rev)=>{ %>
          <div class="review-block mb-4">
            <small class="review-name block">
              <%= rev.strFname%> <%= rev.strMname%> <%= rev.strLname%>
              <i class="fa fa-check-circle"></i>
            </small>
            <% for(let i=1; i<=5; i++){
              if(i <= rev.intStars){ %>
                <i class="fa fa-star"></i>
              <% }else{ %>
                <i class="fa fa-star-o"></i>
              <% }
            } %>
            <small class="text-muted"><%= rev.created_at %></small>
            <small class="review-desc block">
              <%= rev.strReview %>
            </small>
          </div>
        <% }) %>

      </div>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script type="text/javascript">
  // GET - InvNo + Display Price
  $('#radio-container').on('click', '.sizes-radio', function() {
    $('#item-price p').text($(this).prev().val());
    $.get(`/cart/item-inv/${this.value}`).then((res) => {

    }).catch((error) => {
      console.log(error);
    });
  })
  // GET - Plus Button
  $('#item-options').on('click', '.plus-btn', ()=>{
    $.get(`/cart/item-qty/plus`).then((res) => {
      $('#item-options').find('.quantity-input').val(`${res.qty}`);
    }).catch((error) => {
      console.log(error);
    });
  });
  // GET - Minus Button
  $('#item-options').on('click', '.minus-btn', ()=>{
    $.get(`/cart/item-qty/minus`).then((res) => {
      $('#item-options').find('.quantity-input').val(`${res.qty}`);
    }).catch((error) => {
      console.log(error);
    });
  });
  // GET & POST to Cart
  $('#item-options').on('click', '#thisItemBtn', function(){
    let pid = $(this).next().val();
    console.log(pid);
    $('#item-options').find('.quantity-input').val(1);
    $.get(`/cart/item-post/${pid}`).then((res) => {
      return $.post(`/cart/modal/item`);
    })
    .then((res) => {
      let modal = $('#modal-product-to-cart'), data = res.cart;

      postToCart(modal, data, res, 0);
    })
    .catch((error) => {
      console.log(error);
    });
  });

</script>
<%- include('../../../templates/closer.ejs') -%>
