<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/cart-modal.ejs') -%>
<!--  -->
<link rel="stylesheet" href="/customer-assets/scripts/bar-rating/dist/themes/css-stars.css">
<style>
  /* input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  } */
  #main-desc .simplebar-content {
    height: auto !important;
    overflow-x: hidden !important;
  }
  #main-desc .simplebar-scroll-content {
    height: 100% !important;
  }
  .x-scrolling-div .simplebar-content {
    height: auto !important;
    overflow-y: hidden !important;
  }
  .x-scrolling-div .simplebar-scroll-content {
    overflow-y: hidden !important;
  }
  .br-theme-css-stars .br-widget a {
    font: normal normal normal 30px/1 FontAwesome;
  }
  .br-widget {
    width: 115;
    margin: auto;
    margin-bottom: 4px;
  }
  #item-review-pane .fa-star, #item-review-pane .fa-star-half-alt {
    margin-right: -2.5px;
  }

</style>

<div id="item-container" class="container">
  <div class="row">
    <div id="item-main-pane" class="">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-0 mb-0">
            <li class="breadcrumb-item"><a href="/store?cat=<%= thisProduct.intCategoryNo%>&sub=all&sort=1&page=1"><%= thisProduct.strCategory%></a></li>
            <li class="breadcrumb-item"><a href="/store?cat=<%= thisProduct.intCategoryNo%>&sub=<%= thisProduct.intSubCategoryNo%>&sort=1&page=1"><%= thisProduct.strSubCategory%></a></li>
            <li class="breadcrumb-item active" aria-current="page" id="this-prod-name"><%= thisProduct.strBrand%> <%= thisProduct.strProductName%></li>
          </ol>
        </nav>
      </div>

      <div>
        <img src="/assets/images/products/<%= thisProduct.strProductPicture%>" alt="image">
        <!-- rating,title,desc -->
        <div id="main-desc" class="products-container">
          <%
          rating = thisProduct.aveRating;
          for(i=0; i<5; i++){
            if (rating < 1 && rating >= 0.5) {
            %> <i class="fas fa-star-half-alt"></i> <%
            } else if (rating < 0.5) {
            %> <i class="far fa-star"></i> <%
            } else {
            %> <i class="fa fa-star"></i> <%
            }
            --rating;
          }%>
          <small class="text-muted ml-1"><%= thisProduct.cntRating%> ratings</small>
          <a href="#"><i class="fa fa-share-alt"></i></a>
          <p class="mb-2"><span class="text-brand"><%= thisProduct.strBrand%></span> <%= thisProduct.strProductName%></p>
          <div id="main-desc-text" data-simplebar="">
            <small>
              <%= thisProduct.strDescription%>
            </small>
            <br><br><br>
          </div>

          <div class="this-product h-auto">
            <input type="text" class="product-id" value="<%= thisProduct.intProductNo%>" hidden />
            <div id="cart-modal-btn">
              <button type="button" class="btn btn-custom-primary btn-block cart-btn" data-toggle="modal" data-target="#modal-product-to-cart">Add to Cart</button>
            </div>
          </div>

          <div id="options-container">
            <div id="item-options">
              <div>
                <div class="input-group quantity mb-2">
                  <div class="input-group-prepend addon">
                    <button class="btn btn-primary quantity-buttons minus-btn" type="button">
                      <small class="quantity-text quantity-text-minus">-</small>
                    </button>
                  </div>
                  <input class="form-control quantity-input border-none" type="text" value="1">
                  <div class="input-group-append addon">
                    <button class="btn btn-primary quantity-buttons plus-btn" type="button">
                      <small class="quantity-text quantity-text-plus">+</small>
                    </button>
                  </div>
                </div>
                <% if(thisInventory[0].stock > 0){ %>
                  <button id="thisItemBtn" class="btn btn-custom-primary radius-0">Add to Cart</button>
                <% }else{ %>
                  <button id="thisItemBtn" class="btn btn-custom-primary radius-0" disabled>Add to Cart</button>
                <% } %>
                <input id="thisprod_id" type="text" value="<%= thisProduct.intProductNo%>" hidden />
              </div>
              <div>
                <select class="select-size" name="">
                  <% thisInventory.forEach((inv, i)=>{ %>
                    <% if(i==0){ %>
                      <option value="<%= inv.intInventoryNo%>" selected>
                        <%= inv.curSize%>
                      </option>
                    <% }else{ %>
                      <option value="<%= inv.intInventoryNo%>">
                        <% if(inv.strVariant){ %>
                          <%= inv.strVariant%> - <%= inv.intSize%><%= inv.strUnitName%>
                        <% }else{ %>
                          <%= inv.intSize%><%= inv.strUnitName%>
                        <% } %>
                      </option>
                    <% } %>
                  <% }) %>
                </select>
                <p class="discount price-symbol text-muted" hide='hide'></p>
                <p id="thisprod_price" class="m-0 price-symbol price"><%= thisInventory[0].productPrice%></p>
                <% if(thisInventory[0].stock > 0){ %>
                  <small id="thisprod_stock" class="text-muted">
                    <i class="limit-info fa fa-info-circle" title="Maximum of 0 of the same product variation per order"></i>
                    <span><%= thisInventory[0].stock%></span> items left
                  </small>
                <% }else{ %>
                  <small id="thisprod_stock" class="text-muted"><span>0</span> items left</small>
                <% } %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="pb-1">
        <p class="mb-1">
          <% if (catProducts){ %>
          <b>Related Products</b>
          <% }else{ %>
          <b>More Products</b>
          <% } %>
        </p>
        <div class="container x-scrolling-div products-container p-0" data-simplebar="">
          <% relatedProducts.forEach((prod)=>{ %>
            <div class="custom-card card-list adjust this-product my-1">
              <div class="card-img"><a href="/item/<%= prod.intProductNo%>"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
              <div class="cart-button-div">
                <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
                <button type="button" class="cart-btn btn p-0 no-focus" data-toggle="modal"
                data-target="#modal-product-to-cart">
                Add to Cart</button>
              </div>

              <div class="card-desc">
                <p class="card-title" title="<%=prod.strBrand%> <%=prod.strProductName%>"><span class="text-brand"><%= prod.strBrand%></span> <%= prod.strProductName%></p>
                <p class="card-price price-symbol">
                  <% if(prod.minPrice == prod.maxPrice){ %>
                    <%= prod.minPrice %>
                  <% }else{ %>
                    <%= prod.minPrice %><span class="text-muted fs-08em"> - <%= prod.maxPrice %></span>
                  <% } %>
                </p>
                <% if(prod.maxDisc){ %>
                  <small class="card-oldprice text-muted">
                    <span><i class="fas fa-tags"></i> upto <%= prod.maxDisc %>% off <br>
                  </small>
                <% } %>
                <!-- <small class="card-oldprice text-muted">
                  <span><s class="price-symbol">0</s></span> (-0%)<br>
                </small> -->
                <small class="card-rating">
                  <%
                  rating = prod.aveRating;
                  for(i=0; i<5; i++){
                    if (rating < 1 && rating >= 0.5) {
                    %> <i class="fas fa-star-half-alt"></i> <%
                    } else if (rating < 0.5) {
                    %> <i class="far fa-star"></i> <%
                    } else {
                    %> <i class="fa fa-star"></i> <%
                    }
                    --rating;
                  }%>
                  <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
                </small>
                <small class="card-reviews"><%= prod.cntReview%> reviews</small>
              </div>
            </div>
            <%})%>
        </div>
      </div>

      <div class="pb-1">
        <p class="mb-1"><b>Popular Products</b></p>
        <div class="container x-scrolling-div products-container p-0" data-simplebar="">
          <% popularProducts.forEach((prod)=>{ %>
            <div class="custom-card card-list adjust this-product my-1">
              <div class="card-img"><a href="/item/<%= prod.intProductNo%>"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
              <div class="cart-button-div">
                <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
                <button type="button" class="cart-btn btn p-0 no-focus" data-toggle="modal"
                data-target="#modal-product-to-cart">
                Add to Cart</button>
              </div>

              <div class="card-desc">
                <p class="card-title" title="<%=prod.strBrand%> <%=prod.strProductName%>"><span class="text-brand"><%= prod.strBrand%></span> <%= prod.strProductName%></p>
                <p class="card-price price-symbol">
                  <% if(prod.minPrice == prod.maxPrice){ %>
                    <%= prod.minPrice %>
                  <% }else{ %>
                    <%= prod.minPrice %><span class="text-muted fs-08em"> - <%= prod.maxPrice %></span>
                  <% } %>
                </p>
                <% if(prod.maxDisc){ %>
                  <small class="card-oldprice text-muted">
                    <span><i class="fas fa-tags"></i> upto <%= prod.maxDisc %>% off <br>
                  </small>
                <% } %>
                <!-- <small class="card-oldprice text-muted">
                  <span><s class="price-symbol">0</s></span> (-0%)<br>
                </small> -->
                <small class="card-rating">
                  <%
                  rating = prod.aveRating;
                  for(i=0; i<5; i++){
                    if (rating < 1 && rating >= 0.5) {
                    %> <i class="fas fa-star-half-alt"></i> <%
                    } else if (rating < 0.5) {
                    %> <i class="far fa-star"></i> <%
                    } else {
                    %> <i class="fa fa-star"></i> <%
                    }
                    --rating;
                  }%>
                  <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
                </small>
                <small class="card-reviews"><%= prod.cntReview%> reviews</small>
              </div>
            </div>
            <%})%>
        </div>
      </div>

    </div>

    <div id="item-review-pane" class="">
      <div>
        <p><b>Ratings & Reviews</b></p>
        <div id="rating">
          <div class="fl-l">
            <h2 class="m-0 pt-1"><%= thisProduct.aveRating? thisProduct.aveRating.toFixed(1): 0%></h2>
            <%
            rating = thisProduct.aveRating;
            for(i=0; i<5; i++){
              if (rating < 1 && rating >= 0.5) {
              %> <i class="fas fa-star-half-alt"></i> <%
              } else if (rating < 0.5) {
              %> <i class="far fa-star"></i> <%
              } else {
              %> <i class="fa fa-star"></i> <%
              }
              --rating;
            }%>
            <small class="text-muted block"><%= thisProduct.cntRating%> ratings</small>
          </div>
          <div class="fl-r">
            <%for(i=5; i>0; i--){%>
              <div class="stars">
                <ul class="list-unstyled inline m-0">
              <%for(j=0; j<5; j++){
                if (i > j){ %>
                  <li class="inline"><i class="fa fa-star"></i></li>
              <% }else{ %>
                  <li class="inline"><i class="far fa-star"></i></li>
              <% }
              } %>
                <li class="inline">
                  <% switch(i){
                    case 5:%> <small class="ml-1 inline"><%= thisProduct.FiveS%></small>
                      <% break;
                    case 4:%> <small class="ml-1 inline"><%= thisProduct.FourS%></small>
                      <% break;
                    case 3:%> <small class="ml-1 inline"><%= thisProduct.ThreeS%></small>
                      <% break;
                    case 2:%> <small class="ml-1 inline"><%= thisProduct.TwoS%></small>
                      <% break;
                    case 1:%> <small class="ml-1 inline"><%= thisProduct.OneS%></small>
                      <% break;
                  }
                  %>
                </li>
                </ul>
                </div>
              <% } %>
          </div>
        </div>
        <br>
        <hr>
        <small class="text-muted mb-2"><%= thisProduct.cntReview%> reviews</small>

        <%
          switch(thisUserReviewStatus){
            case 1 : %> <a href data-toggle='modal' data-target='#addReview'><small class="card-reviews fl-r"><i class="fa fa-plus-square mr-1"></i>Add Review</small></a> <% break;
            case 2 : %> <a href data-toggle='modal' data-target='#editReview'><small class="card-reviews fl-r"><i class="fa fa-plus-square mr-1"></i>Edit Review</small></a> <% break;
            default : %> <% break;
          }
        %>

        <% if(!productReviews[0]){ %>
          <p class="fs-09em fw-400 text-muted mt-1"><em>No reviews found</em></p>
        <% } %>
        <% productReviews.forEach((rev)=>{ %>
          <div class="review-block mb-4">
            <small class="review-name block">
              <%= rev.strFname%> <%= rev.strMname%> <%= rev.strLname%>
              <i class="fa fa-check-circle"></i>
            </small>
            <% for(let i=1; i<=5; i++){
              if(i <= rev.intStars){ %>
                <i class="fa fa-star"></i>
              <% }else{ %>
                <i class="far fa-star"></i>
              <% }
            } %>
            <small class="text-muted ml-1"><%= rev.r_created_at %></small>
            <small class="review-desc block">
              <%= rev.strReview %>
            </small>
          </div>
        <% }) %>

      </div>
    </div>
  </div>
</div>
<div id="addReview" tabindex="-1" role="dialog" aria-labelledby="addReviewTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form class="mb-0" action="/item/<%= thisProduct.intProductNo%>/add-review" method="POST">
        <div class="modal-header">
          <h5 id="addReviewTitle" class="modal-title">Add Review</h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="align-center">
            <select class="productRating" name="rating">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <p class="mb-2"><span class="text-brand"><%= thisProduct.strBrand%></span> <%= thisProduct.strProductName%></p>
          </div>
          <textarea class="form-control fs-08em" name="review" placeholder="Review Description (Optional)" rows="5" maxlength="150"></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary" disabled>Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="editReview" tabindex="-1" role="dialog" aria-labelledby="editReviewTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form class="mb-0" action="/item/<%= thisProduct.intProductNo%>/edit-review" method="POST">
        <div class="modal-header">
          <h5 id="editReviewTitle" class="modal-title">Edit Review</h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="align-center">
            <% if (thisUserReview){ %>
              <input type="text" name="reviewNo" value="<%= thisUserReview.intProductReviewNo%>" hidden>
            <% } %>
            <select class="productRating" name="rating">
              <%
              if (thisUserReview){
                for(i=0; i<=5; i++){
                  if (thisUserReview.intStars == i){ %>
                    <option value="<%= i%>" selected><%= i%></option><%
                  }else{ %>
                    <option value="<%= i%>"><%= i%></option><%
                  }
                }
              } %>
            </select>
            <p class="mb-2"><span class="text-brand"><%= thisProduct.strBrand%></span> <%= thisProduct.strProductName%></p>
          </div>
          <% if (thisUserReview){ %>
            <textarea class="form-control fs-08em" name="review" placeholder="Review Description (Optional)" rows="5" maxlength="150"><%= thisUserReview.strReview%></textarea>
          <% }else{ %>
            <textarea class="form-control fs-08em" name="review" placeholder="Review Description (Optional)" rows="5" maxlength="150"></textarea>
          <% } %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary" disabled>Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script src="/customer-assets/scripts/bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript">
  $('title').html(`Ultra Super Green - ${$(`#this-prod-name`).text()}`);
  $(()=>{
    itemQtyValidate(1,$(`#thisprod_stock span`).text())
    <% if (thisInventory[0].discount){ %>
      let div = $(`#item-options`);
      div.find('.price').css(`color`,`var(--discount-color)`);
      div.find('.price').append(` <i class="fas fa-tags discount-modal" title="discounted price"></i>`);
      div.find('.discount').html(`<s><%=thisInventory[0].oldPrice%></s> (<%=thisInventory[0].discount%>% off)`);
    <% } %>

  })
  function itemQtyValidate(qty,stock){
    $('#item-options .quantity-input').val() <= 1 ?
      $(`#item-options .minus-btn`).attr('disabled','disabled') :
      $(`#item-options .minus-btn`).removeAttr('disabled')
    $('#item-options .quantity-input').val() >= stock ?
      $(`#item-options .plus-btn`).attr('disabled','disabled') :
      $(`#item-options .plus-btn`).removeAttr('disabled')
  }
  function itemQtyControl(modal,type){
    let stock = parseInt($('#thisprod_stock > span').text()),
    qtyInput = modal.find('.quantity-input'), qty = parseInt(qtyInput.val());

    stock > limit ? stock = limit : 0
    qty == 0 ? qtyInput.val(1) : 0

    if(type == 'change'){
      qty > stock ? qtyInput.val(stock) : 0
    }
    else if(type == 'plus'){
      qty < stock ? qtyInput.val(qty+1) : 0
      qty ? 0 : qtyInput.val(1)
    }
    else if(type == 'minus'){
      qty > 1 ? qtyInput.val(qty-1) : 0
      qty ? 0 : qtyInput.val(1)
    }
    itemQtyValidate(qty,stock);
  }

  // GET - Size
  $('#item-options .select-size').on('change', function() {
    $.get(`/cart/item-inv/${this.value}`).then((res) => {
      let inv = res.inventory, div = $(`#item-options`);

      $('#thisprod_price').text(inv.productPrice);
      if (inv.stock > 0){
        $('#thisprod_stock span').text(inv.stock);
        $('#thisItemBtn').removeAttr('disabled');
      }
      else{
        $('#thisprod_stock span').text(`0`);
        $('#thisItemBtn').attr('disabled','disabled');
      }

      let stock = parseInt($('#thisprod_stock span').text()),
      qty = parseInt($('#item-options input.quantity-input').val());
      if(stock < 1){
        $('#item-options input.quantity-input').val(1);
      }
      else if(qty > stock){
        $('#item-options input.quantity-input').val(stock);
      }

      if (inv.discount){
        div.find('.price').css(`color`,`var(--discount-color)`);
        div.find('.price').append(` <i class="fas fa-tags discount-item" title="discounted price"></i>`);
        div.find('.discount').html(`<s>${inv.oldPrice}</s> (${inv.discount}% off)`);
      }
      else{
        div.find('.price').css(`color`,`var(--price-color)`);
        div.find('.discount').css(`opacity`,`0`);
        div.find('.price').css(`font-size`,`1.4em`);
        div.find('.price > i').css(`vertical-align`,`2.5px`);
        div.find('.discount').attr('hide','hide');
      }

      itemQtyValidate(qty,stock);

    }).catch((error) => {
      console.log(error);
    });
  })
  $('#item-options').on('click', '.price > i', function(){
    let div = $('#item-options')
    if (div.find('.discount').attr('hide')){
      div.find('.discount').css({
        "height": "15",
        "margin-top": "4",
        "margin-right": "0",
        "opacity": "1"
      });
      div.find('#thisprod_stock').css(`opacity`,`0`);
      div.find('.discount').removeAttr('hide');
    }
    else{
      div.find('.discount').css({
        "height": "0",
        "margin-top": "0",
        "margin-right": "20",
        "opacity": "0"
      });
      div.find('#thisprod_stock').css(`opacity`,`1`);
      div.find('.discount').attr('hide','hide');
    }
  });
  // Change Quantity
  $('.quantity-input').keyup(function() {
    itemQtyControl($('#item-options'),'change')
  });
  // Plus Button
  $('#item-options').on('click', '.plus-btn', ()=>{
    itemQtyControl($('#item-options'),'plus')
  });
  // Minus Button
  $('#item-options').on('click', '.minus-btn', ()=>{
    itemQtyControl($('#item-options'),'minus')
  });
  // GET & POST to Cart
  $('#item-options').on('click', '#thisItemBtn', function(){
    let inv = $('#item-options .select-size').val(),
    qty = parseInt($('#item-options input.quantity-input').val());
    qty ? 0 : qty = 1;
    $.post(`/cart/modal`, {
      inv: inv, qty: qty
    }).then((res) => {
      let modal = $('#modal-product-to-cart'), data = res.cart;
      postToCart(modal, data, res, 0);
    })
    .catch((error) => {
      console.log(error);
    });
  });
  // DESIGN - Rating
  $(()=> {
    $('.productRating').barrating({
      theme: 'css-stars'
    });
    $('.br-widget > a:first-child').addClass('block-none');
    $('.br-widget > a').on('click', ()=>{
      if( $('#addReview .productRating').val() != 0 ){
        $('#addReview button[type=submit]').removeAttr('disabled');
      }
    });
    if( $('#editReview .productRating').val() != 0 ){
      $('#editReview button[type=submit]').removeAttr('disabled');
    }
  });

</script>
<%- include('../../../templates/closer.ejs') -%>
