<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/cart-modal.ejs') -%>

<div id="store-container" class="container">
  <div class="row">
    <div id="store-sidebar" class="p-0">
      <div>
        <p class="m-0"><b>Food & Beverages</b></p>

        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">All Subcategories</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Fruits & Vegetables</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Grains</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Legumes</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Nuts and Seeds</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Dairy Products and Eggs</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Livestock Feed</small>
        </div>
        <div>
          <input type="checkbox"/><small class="ml-3 mb-0">Meats and Poultry</small>
        </div>

      </div>
      <div>
        <p class="m-0"><b>Other Categories</b></p>
        <small class="block">All Products</small>
        <small class="block">Supplemments</small>
        <small class="block">Hygiene</small>
        <small class="block">Cosmetics</small>
        <small class="block">Stationary</small>
      </div>
      <div>
        <p class="m-0 mb-1"><b>Price Range</b></p>
        <input type="number" class="inline-block material" placeholder="min"/> -
        <input type="number" class="inline-block material" placeholder="max"/>
        <div class="align-right">
          <button class="btn btn-custom-primary btn-sm mt-3">Apply</button>
        </div>
      </div>
      <div>
        <p class="m-0"><b>Rating</b></p>

          <%for(i=5; i>0; i--){%>
            <div class="stars">
              <ul class="list-unstyled inline m-0 cursor-pointer">
            <%for(j=0; j<5; j++){
              if (i > j){ %>
                <li class="inline"><i class="fa fa-star"></i></li>
            <% }else{ %>
                <li class="inline"><i class="fa fa-star-o"></i></li>
            <% }
            }
            if (i !== 5){ %>
              <li class="inline">
                <small class="ml-1 inline">And Up</small>
              </li>
              </ul>
              </div>
            <% }else{ %>
              </ul>
              </div>
            <% }
          } %>

      </div>

    </div>
    <div id="store-main" class="col pos-relative p-0">
      <div>
          <p class="m-0">8 items found</p>
          <div class="sort">
            <p class="m-0 inline">Sort By: </p>
            <select class="inline" name="">
              <option value="" selected>Popularity</option>
              <option value="">Lowest to Highest Price</option>
              <option value="">Highest to Lowest Price</option>
            </select>
          </div>
          <hr>
          <div id="filters">
            <a href="#">
              <p id="filters-btn" class="m-0"><i class="fa fa-filter mr-1"></i>Filters and Categories</p>
            </a>
          </div>
          <small>Filtered By: </small>
          <small class="filter-tag">Price: 200 - 300<i class="fa fa-times ml-1"></i></small>
          <small class="filter-tag">Rating: 2 & Up<i class="fa fa-times ml-1"></i></small>
          <a href="" class="ml-1"><small>Clear All</small></a>
      </div>
      <div id="products-div" class="products-container">
        <% allProducts.forEach((prod)=>{ %>
          <div class="custom-card my-2">
            <div class="card-img"><a href="/item"><img src="/assets/images/products/<%= prod.strProductPicture%>"></a></div>
            <div class="cart-button-div">
              <input type="number" class="product-id" value="<%= prod.intProductNo%>" hidden />
              <button type="button" class="cart-btn btn btn-custom-primary p-0 no-focus" data-toggle="modal"
              data-target="#modal-product-to-cart">
              Add to Cart</button>
            </div>

            <div class="card-desc">
              <p class="card-title"><%= prod.strBrand%> <%= prod.strProductName%></p>
              <p class="card-price price-symbol"><%= prod.productPrice%></p>
              <small class="card-oldprice text-muted">
                <span><s class="price-symbol">0</s></span> (-0%)<br>
              </small>
              <small class="card-rating">
                <%
                rating = prod.aveRating;
                for(i=0; i<5; i++){
                  if (rating < 1 && rating >= 0.5) {
                  %> <i class="fa fa-star-half-o"></i> <%
                  } else if (rating < 0.5) {
                  %> <i class="fa fa-star-o"></i> <%
                  } else {
                  %> <i class="fa fa-star"></i> <%
                  }
                  --rating;
                }%>
                <span class="fs-08em fw-400">(<%= prod.cntRating%>)</span>
              </small>
              <small class="card-reviews"><%= prod.cntReview%> reviews</small>
            </div>
          </div>
          <%})%>

        <!-- pagination -->
        <div class="row">
          <div class="col"> </div>
          <div class="col pt-3">
            <ul class="pagination">
              <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
              <li class="page-item"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">6</a></li>
              <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
            </ul>
          </div>
          <div class="col"> </div>
        </div>

      </div>
      <div id="filters-div" class="pos-relative">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <p class="m-0"><b>Food & Beverages</b></p>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">All Subcategories</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Fruits & Vegetables</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Grains</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Legumes</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Nuts and Seeds</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Dairy Products and Eggs</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Livestock Feed</small>
              </div>
              <div>
                <input type="checkbox"/><small class="ml-3 mb-0">Meats and Poultry</small>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <p class="m-0"><b>Other Categories</b></p>
              <small class="block">All Products</small>
              <small class="block">Supplemments</small>
              <small class="block">Hygiene</small>
              <small class="block">Cosmetics</small>
              <small class="block">Stationary</small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3">
              <p class="m-0"><b>Rating</b></p>

                <%for(i=5; i>0; i--){%>
                  <div class="stars">
                    <ul class="list-unstyled inline m-0 cursor-pointer">
                  <%for(j=0; j<5; j++){
                    if (i > j){ %>
                      <li class="inline"><i class="fa fa-star"></i></li>
                  <% }else{ %>
                      <li class="inline"><i class="fa fa-star-o"></i></li>
                  <% }
                  }
                  if (i !== 5){ %>
                    <li class="inline">
                      <small class="ml-1 inline">And Up</small>
                    </li>
                    </ul>
                    </div>
                  <% }else{ %>
                    </ul>
                    </div>
                  <% }
                } %>
            </div>

          </div>
          <div class="col">
            <div class="mb-3">
              <p class="m-0"><b>Price Range</b></p>
              <input type="number" class="inline-block" placeholder="min"/> -
              <input type="number" class="inline-block" placeholder="max"/>
              <div class="align-right">
                <button class="btn btn-custom-primary btn-sm mt-3">Apply</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script src="/assets/scripts/store.js" type="text/javascript"></script>
<%- include('../../../templates/closer.ejs') -%>
