<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Transaction</a></li>
        <li class="active">Receive Delivery</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">

            <div class="box box-success">
          			<div class="box-header with-border">
          				<h3 class="box-title">Receive Delivery Form</h3>
          			</div>

          			<!-- purchase order body -->
          			<div class="box-body">
                  <form id="receiveForm">
          				<small><b>Business Address:</b> 0002 G/F Elizabeth Hall BLDG. 371 Katipunan Ave., Loyola Heights </br>
          				Quezon City 1108</small> </br>
          				<small><b>Phone Number:</b> (02) 738-1202</small> </br>
          				<small><b>Mobile Number:</b> (0955) 904-4744</small> </br>
          				</br>

          				<div align="center" class="row">
                    <div class="col-sm-1">
                    </div>
          					<div class="col-sm-4">
          						<div class="form-group">
          							<label for="purcNo">Receive Order Number:</label>
                        <% var number = "1000"; %>
                        <% if (re == null || re == undefined){ %>

                        <% }else if(re.length == 0){ %>
                        <% }else{ %>
                          <%  number = parseInt(re[0].intReceiveOrderNo) + 1 %>
                        <% } %>
                        <input type="text" value="<%= number %>" name="rno" class="form-control">
          						</div>
          					</div>

          					<div class="col-sm-2">
          					</div>

          					<div class="col-sm-4">

          						<div class="form-group">
          							<label for="purcNo">Receive Order Date:</label>

          							<input type="date" disabled value="<%= moment().format("YYYY-MM-DD") %>" class="form-control">
          						</div>
          					</div>

                    <div class="col-sm-1">
                    </div>

          				</div>

                </br>

                  <div class="row">
                    <div id="formgroup" class="col-sm-4">
                      <label for="POno">Enter purchase order number:</label>
                      <input type="number"  required class="pono form-control" name="POno" required id="POno" >
                      <span id="errorhelpBlock" class="help-block">No purchase order record found!</span>
                      <span id="starthelpBlock" class="help-block">Press enter to check number</span>
                      <span id="successhelpBlock" class="help-block">Purchase Order number found!</span>



                    </div>
                    <div class="col-sm-4">
                    </br>
                  </br>
                      <a data-target="#orderList" data-toggle="modal">Select purchase number here</a>
                    </div>
                  </div>



          				<div class="row">
          					<div class="col-sm-3">
          						<h4> &nbsp;  </h4>
          					</div>
          				</div>

          				<div class="row">
          					<div class="col-sm-12">
          					<div class="box">
          						<div class="box-header">
          						  <h3 class="box-title">Delivery List</h3>
          						</div>

          						<!-- buttons -->
          						&nbsp; &nbsp;<button type="button" id="addButton" disabled class="addRow small ui green button" ><i class="fa fa-plus"></i> Add Product</button>

          						<!-- /.box-header -->
          						<div id="deliveryList" class="box-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                          <thead>

                            <th style="width: 10px">#</th>
                            <th>Product Name</th>
                            <th>Variant (if any)</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Expiration Date</th>
                            <th>Status</th>
                            <th>SRP</th>
                            <th>Total Amount</th>

                          </thead>
                          <tbody>

                          </tbody>

                        </table>
          						</div>
          						<!-- /.box-body -->

          					</div>
          					  <!-- /.box -->
          					</div>
          				</div>



                </br>
              </br>
                  <div class="row">
                    <div class="col-sm-10">
                      <label for="note">Additional Notes:</label>
                      <textarea class="form-control" id="note" name="note"></textarea>
                    </div>
                  </div>

          			</div>

          			<div class="box-footer">
                    <a href="/receiveDelivery"><button type="button" class="large ui button">Back</button></a>
                    <button disabled id="sub" type="submit" class="large ui teal button">Submit Form</button>
                </div>
                        <!-- /.box-footer -->
                </form>
        		</div>

      </div>
      <div class="col-sm-1">
      </div>
    </div>



	</section>

</div>

  <!-- /.content-wrapper -->

	<!-- Modals -->

  <div class="modal fade" id="orderList">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Purchase Order List</h4>
      </div>
      <div class="modal-body">

      <!-- /.box-header -->
      <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-hover">
          <thead>

          <tr>
            <th>Order No</th>
            <th>Business Name</th>
            <th>Date Ordered</th>

          </tr>
          </thead>

          <tbody>
            <% if (pu == null || pu == undefined){ %>

            <% } else if(pu.length == 0){ %>

            <% }else{ %>
            <% pu.forEach(function(i){ %>
          <tr>
                <td><%=i.intPurchaseOrderNo%></td>
                <td><%=i.strBusinessName%></td>
                <td><%=moment(i.dateOrdered).format("MMM Do YYYY")%></td>
          </tr>
          <% }) %>
        <% } %>


          </tbody>

        </table>
      </div>
      <!-- /.box-body -->

       </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
  </div>

  <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'info'        : false,
      'autoWidth'   : true,
      'searching'   : false,
      'ordering'    : false

    })
  })
</script>



<script>
$(document).ready(function(){

  $('#errorhelpBlock').hide();
  $('#successhelpBlock').hide();

  $('#POno').on('keyup', function(){
    var text = $('#POno').val();
    $.ajax({
      url: '/receiveDelivery/findNo',
      method: 'POST',
      datatype: "json",
      data: {o: text},
      success: function(response,status,http){
        if (response == "no"){
          $('#formgroup').attr('class', 'form-group has-error col-sm-4');
          $('#errorhelpBlock').show();
          $('#successhelpBlock').hide();
          $('#starthelpBlock').hide();
          $('#addButton').attr('disabled', true);
          $('#sub').attr('disabled', true);



        }else{
          $('#formgroup').attr('class', 'form-group has-success col-sm-4');
          $('#successhelpBlock').show();
          $('#starthelpBlock').hide();
          $('#errorhelpBlock').hide();
          $('#addButton').attr('disabled', false);
          $('#sub').attr('disabled', false);

          $('#deliveryList').load('/receiveDelivery/loadOrderList');
        }
      }
    })

  });


  var count = 1;
    $('.addRow').on( 'click', function () {
      var t = $('#example').DataTable();
      var table = document.getElementById("example");
      var row = table.getElementsByTagName("tr");
      var rows = t.rows( '.selected' );
      var tr = table.getElementsByTagName("tr");
      var validity = 1;


      if (validity){
        t.row.add( [
            count,
            '<input style="width: 200px" required type="text" required name="product[]" value="" class="form-control">',
            '<input style="width: 80px"  type="text" name="variant[]" value="" class="form-control">',
            '<input style="width: 80px" type="text" name="size[]" value="" class="form-control">',
            '<input style="width: 80px" type="number" required name="quantity[]" value="" class=" form-control">',
            '<input style="width: 180px" type="date" required name="expiration[]"  class=" form-control">',
            '<select class="form-control" name="status[]"><option value="Good">Good</option><option option="Bad">Bad</option></select>',
            '<input style="width: 80px" type="text" name="srp[]" value="" class=" form-control">',
            '<input style="width: 80px" type="text" name="total[]" value="" class=" form-control">'
        ] ).draw( false );

        count++;
      }
    } );


    $('#receiveForm').submit(function(e){
      e.preventDefault();
      $.ajax({
        url: '/receiveDelivery/newDeliveryRecord',
        type: 'post',
        data: $('#receiveForm').serialize(),
        success: function(response,status,http){
          if (response){
            swal({title:"Success!", text:"You just created a delivery record", type:"success"}).then(()=>{
              window.location.href = '/receiveDelivery';
            })
          }
        },
        error: function(re){
          swal("Error!",re, "error");
          location.reload();
        }
      })
    })



})
</script>


<script>
$('#title').html("USG | Receive Delivery");
$(".treeview a:contains('Transactions')").parent().addClass("active");
$(".navi a:contains('Receive Delivery')").parent().addClass("active");
</script>

<script>
  //Flat red color scheme for iCheck
  $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
    checkboxClass: 'icheckbox_flat-green',
    radioClass   : 'iradio_flat-green'
  })
</script>

<script>
  $('#active').on('change',function(){
    if($(this).prop('checked')==true){
      $('#addButton').attr('disabled', false);
      $('#sub').attr('disabled', false);
      $('.pono').attr('disabled', true);
    }else{
      $('#addButton').attr('disabled',true);
      $('#sub').attr('disabled', true);
      $('.pono').attr('disabled', false);

    }
  })
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
