<%- include('../../../templates/navbar.ejs') -%>

<style>
  .x-scrolling-div .simplebar-content {
    min-height: 340px !important;
    width: 100% !important;
  }
  .x-scrolling-div .simplebar-scroll-content {
    overflow-y: hidden !important;
  }
</style>

<div class="mt-3 pt-5 pb-4 text-center bg-secondary text-white banner">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-12">
        <div id="carouselArchitecture" data-ride="carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carouselArchitecture" data-slide-to="0" class="active"><i></i></li>
            <li data-target="#carouselArchitecture" data-slide-to="1"><i></i></li>
            <li data-target="#carouselArchitecture" data-slide-to="2"><i></i></li>
          </ol>
          <div id="banner-carousel" role="listbox" class="carousel-inner">
            <div class="carousel-item active"><img src="/assets/images/static/organic1.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
            <div class="carousel-item"><img src="/assets/images/static/organic2.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
            <div class="carousel-item"><img src="/assets/images/static/organic3.jpg" data-holder-rendered="true" class="d-block img-fluid banner-img" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-4 mb-2">
  <div class="container">
    <div>
      <h3 class="lead fl-l light-bold"><b>Most Popular Products</b></h3>
      <h3 class="lead fl-r"><a href="/store">Go To Store ></a></h3>
    </div><br/><br/>
  </div>
  <div class="container x-scrolling-div" data-simplebar="">
    <% for(i=0; i<5 ;i++){ %>
      <div class="custom-card my-1" style="margin-right: 22px !important; margin-left: 1px">
        <div class="card-img"><a href="/item"><img src="/assets/images/static/img<%= i+1%>.jpg"></a></div>
        <a class="order-modal-link" href="#" data-toggle="modal" data-target="#modal-product-to-cart">
          <div class="cart-button-div">
            <p class="cart-button-text">Add to Cart</p>
          </div>
        </a>
        <div class="card-desc">
          <p class="card-title">Dugos Wild Forest Honey</p>
          <p class="card-price price-symbol">230.99</p>
          <small class="card-oldprice text-muted">
            <span><s class="price-symbol">255.99</s></span> (-10%)<br>
          </small>
          <small class="card-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-half-o"></i>&nbsp;
        </small>
          <small class="card-reviews">45 reviews</small>
        </div>
      </div>
      <%}%>
  </div>
</div>
<div class="mb-4">
  <div class="container">
    <div>
      <h3 class="lead fl-l light-bold"><b>New Products</b></h3>
      <h3 class="lead fl-r"><a href="/store">Go To Store ></a></h3>
    </div><br/><br/>
  </div>
  <div class="container x-scrolling-div" data-simplebar="">
    <% for(i=0; i<5 ;i++){ %>
      <div class="custom-card my-1" style="margin-right: 22px !important; margin-left: 1px">
        <div class="card-img"><a href="/item"><img src="/assets/images/static/img<%= i+5%>.jpg"></a></div>
        <a class="order-modal-link" href="#" data-toggle="modal" data-target="#modal-product-to-cart">
          <div class="cart-button-div">
            <p class="cart-button-text">Add to Cart</p>
          </div>
        </a>
        <div class="card-desc">
          <p class="card-title">Dugos Wild Forest Honey</p>
          <p class="card-price">₱&nbsp;2,300.99</p>
          <small class="card-oldprice text-muted">
            <span style="text-decoration: line-through;">₱&nbsp;2,550.99</span> (-10%)<br>
          </small>
          <small class="card-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>&nbsp;
          </small>
          <small class="card-reviews">45 reviews</small>
        </div>
      </div>
      <%}%>
  </div>
</div>

<%- include('../../../templates/modal-product-to-cart.ejs') -%>
<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
