<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Maintenance</a></li>
        <li class="active">Suppliers</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Profile Image -->

        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <div class="box box-primary">
              <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="/assets/images/static/profile.png" alt="User profile picture">

                <h3 class="profile-username text-center"><%=re[0].strFname%> <%=re[0].strMname%> <%=re[0].strLname%></h3>

                <p class="text-muted text-center">Consignor</p>

                <center>
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b>Brands:</b> &emsp;  <%= re[0].strBrands%>
                  </li>
                  <li class="list-group-item">
                    <b>Location:</b>&emsp; <%= re[0].strBusinessAddress %>
                  </li>
                  <li class="list-group-item">
                    <b>Email:</b>&emsp; <%= re[0].strBusinessEmail %>
                  </li>
                  <li class="list-group-item">
                    <b>Phone:</b>&emsp; <%= re[0].strSupplierPhone %>
                  </li>
                  <li class="list-group-item">
                    <b>Mobile:</b> &emsp;<%= re[0].strSupplierMobile %>
                  </li>
                </ul>
              </center>

              <div class="row">
                <div class="col-sm-6">
                  <a id="details" class="large ui teal button btn-block"><b>Show Details <i class="fa fa-chevron-down"></i></b></a>
                </div>
                <div class="col-sm-6">
                  <a id="contract" class="large ui blue button btn-block"><b>Show Contract <i class="fa fa-chevron-down"></i></b></a>

                </div>
              </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-sm-2">
          </div>
        </div>

        <div id="row_details" class="row supplierShow">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <div class="box box-primary">
              <div class="box-body ">
                <div class="box-header with-border">
                  <h3 class="box-title">Consignor Details</h3>
                </div>
                <br>
                <form class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label>Business Name:</label>
                  </div>
                  <div class="col-sm-4">
                    Janelle's Bakery
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Available Days:</label>
                  </div>
                  <div class="col-sm-4">
                    Monday, Tuesday
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>DTI Registered:</label>
                  </div>
                  <div class="col-sm-4">
                    Yes
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>FDA Registered:</label>
                  </div>
                  <div class="col-sm-4">
                    Yes
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>FDA ID:</label>
                  </div>
                  <div class="col-sm-4">
                    123456
                  </div>
                </div>

              </form>
              <a href="#" class="large ui green button btn-block"><b>Download Excel <i class="fa fa-download"></i></b></a>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-sm-2">
          </div>
        </div>

        <div id="row_contract" class="row supplierShow">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-8">
            <div class="box box-primary">
              <div class="box-body ">
                <div class="box-header with-border">
                  <h3 class="box-title">Consignor Contract</h3>
                </div>
                <br>
                <form class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label>Contract validity:</label>
                  </div>
                  <div class="col-sm-4">
                    Jan. 22, 2019 - Feb. 22, 2019
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Application Date:</label>
                  </div>
                  <div class="col-sm-4">
                    Jan. 22, 2019
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Commission Rate:</label>
                  </div>
                  <div class="col-sm-4">
                    40%
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Business TIN:</label>
                  </div>
                  <div class="col-sm-4">
                    1234456
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <label>Remittance Schedule:</label>
                  </div>
                  <div class="col-sm-4">
                    Every month
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Delivery Schedule:</label>
                  </div>
                  <div class="col-sm-4">
                    Every weekends
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Frequency of Delivery:</label>
                  </div>
                  <div class="col-sm-4">
                    Every weekends
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Frequency of Delivery:</label>
                  </div>
                  <div class="col-sm-4">
                    Every weekends
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <label>Documents available:</label>
                  </div>
                  <div class="col-sm-4">
                    Product Information Sheet, Company profile
                  </div>
                </div>
              </form>
              <a href="#" class="large ui orange button btn-block"><b>Download PDF <i class="fa fa-download"></i></b></a>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-sm-2">
          </div>
        </div>


    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->


  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->

<script>
$('.supplierShow').animateCss('fadeInDown');
$('#row_details').hide();
$('#row_contract').hide();

$('#details').on('click',function(){
  $('#row_details').show();
 })
 $('#contract').on('click',function(){
   $('#row_contract').show();
  })

</script>

<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>


<script>
$('#title').html("USG | Brand");
$(".treeview a:contains('Maintenance')").parent().addClass("active");
$(".navi a:contains('Supplier')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
