<%- include('../../../templates/admin-navbar.ejs') -%>


<!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
 <!-- Content Header (Page header) -->
 <section class="content-header">
   <h1>

     <small>Note: You can add a promo to a product in inventory.</small>
   </h1>
   <ol class="breadcrumb">
     <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
     <li><a href="#">Maintenance</a></li>
     <li class="active">Promotions</li>
   </ol>
 </section>

 <!-- Main content -->
 <section class="content">
   <div class="row">
     <div class="col-xs-12">
       <div class="box">
         <div class="box-header">
           <h3 class="box-title">Promo No. <%=promo%></h3>
         </div>
       </br>
		<!-- buttons -->
			&nbsp; &nbsp;<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addProduct"><i class="fa fa-plus"></i> Add Product</button>
         <!-- /.box-header -->
         <div class="box-body table-responsive">
           <table id="example2" class="table table-bordered table-hover">
             <thead>
             <tr>
               <th>Promo No</th>
               <th>Inventory No</th>
               <th>Supplier Name</th>
               <th>Product Price</th>
			         <th>Discounted Price</th>

             </tr>
             </thead>
             <tbody>
              <% if (re == null || re == undefined){ %>

              <% }else if(re.length == 0){ %>

              <% }else{ %>
                <% re.forEach(function(i){ %>
                  <tr>
                    <td><%=i.intPromoNo%></td>
                    <td><%=i.intInventoryNo%></td>
                    <td><%=i.strFname%> <%=i.strMname%> <%=i.strLname%></td>
                    <td>Php <%= i.productPrice%></td>
  				          <td>Php <%=i.productPrice - i.discount%></td>

                  </tr>
                <% }) %>
              <% } %>


             </tbody>

           </table>
         </div>
         <!-- /.box-body -->
       </div>
       <!-- /.box -->

    </div>
     <!-- /.col -->
   </div>
   <!-- /.row -->
 </section>
 <!-- /.content -->
</div>

<!-- /.content-wrapper -->


  <!-- Modals -->

	<div class="modal fade" id="addProduct">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Select Product you want to add</h4>
		  </div>
		  <div class="modal-body">

        <div class="box-body table-responsive">
          <table id="example3" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Product Name</th>
              <th>Supplier</th>
              <th></th>

            </tr>
            </thead>
            <tbody>
             <% if (productlist == null || productlist == undefined){ %>

             <% }else if(productlist.length == 0){ %>

             <% }else{ %>
               <% productlist.forEach(function(i){ %>
                 <tr>
                   <td><%=i.strBrand%> &nbsp;<%=i.strProductName%>&nbsp;   <%=i.intSize%> <%=i.strUnitName%></td>
                   <td><%=i.strFname%> <%=i.strLname%></td>
                   <td><button data-ino="<%=i.intInventoryNo%>" data-pno="<%=promo%>" id="select" class="btn btn-primary btn-xs">Select</button></td>


                 </tr>
               <% }) %>
             <% } %>


            </tbody>

          </table>
        </div>

		  </div>

		</div>
		<!-- /.modal-content -->
	</div>
  <!-- /.modal-dialog -->
</div>


<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->

<script>
$(document).ready(function(){
  $('#select').on('click',function(){
    $.ajax({
      url: '/maintenance/addToPromo',
      method: 'POST',
      datatype: "json",
      data: {
        ino: $(this).data('ino'),
        pno: $(this).data('pno')
      },
      success: function(response,status,http){
        if (response == "yes"){

            swal("Success","You added this product to the promo", "success");
            window.location.reload();
        }else{

        }
      }
    });
  });
})
</script>

<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $(function () {
    $('#example3').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('#title').html("USG | Promotions");
  $(".treeview a:contains('Maintenance')").parent().addClass("active");
  $(".navi a:contains('Promotions')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
