 <%- include('../../../templates/admin-navbar.ejs') -%>


  <!-- Content Wrapper. Contains page content -->

 <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
       <h1>

         <small>Note: Promo will automatically deactivated on its due date.</small>
       </h1>
       <ol class="breadcrumb">
         <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
         <li><a href="#">Maintenance</a></li>
         <li class="active">Promotions</li>
       </ol>
     </section>

     <!-- Main content -->
     <section class="content">
       <div class="row">
         <div class="col-xs-12">
           <div class="box">
             <div class="box-header">
               <h4 align="center">Promotions</h4>
             </div>
 			<!-- buttons -->
 				&nbsp; &nbsp;<button type="button" class="large ui green button" data-toggle="modal" data-target="#addPromotion"><i class="fa fa-plus"></i> Add New Promo</button>
             <!-- /.box-header -->
             <div class="box-body table-responsive">
               <table id="example2" class="table table-bordered table-hover">
                 <thead>
                 <tr>
                   <th>Promo No</th>
                   <th>Product Code</th>
                   <th>Discount</th>
                   <th>Promo Date Due</th>
 				           <th>Status</th>
                   <th>Actions</th>
                 </tr>
                 </thead>
                 <tbody>
                  <% if (re == null || re == undefined){ %>

                  <% }else if(re.length == 0){ %>

                  <% }else{ %>
                    <% re.forEach(function(i){ %>
                      <tr>
                        <td><%=i.intPromoNo%></td>
                        <td><%=i.strProductCode%></td>
                        <td><%=i.discount%></td>
                        <td><%= moment(i.date_end).format("MM/DD/YYYY")%></td>
      				          <td>
                          <% if (i.intStatus == 1){ %>
                            <button data-no="<%=i.intPromoNo%>" class="ui toggle button active inactivate_promo">Active</button>

                          <% }else{ %>
                            <button data-no="<%=i.intPromoNo%>" class="ui toggle button inactive activate_promo">Inactive</button>
                          <% } %>
                        </td>
                        <td>
                          <a href=""><button class="btn btn-default btn-sm">Description</button></a>
                          <a href="/maintenance/promotionList?promo=<%=i.intPromoNo%>"><button class="btn btn-primary btn-sm">Product List</button></a>
                        </td>
                      </tr>
                    <% }) %>
                  <% } %>


                 </tbody>

               </table>
             </div>
             <!-- /.box-body -->
           </div>
           <!-- /.box -->

 	    </div>
         <!-- /.col -->
       </div>
       <!-- /.row -->
     </section>
     <!-- /.content -->
 </div>

   <!-- /.content-wrapper -->

   <!-- Modals -->

 	<div class="modal fade" id="addPromotion">
 	  <div class="modal-dialog">
 		<div class="modal-content">
 		  <div class="modal-header">
 			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
 			  <span aria-hidden="true">&times;</span></button>
 			<h4 class="modal-title"></h4>
 		  </div>
 		  <div class="modal-body">
 			<!-- Horizontal Form -->

 					<!-- form start -->
          <% num = "1000"; %>
          <% if (lastpromo == null || lastpromo == undefined){ %>

          <% }else if (lastpromo.length == 0){ %>

          <% }else{ %>
            <% num = parseInt(lastpromo[0].intPromoNo) + 1; %>
          <% } %>
           <form role="form">
               <div class="box-body">
                 <div class="form-group">
                   <input type="hidden" id="pno" value="<%=num%>">
                   <label for="pname">Promo Name:</label>
                   <input type="text" required class="form-control" id="pname" placeholder="">
                 </div>

                 <div class="form-group">
                   <label for="pdesc">Promo Description:</label>
                   <textarea class="form-control" id="pdesc" placeholder=""></textarea>
                 </div>

                 <div class="form-group">
                   <label for="pcode">Product Code</label>
                   <input type="text" required class="form-control" id="pcode" placeholder="">
                   <small>check if pcode exists</small>
                 </div>

                 <div class="form-group">
                   <label for="pdiscount">Discount</label>
                   <input type="number" required class="form-control" id="pdiscount" placeholder="**change to input mask">
                   <small>less for each product</small>
                 </div>

                 <div class="form-group">
                   <label for="pdue">Due Date</label>
                   <input type="date" required class="form-control" id="pdue" >

                 </div>

               </div>
             </form>

 		  </div>
 		  <div class="modal-footer">
 			<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
 			<button type="button" id="save" class="btn btn-primary">Save</button>
 		  </div>
 		</div>
 		<!-- /.modal-content -->
 	</div>
   <!-- /.modal-dialog -->
 </div>


   <!-- Main Footer -->
   <footer class="main-footer">
     <!-- To the right -->
     <div class="pull-right hidden-xs">
       Anything you want
     </div>
     <!-- Default to the left -->
     <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
   </footer>

   <!-- Control Sidebar -->
   <aside class="control-sidebar control-sidebar-dark">
     <!-- Create the tabs -->
     <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
       <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
       <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
     </ul>
     <!-- Tab panes -->
     <div class="tab-content">
       <!-- Home tab content -->
       <div class="tab-pane active" id="control-sidebar-home-tab">
         <h3 class="control-sidebar-heading">Recent Activity</h3>
         <ul class="control-sidebar-menu">
           <li>
             <a href="javascript:;">
               <i class="menu-icon fa fa-birthday-cake bg-red"></i>

               <div class="menu-info">
                 <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                 <p>Will be 23 on April 24th</p>
               </div>
             </a>
           </li>
         </ul>
         <!-- /.control-sidebar-menu -->

         <h3 class="control-sidebar-heading">Tasks Progress</h3>
         <ul class="control-sidebar-menu">
           <li>
             <a href="javascript:;">
               <h4 class="control-sidebar-subheading">
                 Custom Template Design
                 <span class="pull-right-container">
                     <span class="label label-danger pull-right">70%</span>
                   </span>
               </h4>

               <div class="progress progress-xxs">
                 <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
               </div>
             </a>
           </li>
         </ul>
         <!-- /.control-sidebar-menu -->

       </div>
       <!-- /.tab-pane -->
       <!-- Stats tab content -->
       <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
       <!-- /.tab-pane -->
       <!-- Settings tab content -->
       <div class="tab-pane" id="control-sidebar-settings-tab">
         <form method="post">
           <h3 class="control-sidebar-heading">General Settings</h3>

           <div class="form-group">
             <label class="control-sidebar-subheading">
               Report panel usage
               <input type="checkbox" class="pull-right" checked>
             </label>

             <p>
               Some information about this general settings option
             </p>
           </div>
           <!-- /.form-group -->
         </form>
       </div>
       <!-- /.tab-pane -->
     </div>
   </aside>
   <!-- /.control-sidebar -->
   <!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
   <div class="control-sidebar-bg"></div>
 </div>
 <!-- ./wrapper -->

 <!-- REQUIRED JS SCRIPTS -->
 
<%- include('../../../templates/admin-footer.ejs') -%>

 <!-- page script (new added) -->
 <script>
   $(function () {
     $('#example2').DataTable({
       'paging'      : true,
       'lengthChange': true,
       'searching'   : true,
       'ordering'    : true,
       'info'        : true,
       'autoWidth'   : true,
 	  'select'		: true,
 	  'scroll'		: true
     })
   })
 </script>

 <script>
 $(document).ready(function(){

  $('#save').on('click',function(){
    $.ajax({
      url: '/maintenance/addPromotion',
      method: 'POST',
      datatype: "json",
      data: {
        pno: $('#pno').val(),
        pcode: $('#pcode').val(),
        pname: $('#pname').val(),
        pdesc: $('#pdesc').val(),
        pdiscount: $('#pdiscount').val(),
        pdue: $('#pdue').val()

      },
      success: function(response,status,http){
        if (response){
          if (response == "yes"){
            swal("Success", "Product Promo Added!", "success");
            window.location.reload();
          }
        }
      }
    });
  });


 })
 </script>


<script>
  $('#title').html("USG | Promotions");
  $(".treeview a:contains('Maintenance')").parent().addClass("active");
  $(".navi a:contains('Promotions')").parent().addClass("active");
</script>

<script>
$('.inactivate_promo').on('click',function(){
  $(this).removeClass("ui toggle button active inactivate_promo").addClass("ui toggle button  activate_promo").html("Inactive");

  $.ajax({
    url: '/maintenance/inactivatePromo',
    method: 'post',
    datatype: 'json',
    data: {no: $(this).data('no')},
    success: function(response,status,http){
      if (response){
        swal("Success!", "You have activated Promo no"+$(this).data('no'), "success");
      }
    }
  })
})

$('.activate_promo').on('click',function(){
  $(this).removeClass("ui toggle button activate_promo").addClass("ui toggle button active inactivate_promo").html("Active");

  $.ajax({
    url: '/maintenance/activatePromo',
    method: 'post',
    datatype: 'json',
    data: {no: $(this).data('no')},
    success: function(response,status,http){
      if (response){
        swal("Success!", "You have activated Promo no"+$(this).data('no'), "success");
      }
    }
  })
})
</script>


 <!-- Optionally, you can add Slimscroll and FastClick plugins.
      Both of these plugins are recommended to enhance the
      user experience. -->
 </body>
 </html>
