<%- include('../../../templates/admin-navbar.ejs') -%>

 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Send voucher code to customers.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Maintenance</a></li>
        <li class="active">Voucher</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h4 align="center">Voucher</h4>
            </div>
			<!-- buttons -->
				&nbsp; &nbsp;<button type="button" id="addVouch_btn" class="large ui green button" data-toggle="modal" data-target="#addVoucher"><i class="fa fa-plus"></i> Add New Voucher</button>

            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Voucher Code</th>
                  <th>Status</th>
                  <th>Discount</th>
                  <th>Voucher Description</th>
                  <th>Validity Date</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% if (re == null || re == undefined){ %>

                <% }else if (re.length == 0){ %>

                <% }else{ %>
                  <% re.forEach(function(i){ %>
                    <tr>
                      <td><%= i.strVoucherCode %></td>
                      <td>
                        <% if (i.intStatus == 1){ %>
                          <button data-no="<%=i.intVoucherNo%>" class="ui toggle button active inactivate_voucher">Active</button>

                        <% }else{ %>
                          <button data-no="<%=i.intVoucherNo%>" class="ui toggle button inactive activate_voucher">Inactive</button>

                        <% } %>
                      </td>
                      <td><%=i.discount%> %</td>
                      <td><%= i.strDescription %></td>
                      <td><%= moment(i.validityDate).format("MM/DD/YYYY") %></td>

                      <td>
                        <button data-toggle="modal" data-target="#voucher_edit" data-vcode="<%=i.strVoucherCode%>" data-vdesc="<%= i.strDescription %>" data-vno="<%=i.intVoucherNo%>" data-vdisc="<%=i.discount%>" data-vvalid="" class="v_edit large ui button blue left attached">Edit</button>
                        <a href="/maintenance/voucherUsers?number=<%=i.intVoucherNo%>&vcode=<%=i.strVoucherCode%>"><button class="large ui teal button right attached">View Users</button></a></td>

                    </tr>
                  <% }) %>
                <% } %>


                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->

  <div class="modal fade" id="voucher_edit">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      <!-- Horizontal Form -->

          <!-- form start -->
          <form role="form" id="voucherEdit">
              <div class="box-body">
                <div class="form-group">

                  <input type="hidden" id="e_vno" name="vno">
                  <label for="vcode">Voucher code:</label>
                  <input type="text" required class="form-control" name="vcode" id="e_vcode"  >
                </div>

                <div class="form-group">
                  <label for="vdesc">Voucher description:</label>
                  <input type="text" required class="form-control" id="e_vdesc" name="vdesc"  placeholder="">
                </div>


                <div class="input-group col-xs-4">

                  <input type="number" placeholder="Discount" id="e_vdisc" name="vdisc" class="form-control">
                  <span class="input-group-addon">%</span>
                </div>
                <br>

                <div class="form-group">
                  <label for="vvalid">Voucher validity date:</label>
                  <input type="date" required class="form-control" id="e_vvalid" name="vvalid" placeholder="">
                </div>


              </div>


      </div>
      <div class="modal-footer">
      <button type="button" class="big ui button" data-dismiss="modal">Close</button>
      <button type="submit" class="big ui teal button">Save</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

	<div class="modal fade" id="addVoucher">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title"></h4>
		  </div>
		  <div class="modal-body">
			<!-- Horizontal Form -->

					<!-- form start -->
          <form role="form" id="voucherForm">
              <div class="box-body">
                <div class="form-group">
                  <% num = "1000" %>
                  <% if (lastvoucher == null || lastvoucher == undefined){ %>

                  <% }else if(lastvoucher.length == 0){ %>

                  <% }else{ %>
                  <%  num = parseInt(lastvoucher[0].intVoucherNo) + 1; %>
                  <% } %>

                  
                  <input type="hidden" id="vno" name="vno" value="<%=num%>">
                  <label for="vcode">Voucher code:</label>
                  <input type="text" required class="form-control" name="vcode" id="vcode" value="<%=code%>"  >
                </div>

                <div class="form-group">
                  <label for="vdesc">Voucher description:</label>
                  <input type="text" required class="form-control" id="vdesc" name="vdesc"  placeholder="">
                </div>


                <div class="input-group col-xs-4">

                  <input type="number" placeholder="Discount" id="vdisc" name="vdisc" class="form-control">
                  <span class="input-group-addon">%</span>
                </div>
                <br>

                <div class="form-group">
                  <label for="vvalid">Voucher validity date:</label>
                  <input type="date" required class="form-control" id="vvalid" name="vvalid" placeholder="">
                </div>


              </div>


		  </div>
		  <div class="modal-footer">
			<button type="button" class="big ui button" data-dismiss="modal">Close</button>
			<button type="submit" class="big ui teal button">Save</button>
		  </div>
      </form>
		</div>
		<!-- /.modal-content -->
	</div>
  <!-- /.modal-dialog -->
</div>

<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- Toggle  -->
<script src="/assets/admin/toggle.js"></script>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('#voucherForm').submit(function(e){
    e.preventDefault();

    $.ajax({
      url: '/maintenance/addVoucher',
      method: 'post',
      data: $('#voucherForm').serialize(),
      success: function(response,status,http){
        if(response){
          swal("Success","New voucher added", "success");
          location.reload();
        }
      }
    })
  })
</script>

<script>
  function reload_js(src) {
      $('script[src="' + src + '"]').remove();
      $('<script>').attr('src', src).appendTo('body');
  }

</script>



<script>
$('#title').html("USG | Voucher");
$(".treeview a:contains('Maintenance')").parent().addClass("active");
$(".navi a:contains('Voucher')").parent().addClass("active");
</script>

<script>
$('#addVouch_btn').animateCss('bounceIn');
</script>

<script>
  $('.v_edit').on('click',function(){
    $('#e_vno').val($(this).data('vno'));
    $('#e_vcode').val($(this).data('vcode'));
    $('#e_vdisc').val($(this).data('vdisc'));
    $('#e_vdesc').val($(this).data('vdesc'));
    $('#e_vvalid').val($(this).data('vvalid'));

  })
</script>

<script>
  $('#voucherEdit').submit(function(e){
    e.preventDefault();
    $.ajax({
      url: '/maintenance/editVoucher',
      method: 'post',
      data: $('#voucherEdit').serialize(),
      success: function(response,status,http){
        swal("Success!","You edited a voucher","success");
        location.reload();
      }
    })
  })
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
