<%- include('../../../templates/consignor-dashboard.ejs') -%>

<div id="consigner" class="container">
    <div class="row">
        <div class="col">
            <div id="main-content">
                <div class="col-lg-12">
                    <div class="card-title">
                        <h4>Returns</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Order No.</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (re == null || re == undefined){ %>

                                        <% }else if (re.length == 0){ %>

                                        <% }else{ %>
                                            <%  re.forEach(function(i){ %>
                                                <tr>
                                                    <td><a><%= i.intPurchaseOrderNo%></a></td>
                                                    <td><span><%= i.dateOrderReceived%></span></td>
                                                    <td><a class="btn btn-custom-primary" data-toggle='modal' data-target='#EditInfo'> </i>&nbsp;View Sales</a>
														<div id="EditInfo" class="modal fade" tabindex='-1' role='dialog' aria-labelledby='EditInfoTitle' aria-hidden='true'>
															<div class="modal-dialog" role='document'>
															<div class="modal-content">
																<div class="modal-header">
																<h5 id="EditInfoTitle" class="modal-title"><b><%= i.strProduct%></b></h5>
																<button class="close" type='button' data-dismiss='modal' aria-label='Close'>
																	<span aria-hidden='true'>×</span>
																</button>
																</div>
																<div class="modal-body">
																<div class="row">
																	<div style="width: 490px;padding: 20px;"><span class="text-tab">Variant</span><span style="margin-left: 150px;"><%= i.strVariant%></span>
																	<hr/><span class="text-tab">Size</span><span style="margin-left: 150px;""><%= i.strSize%></span>
																	<hr/><span class="text-tab">Qauntity</span><span style="margin-left: 150px;""><%= i.intQuantity%></span>
																	</div>
																</div>
																<div class="modal-footer">
																<button class="btn btn-secondary" type='button', data-dismiss='modal'>Close</button>
																</div>
																</div>
															</div>
															</div>
														</div>
													</td>
                                                </tr>
                                            <%  }) %>
                                            <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col"> </div>
                            <div class="col">
                            <ul class="pagination" style="margin-left: 40px;">
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">6</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
                                </li>
                            </ul>
                            </div>
                            <div class="col"> </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
</body>

</html>
