<%- include('../../../templates/consignor-dashboard.ejs') -%>
  <div id="consigner" class="container">
    <div class="row">
      <div class="col">
        <div id="main-content">
          <h4 class="lead pl-1 pb-2"><b>Dashboard</b> </h4>
          <div class="row">
							<div class="col-md-3">
								<div class="card p-30">
									<div class="media">
										<div class="media-left meida media-middle">
											<span><i class="fa fa-usd f-s-40 color-primary"></i></span>
										</div>
										<div class="media-body media-text-right">
											<h2>price</h2>
											<p class="m-b-0">Total Revenue</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card p-30">
									<div class="media">
										<div class="media-left meida media-middle">
											<span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
										</div>
										<div class="media-body media-text-right">
											<h2>1178</h2>
											<p class="m-b-0">Products Sold</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card p-30">
									<div class="media">
										<div class="media-left meida media-middle">
											<span><i class="fa fa-archive f-s-40 color-warning"></i></span>
										</div>
										<div class="media-body media-text-right">
											<h2><%=${re2[0].intQuantity}%></h2>
											<p class="m-b-0">Overall Stock</p>
										</div>
									</div>
								</div>
				</div>
				<div class="col-md-3">
					<div class="card p-30">
						<div class="media">
							<div class="media-left meida media-middle">
								<span><i class="fa fa-suitcase f-s-40 color-danger"></i></span>
							</div>
							<div class="media-body media-text-right">
								<h2><%= re3%></h2>
								<p class="m-b-0">Products</p>
							</div>
						</div>
					</div>
				</div>
		</div>
	<div class="col-lg-12">
		<div class="card">
			<div class="card-title">
				<h4>New Products</h4>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>&nbsp</th>
								<th>Product</th>
								<th>Quantity</th>
								<th>Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
              <% if (re4 == null || re4 == undefined){ %>

                <% }else if (re4.length == 0){ %>

                <% }else{ %>
                  <%  re4.forEach(function(i){ %>

							<tr>
								<td>
									<div class="round-img">
										<a href=""><img src="/assets/images/products/<%=i.strProductPicture%>"></a>
									</div>
								</td>
								<td><%= i.strProductName%></td>
								<td><span><%= i.intQuantity%></span></td>
								<td><span><%= moment(i.dateRecorded).format("MM/DD/YYYY")%></span></td>
                <% if (i.intStatus == 0 ){ %>
								<td><span class="badge badge-warning">Out of Stock</span></td>
                <% }else if (i.intStatus == 1) { %>
                  <td><span class="badge badge-success">Stocked</span></td>
                <%} %>
							</tr>
              <%  }) %>
              <% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>

</html>
