<div class="box-body table-responsive">
  <table id="product_table" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Product Name</th>
        <th>Quantity</th>

      </tr>
    </thead>
    <tbody>
      <% if(re==null||re==undefined){ %>

      <% }else if(re.length==0){ %>

      <% }else{ %>
      <%  var count = 1; %>
      <%  re.forEach(function(i){ %>
          <tr>
            <td><%=moment(i.pullOutDate).format("MM/DD/YYYY")%></td>
            <td><%=i.strProductName%> <%=i.strVariant%> <%=i.intSize%> <%=i.strUnitName%></td>
            <td><%=i.intQuantity%></td>

          </tr>
      <%  count++; %>
      <%  }) %>
      <% } %>

    </tbody>
  </table>
</div>

<script>
  $(function () {
    $('#product_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'order'       : [[0, "desc"]]
    })
  })
</script>
