<%- include('../../../templates/admin-navbar.ejs') -%>
 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <small> </small>

      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Transactions</a></li>
        <li class="active">Consignor Application</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h4 align="center">Consignor Applications</h4>
            </br>
              <h5>Note: Consignors have agreed to the terms and conditions upon application.</h5>

              <h5>Note: Pending status are not evaluated yet.</h5>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Business Name</th>
                  <th>Consignor Name</th>
                  <th>Application Date</th>
				          <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% if (list == undefined || list == null || list.length < 0 ){ %>

                <% }else{ %>
                <%  list.forEach(function(i){ %>
                  <tr>
                    <td><%=i.intContractNo%></td>
                    <td><%=i.strBusinessName%></td>
                    <td><%=i.strFname%>&nbsp;<%=i.strMname%>&nbsp;<%=i.strLname%></td>
                    <td><%= moment(i.applicationDate).format("MMMM Do YYYY")%></td>
                    <td>
                      <% if (i.stats == 0){ %>
                        <span class="label label-warning">Pending</span>
                      <% }else if(i.stats == 1){ %>
                        <span class="label label-success">Accepted</span>
                      <% }else if(i.stats == 2){ %>
                        <span class="label label-danger">Rejected</span>
                      <% }else if(i.stats == 3){ %>
                        <span class="label label-info">For Product Sampling</span>
                      <% }else{ %>
                        <span class="label label-danger">Terminated</span>
                      <% } %>
                    </td>
                    <td>
                      <a href="/consApplication/details?contract=<%=i.intContractNo%>"><button class="btn btn-default btn-sm">View Details</button></a>
                    </td>
                  </tr>
                <%  }) %>
                <% } %>




                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

	<!-- Modals -->


  <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>


<script>
$('#title').html("USG | Consignor Application");
$(".treeview a:contains('Transactions')").parent().addClass("active");
$(".navi a:contains('Consignor Application')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
