<%- include('../../../templates/admin-navbar.ejs') -%>

<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Dashboard
       <small></small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
       <li class="active">Dashboard</li>
     </ol>
   </section>

   <!-- Main content -->
   <section  class="content container-fluid">

      <div id="l"></div>

     <!-- Small boxes (Stat box) -->
     <div id="yourElement" class="row">
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-aqua">
           <div class="inner">
             <h3><%= re1%></h3>

             <p>New Orders</p>
           </div>
           <div class="icon">
             <i class="fa fa-shopping-cart"></i>
           </div>
           <a href="/customerOrder/checkNewOrders" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>

       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-yellow">
           <div class="inner">
             <h3><%= re2%></h3>

             <p>Customer Registrations</p>
           </div>
           <div class="icon">
             <i class="ion ion-person-add"></i>
           </div>
           <a href="/maintenance/customer" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>
       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-red">
           <div class="inner">
             <h3><%= re3%></h3>
             <p>Products to Expire</p>
           </div>
           <div class="icon">
             <i class="ion ion-pie-graph"></i>
           </div>
           <a href="/inventory/pulledOutStocks" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>

       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-green">
           <div class="inner">
             <h3>10<sup style="font-size: 20px">%</sup></h3>

             <p>Cart Abandonment Rate</p>
           </div>
           <div class="icon">
             <i class="ion ion-stats-bars"></i>
           </div>
           <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
         </div>
       </div>
       <!-- ./col -->
     </div>
     <!-- /.row -->

     <div class="row">
       <div class="col-sm-8">
         <!-- BAR CHART -->
         <div class="box box-success">
           <div class="box-header with-border">
             <h3 class="box-title">Overview</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>

             </div>
           </div>
           <div class="box-body">
             <div class="chart">
               <canvas id="lineChart" style="height:320px"></canvas>
             </div>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
       </div>

       <div class="col-sm-4">
         <!-- PRODUCT LIST -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Nearly Expired Products</h3>
             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body" style="height: 324px; max-height: 324px;">
             <ul class="products-list product-list-in-box">
                <% if (re6 == null || re6 == undefined){ %>

                <% }else if (re6.length == 0){ %>

                <% }else{ %>
                    <%  re6.forEach(function(i){ %>
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/<%= i.strProductPicture%>" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title"><%= i.strProductName%>(<%=i.intSize%><%=i.strUnitName%>)
                     <span class="label label-warning pull-right">₱<%=i.productSRP%></span></a>
                   <span class="product-description"><%=i.proddesc%></span>
                 </div>
               </li>
                <!-- /.item -->
                <%  }) %>
                <% } %>
                <% if (re6 == 0 || re6 == null){ %>
                    <span class ="label label-danger">No products to expire for now.</span>
                <%} %>
             </ul>
           </div>
           <!-- /.box-body -->

           <div class="box-footer text-center">
              <% if (re6 == 0 || re6 == null){ %>

              <% }else if (re6 != 0 || re6 == null){ %>
                <a href="/inventory/pulledOutStocks" class="uppercase">View All Products</a>
              <%} %>

           </div>

           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>

     </div>


     <!-- End of row  -->
     <div class="row">
       <div class="col-sm-8">
         <!-- TABLE: LATEST ORDERS -->
         <div class="box box-info">
           <div class="box-header with-border">
             <h3 class="box-title">Recent Order Activities</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <div class="table-responsive">
               <table class="table no-margin">
                 <thead>
                 <tr>
                   <th>Order Date</th>
                   <th>Customer Name</th>
                   <th>Activity</th>
                 </tr>
                 </thead>
                 <tbody>
                  <% if (hist == null || hist == undefined){ %>

                  <% }else if (hist.length == 0){ %>

                  <% }else{ %>
                    <%  hist.forEach(function(i){ %>
                  <tr>
                      <td><%= moment(i.dateOrdered).format("MM/DD/YYYY") %></td>
                      <td><%= i.strFname %>&nbsp;<%= i.strMname %>&nbsp;<%=i.strLname%></td>

                      <td>
                        <% if (i.stat == 0){ %>
                          Placed an Order
                        <% }else if(i.stat == 1){ %>
                          Processing the order
                        <% }else if(i.stat == 2){ %>
                          The order has been shipped
                        <% }else if (i.stat == 3){ %>
                          The order has been delivered
                        <% }else if(i.stat == 4){ %>
                          The order will not be delivered
                        <% }else if(i.stat == 5){ %>
                          The order is returned
                        <% }else{ %>
                          The order is cancelled

                        <% } %>
                  </tr>
                  <%  }) %>
                  <% } %>
                 </tbody>
                 <% if (re4 == 0 || re4 == null){ %>
                  <span class ="label label-danger">No latest orders for now.</span>
                 <%} %>
               </table>
             </div>
             <!-- /.table-responsive -->
           </div>
           <!-- /.box-body -->

           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>

       <div class="col-sm-4">
         <!-- PRODUCT LIST -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Best Seller Products</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <ul class="products-list product-list-in-box">
                <% if (re5 == null || re5 == undefined){ %>

                <% }else if (re5.length == 0){ %>

                <% }else{ %>
                  <%  re5.forEach(function(i){ %>
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/<%= i.strProductPicture %>"  alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title"><%= i.strProductName %> <%= i.strVariant%>
                     <span class="label label-primary pull-right"></span></a>
                     <span class="product-description"><%= i.intSize%> <%= i.strUnitName%></span>
                   <span class="product-description"><%= i.total_quantity%> bought</span>
                 </div>
               </li>
               <!-- /.item -->
               <%  }) %>
               <% } %>
               <% if (re5 == 0 || re5 == null){ %>
                <span class ="label label-danger">No recently added products for now.</span>
               <%} %>
             </ul>
           </div>
           <!-- /.box-body -->
           <div class="box-footer text-center">
              <% if (re5 == 0 || re5 == null){ %>

                <% }else if (re5 != 0 || re5 == null){ %>
                  <a href="inventory/allProducts" class="uppercase">View All Products</a>
                <%} %>


           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->

       </div>

     </div>


     <!-- =========================================================== -->

   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->

 <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- ChartJS -->
<script src="/assets/admin/bower_components/chart.js/dist/Chart.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/admin/dist/js/demo.js"></script>


<script>
$('#title').html("USG | Dashboard");
$(".navi a:contains('Dashboard')").parent().addClass("active");
</script>

<script>
$('#yourElement').animateCss('bounce');
</script>


<script>
var ctx = document.getElementById("lineChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["Oct 4", "Oct 5", "Oct 6", "Oct 7", "Oct 8", "Oct 9"],
        datasets: [{
            label: 'Online Store Revenue',
            data: [350, 550, 1020, 600, 850, 500],
            backgroundColor: [
                'rgba(56, 236, 28, 1)'
            ],
            borderColor: [
                'rgba(26,145,7,1)'
            ],
            borderWidth: 1,
            fill: false
        },
        {
            label: 'Quantity Sold',
            data: [2, 4, 7, 3, 4, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1,
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->
</body>
</html>
