<%- include('../../../templates/admin-navbar.ejs') -%>

<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Dashboard
       <small></small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
       <li class="active">Dashboard</li>
     </ol>
   </section>

   <!-- Main content -->
   <section  class="content container-fluid">



      <div id="l"></div>

     <!-- Small boxes (Stat box) -->
     <div id="yourElement" class="row">
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-aqua">
           <div class="inner">
             <h3><%= re1%></h3>

             <p>New Orders</p>
           </div>
           <div class="icon">
             <i class="fa fa-shopping-cart"></i>
           </div>
           <a href="/customerOrder/checkNewOrders" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>

       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-yellow">
           <div class="inner">
             <h3><%= re2%></h3>

             <p>Customer Registrations</p>
           </div>
           <div class="icon">
             <i class="ion ion-person-add"></i>
           </div>
           <a href="/maintenance/customer" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>
       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-red">
           <div class="inner">
             <h3><%= re3%></h3>
             <p>Products to Expire</p>
           </div>
           <div class="icon">
             <i class="ion ion-pie-graph"></i>
           </div>
           <a href="/inventory/pulledOutStocks" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>
       <!-- ./col -->
     </div>
     <!-- /.row -->

     <div class="row">
       <div class="col-sm-8">
         <!-- BAR CHART -->
         <div class="box box-success">
           <div class="box-header with-border">
             <h3 class="box-title">2018 sales</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>

             </div>
           </div>
           <div class="box-body">
             <div class="chart">
               <canvas id="barChart" style="height:320px"></canvas>
             </div>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
       </div>

       <div class="col-sm-4">
         <!-- PRODUCT LIST -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Nearly Expired Products</h3>
             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <ul class="products-list product-list-in-box">
                <% if (re6 == null || re6 == undefined){ %>

                <% }else if (re6.length == 0){ %>

                <% }else{ %>
                    <%  re6.forEach(function(i){ %>
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/<%= i.strProductPicture%>" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title"><%= i.strProductName%>(<%=i.intSize%><%=i.strUnitName%>)
                     <span class="label label-warning pull-right">₱<%=i.productSRP%></span></a>
                   <span class="product-description"><%=i.proddesc%></span>
                 </div>
               </li>
                <!-- /.item -->
                <%  }) %>
                <% } %>
                <% if (re6 == 0 || re6 == null){ %>
                    <span class ="label label-danger">No products to expire for now.</span>
                <%} %>
             </ul>
           </div>
           <!-- /.box-body -->

           <div class="box-footer text-center">
              <% if (re6 == 0 || re6 == null){ %>

              <% }else if (re6 != 0 || re6 == null){ %>
                <a href="/inventory/pulledOutStocks" class="uppercase">View All Products</a>
              <%} %>

           </div>

           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>

     </div>
     <!-- End of row  -->
     <div class="row">
       <div class="col-sm-8">
         <!-- TABLE: LATEST ORDERS -->
         <div class="box box-info">
           <div class="box-header with-border">
             <h3 class="box-title">Latest Orders</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <div class="table-responsive">
               <table class="table no-margin">
                 <thead>
                 <tr>
                   <th>Order No</th>
                   <th>Customer Name</th>
                   <th>Order Date</th>
                   <th>Status</th>
                 </tr>
                 </thead>
                 <tbody>
                  <% if (re4 == null || re4 == undefined){ %>

                  <% }else if (re4.length == 0){ %>

                  <% }else{ %>
                    <%  re4.forEach(function(i){ %>
                  <tr>
                      <td><%= i.intOrderNo %></td>
                      <td><%= i.strFname %>&nbsp;<%= i.strMname %>&nbsp;<%=i.strLname%></td>
                      <td><%= moment(i.dateOrdered).format("MM/DD/YYYY") %></td>
                      <td>
                        <% if (i.intStatus == 0){ %>
                          <span class="label label-warning">Pending</span>
                        <% }else if(i.intStatus == 1){ %>
                          <span class="label label-info">Processing</span>
                        <% }else if(i.intStatus == 2){ %>
                          <span class="label label-default">Shipped</span>
                        <% }else if (i.intStatus == 3){ %>
                          <span class="label label-default">Delivered</span>
                        <% }else if(i.intStatus == 4){ %>
                          <span class="label label-default">Will not deliver</span>
                        <% }else if(i.intStatus == 5){ %>
                          <span class="label label-default">Returned</span>
                        <% }else{ %>
                          <span class="label label-danger">Cancelled</span>

                        <% } %>
                  </tr>
                  <%  }) %>
                  <% } %>
                 </tbody>
                 <% if (re4 == 0 || re4 == null){ %>
                  <span class ="label label-danger">No latest orders for now.</span>
                 <%} %>
               </table>
             </div>
             <!-- /.table-responsive -->
           </div>
           <!-- /.box-body -->
           <div class="box-footer clearfix">
              <% if (re4 == 0 || re4 == null){ %>

                <% }else if (re4 != 0 || re4 == null){ %>
                  <a href="customerOrder/allOrders" class="btn btn-sm btn-primary btn-flat pull-right">View All Orders</a>
                <%} %>
           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>

       <div class="col-sm-4">
         <!-- PRODUCT LIST -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Recently Added Products</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <ul class="products-list product-list-in-box">
                <% if (re5 == null || re5 == undefined){ %>

                <% }else if (re5.length == 0){ %>

                <% }else{ %>
                  <%  re5.forEach(function(i){ %>
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/<%= i.strProductPicture %>"  alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title"><%= i.strProductName %>(<%= i.intSize%> <%= i.strUnitName%>)
                     <span class="label label-primary pull-right">₱<%= i.productPrice%></span></a>
                   <span class="product-description"><%= i.strDescription%></span>
                 </div>
               </li>
               <!-- /.item -->
               <%  }) %>
               <% } %>
               <% if (re5 == 0 || re5 == null){ %>
                <span class ="label label-danger">No recently added products for now.</span>
               <%} %>
             </ul>
           </div>
           <!-- /.box-body -->
           <div class="box-footer text-center">
              <% if (re5 == 0 || re5 == null){ %>

                <% }else if (re5 != 0 || re5 == null){ %>
                  <a href="inventory/allProducts" class="uppercase">View All Products</a>
                <%} %>


           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->

       </div>

     </div>


     <!-- =========================================================== -->

   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->

 <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- ChartJS -->
<script src="/assets/admin/bower_components/chart.js/Chart.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/admin/dist/js/demo.js"></script>


<script>
$('#title').html("USG | Dashboard");
$(".navi a:contains('Dashboard')").parent().addClass("active");
</script>

<script>
$('#yourElement').animateCss('bounce');
</script>

<script>
$(function () {
  /* ChartJS
   * -------
   * Here we will create a few charts using ChartJS
   */

  //--------------
  //- AREA CHART -
  //--------------



  var areaChartData = {
    labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [
      {
        label               : 'Electronics',
        fillColor           : 'rgba(210, 214, 222, 1)',
        strokeColor         : 'rgba(210, 214, 222, 1)',
        pointColor          : 'rgba(210, 214, 222, 1)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data                : [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label               : 'Digital Goods',
        fillColor           : 'rgba(60,141,188,0.9)',
        strokeColor         : 'rgba(60,141,188,0.8)',
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : [28, 48, 40, 19, 86, 27, 90]
      }
    ]
  }





  //-------------
  //- BAR CHART -
  //-------------
  var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
  var barChart                         = new Chart(barChartCanvas)
  var barChartData                     = areaChartData
  barChartData.datasets[1].fillColor   = '#00a65a'
  barChartData.datasets[1].strokeColor = '#00a65a'
  barChartData.datasets[1].pointColor  = '#00a65a'
  var barChartOptions                  = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero        : true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines      : true,
    //String - Colour of the grid lines
    scaleGridLineColor      : 'rgba(0,0,0,.05)',
    //Number - Width of the grid lines
    scaleGridLineWidth      : 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines  : true,
    //Boolean - If there is a stroke on each bar
    barShowStroke           : true,
    //Number - Pixel width of the bar stroke
    barStrokeWidth          : 2,
    //Number - Spacing between each of the X value sets
    barValueSpacing         : 5,
    //Number - Spacing between data sets within X values
    barDatasetSpacing       : 1,
    //String - A legend template
    legendTemplate          : '',
    //Boolean - whether to make the chart responsive
    responsive              : true,
    maintainAspectRatio     : true
  }

  barChartOptions.datasetFill = false
  barChart.Bar(barChartData, barChartOptions)
})
</script>

<script>
function run(){
  $('#l').load('/dashboard/load');
}
var my = setTimeout(run, 0000)

  clearTimeout(my)

</script>



<!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->
</body>
</html>
