<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>

        <small></small>

		<small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Transactions</a></li>
        <li class="active">Consignor Contract</li>
      </ol>
    </section>

    <!-- Main content -->

    <section class="content">



      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 align="center">Consignor Agreement</h3>
              <center>
              <% if(contract[0].intContractStatus == 1) { %>
                <span class="label label-success">Active</span>

              <% }else if(contract[0].intContractStatus == 4){ %>
                <span class="label label-danger">Terminated</span>

              <% }else{ %>

              <% } %>
            </center>
            </div>

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <h5>Application Date:</h5>
          </div>
          <div class="col-md-5">
            <h5><%= moment(contract[0].applicationDate).format("MMMM Do YYYY") %></h5>
          </div>
        </div>

        <div class="row">
  				<div class="col-md-1"></div>
  				<div class="col-md-2">
  				  <h5>Business Name:</h5>
  				</div>
  				<div class="col-md-5">
  			    <h5><%=contract[0].strBusinessName%></h5>
  				</div>
			   </div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Brands:</h5>
				</div>
				<div class="col-md-5">
				<h5><%=contract[0].strBrands%></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Type:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].strBusinessType %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Address:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].strBusinessAddress %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business TIN:</h5>
				</div>
				<div class="col-md-5">
				<h5>
          <% if (contract[0].strBusinessTIN == null){ %>
            <span class="label label-danger">Not Available</span>
          <% }else{ %>
            <%= contract[0].strBusinessTIN %>
          <% } %>
        </h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Sales Invoice Available:</h5>
				</div>
				<div class="col-md-5">
				<h5>
          <% if (contract[0].intInvoiceAvailable == 0){ %>
            <span class="label label-warning">To be followed</span></h5>
          <% } else if(contract[0].intInvoiceAvailable == 1){ %>
            <span class="label label-success">Available</span></h5>
          <% }else{ %>
            <span class="label label-danger">Not Available</span></h5>
          <% } %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Contact Numbers:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].strSupplierMobile %>, <%= contract[0].strSupplierPhone %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Email Address:</h5>
				</div>
				<div class="col-md-5">
				<h5 id="email"><%= contract[0].strBusinessEmail %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Best Time and Day to reach:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].timeDayToReach %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Consignment Price:</h5>
				</div>
				<div class="col-md-5">
				<h5>We agree with the <%= contract[0].consignmentPrice %> commission on all product consignment</h5>
				</div>
			</div>



			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Product Certifications:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].strProductCertifications %></h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				  <h5>FDA Registration Status:</h5>
				</div>
				<div class="col-md-5">
				  <h5>
            <% if (contract[0].intFDAReg == 0){ %>
              <span class="label label-danger">Not Registered</span>
            <% }else if (contract[0].intFDAReg == 2){ %>
              <span class="label label-warning">To be followed</span>
            <% }else{ %>
              <span class="label label-success">Registered</span>
            <% } %>
          </h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Proposed Schedule of Delivery:</h5>
				</div>
				<div class="col-md-5">
				<h5><%= contract[0].deliverySchedule %></h5>
				</div>
			</div>

    </br>
    </br>
    </br>

    <h4 align="center">Documents Attached</h4>

      <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Product Information sheet</h5>
				</div>
				<div class="col-md-5">
          <input type="checkbox" value="1" id="product_info" checked data-on="Yes" data-off="No" data-toggle="toggle" data-size="mini" data-onstyle="success">
				<!-- <h5><% if (contract[0].intProductInfoSheet == 0){ %>
          <span class="label label-danger">Not Available</span>
        <% }else{ %>
          <span class="label label-success">Available</span>
        <% } %>
           </h5> -->
				</div>
			</div>

      <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Delivery Receipt</h5>
				</div>
				<div class="col-md-5">
          <input type="checkbox" id="delivery_receipt" checked data-on="Yes" data-off="No" data-toggle="toggle" data-size="mini" data-onstyle="success">

				<!-- <h5><% if (contract[0].intDeliveryReceipt == 0){ %>
          <span class="label label-danger">Not Available</span>
        <% }else{ %>
          <span class="label label-success">Available</span>
        <% } %>
           </h5> -->
				</div>
			</div>



      <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Company Profile</h5>
				</div>
				<div class="col-md-5">
          <input type="checkbox" id="company_profile" checked data-on="Yes" data-off="No" data-toggle="toggle" data-size="mini" data-onstyle="success">

				<!-- <h5><% if (contract[0].intCompanyProfile == 0){ %>
          <span class="label label-danger">Not Available</span>
        <% }else{ %>
          <span class="label label-success">Available</span>
        <% } %>
           </h5> -->
				</div>
			</div>

      <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Eco Certification</h5>
				</div>
				<div class="col-md-5">
          <input type="checkbox" id="eco_certification" checked data-on="Yes" data-off="No" data-toggle="toggle" data-size="mini" data-onstyle="success">

				<!-- <h5><% if (contract[0].intEcoCertification == 0){ %>
          <span class="label label-danger">Not Available</span>
        <% }else{ %>
          <span class="label label-success">Available</span>
        <% } %>
           </h5> -->
				</div>
			</div>





			<div class="box-footer">
        <a href="/consApplication"><button class="btn btn-default" >Back</button></a>

        <button type="button" id="sendInvite" data-toggle="modal" data-target="#modify" class="invite large ui green button pull-right"> Modify
				</button>
        <button type="button" id="downloadContract" class="large ui teal button pull-right"><i class="fa fa-download"></i> Download
  				</button>
				<button type="button" data-contract="<%=contract[0].intContractNo%>" class="renew large ui blue button pull-right" id="renew" style="margin-right: 5px;">
				 Renew Contract
				</button>

			</div>
			<!-- /.box-footer -->
          </div>
          <!-- /.box -->
	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->

	<div class="modal fade" id="modify">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Modify Contract</h4>
		  </div>
		  <div class="modal-body">
			<!-- Horizontal Form -->
        <div class="row">
          <div class="col-sm-12">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#contract_details" data-toggle="tab">Contract Details</a></li>
                <li ><a href="#consignor_details" data-toggle="tab">Consignor Details</a></li>
                <!-- <li><a href="#quantity" data-toggle="tab"><i class=""></i>Quantity</a></li> -->
              </ul>

              <div class="tab-content">
                <!-- Active -->
                <div class="tab-pane active" id="contract_details">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="receiver">To:</label>
                      <input type="text" class="form-control" id="receiver" disabled value="PICOLE" placeholder="">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Set Preferred Schedules for Product Presentation:</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="ex. June 10, 2018 8:00 onwards">
                    </div>
                  </div>

                </div>

                <div class="tab-pane active" id="contract_details">
                </div>
              </div>
            </div>
          </div>
        </div>


		  </div>
		  <div class="modal-footer">
			<button type="button" class="large ui button pull-left" data-dismiss="modal">Close</button>
			<button type="button" data-dismiss="modal" class="large ui teal button">Save changes</button>
		  </div>
		</div>
		<!-- /.modal-content -->
	</div>
  <!-- /.modal-dialog -->
</div>



<%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->


<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })
</script>

<script>
  $('.invite').on('click', function(){
    $('#receiver').val($('#email').html());
  });
</script>



<% if ( contract[0].intContractStatus == 1){ %>
  <script>
  // Accepted
  $('.renew').html('Terminate Contract');
  $('.renew').attr('class','terminate large ui red button pull-right');

   </script>
<% } %>

<% if ( contract[0].intContractStatus == 4){ %>
  <script>
  // Terminated
  $('.terminate').html('Renew Contract');
  $('.terminate').attr('class','renew large ui blue button pull-right');
  </script>
<% } %>



<script>

  $('.sendInvite').on('click', function(){
    $.ajax({url:'/consApplication/sendInvitation', method: 'POST' });
    $('.invite').attr('disabled','disabled');
  })
</script>

<script>
  $('#title').html("USG | Consignor Agreement");
  $(".treeview a:contains('Transactions')").parent().addClass("active");
  $(".navi a:contains('Consignor Agreement')").parent().addClass("active");
</script>

<script>
  $('.renew').on('click',function(){
    swal({
      title: "Are you sure?",
      text: "You cannout undo this once you proceed",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Renew Consignor",
      cancelButtonText: "Back",
      reverseButtons: true
    }).then((result)=>{
      if(result.value){
        $.post('/consAgreement/renew',{no: $('.renew').data('contract')}, function(data,success){
          swal({title: 'Success', text: 'This contract is now active', type:'success'}).then(()=>{
            $('.renew').html('Terminate Contract');
            $('.renew').attr('class','terminate large ui red button pull-right');

            location.reload();
          })
        })
      }
    })
  })


  $('.terminate').on('click',function(){
    swal({
      title: "Are you sure?",
      text: "You cannout undo this once you proceed",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-danger",
      confirmButtonText: "Terminate Consignor",
      cancelButtonText: "Back",
      reverseButtons: true
    }).then((result)=>{
      if(result.value){
        $.post('/consAgreement/terminate',{no: $('.terminate').data('contract')}, function(data,success){
          swal({title: 'Success', text: 'This contract is now terminated', type:'success'}).then(()=>{
            $('.terminate').html('Renew Contract');
            $('.terminate').attr('class','renew large ui blue button pull-right');

            location.reload();
          })
        })
      }
    })
  })
</script>

<script>
  <% if (contract[0].intDeliveryReceipt == 0){ %>
    $('#delivery_receipt').attr('checked',false);
    $('#delivery_receipt').val(0);
  <% }else{ %>
    $('#delivery_receipt').attr('checked',true);
    $('#delivery_receipt').val(1);
  <% } %>

  <% if (contract[0].intProductInfoSheet == 0){ %>
    $('#product_info').attr('checked',false);
    $('#product_info').val(0);

  <% }else{ %>
    $('#product_info').attr('checked',true);
    $('#product_info').val(1);

  <% } %>

  <% if (contract[0].intCompanyProfile == 0){ %>
    $('#company_profile').attr('checked',false);
    $('#company_profile').val(0);
  <% }else{ %>
    $('#company_profile').val(1);
    $('#company_profile').attr('checked',true);
  <% } %>

  <% if (contract[0].intEcoCertification == 0){ %>
    $('#eco_certification').attr('checked',false);
    $('#eco_certification').val(0);
  <% }else{ %>
    $('#eco_certification').attr('checked',true);
    $('#eco_certification').val(1);
  <% } %>
</script>

<script>
  $('#product_info').on('change',function(){
    if($(this).val() == 1){
      $('#product_info').val(0);
      $.post('/consApplication/updateContract',{type: 1, value: 0, contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }else{
      $('#product_info').val(1);
      $.post('/consApplication/updateContract',{type: 1, value: 1,  contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }

  })

  $('#delivery_receipt').on('change',function(){
    if($(this).val() == 1){
      $('#delivery_receipt').val(0);
      $.post('/consApplication/updateContract',{type: 2, value: 0, contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }else{
      $('#delivery_receipt').val(1);
      $.post('/consApplication/updateContract',{type: 2, value: 1,  contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }

  })

  $('#company_profile').on('change',function(){
    if($(this).val() == 1){
      $('#company_profile').val(0);
      $.post('/consApplication/updateContract',{type: 3, value: 0, contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }else{
      $('#company_profile').val(1);
      $.post('/consApplication/updateContract',{type: 3, value: 1,  contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }

  })

  $('#eco_certification').on('change',function(){
    if($(this).val() == 1){
      $('#eco_certification').val(0);
      $.post('/consApplication/updateContract',{type: 4, value: 0, contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }else{
      $('#eco_certification').val(1);
      $.post('/consApplication/updateContract',{type: 4, value: 1,  contractno: <%=contract[0].intContractNo%>},function(data,success){

      });
    }

  })
</script>

<script src="/customer-assets/scripts/jspdf-customfonts/dist/jspdf.min.js"></script>
<script src="/customer-assets/scripts/jspdf-customfonts/dist/jspdf.customfonts.min.js"></script>
<script src="/customer-assets/scripts/jspdf-customfonts/dist/default_vfs.js"></script>
<script type="text/javascript">

  function printReceipt(cont){
    let doc = new jsPDF(), img = new Image;

    doc.addFont('Poppins-Regular.ttf', 'Poppins-Regular', 'normal');
    doc.addFont('Poppins-Light.ttf', 'Poppins-Light', 'normal');
    doc.addFont('Poppins-ExtraLight.ttf', 'Poppins-ExtraLight', 'normal');
    doc.addFont('Poppins-SemiBold.ttf', 'Poppins-SemiBold', 'normal');

    function pdfContent(img){
      let firstX = 25, newY, gap = 5;
      doc.addImage(img, 42, 7, 125, 32);

      // title
      doc.setFont('Poppins-SemiBold');
      doc.setFontSize('15');
      doc.text(71, 53, `Consignment Agreement`);
      doc.line(71, 54, 139.5, 54);

      // Labels & Inputs
      newY = 68
      doc.setFont('Poppins-SemiBold');
      doc.setFontSize('10');
      doc.text(firstX, newY, `Business Name:`); newY+= gap;
      doc.text(firstX, newY, `Brand Name:`); newY+= gap;
      doc.text(firstX, newY, `TIN:`); newY+= gap;
      doc.text(firstX, newY, `Consignor Commission Rate:`); newY+= gap;
      doc.text(firstX, newY, `Contact Person:`); newY+= gap;
      doc.text(firstX, newY, `Contact Numbers:`); newY+= gap;
      doc.text(firstX, newY, `Email Address:`); newY+= gap;
      doc.text(firstX, newY, `Delivery Schedule:`); newY+= gap;
      doc.text(firstX, newY, `Frequency of Delivery:`); newY+= gap;
      doc.text(firstX, newY, `Consignee’s Remittance Schedule:`); newY+= gap;
      doc.text(firstX, newY, `Consigned List Products/brand names including full ingredients list and shelf life:`);

      let contactPerson = cont.strMname ?
        `${cont.strFname} ${cont.strMname} ${cont.strLname}`:
        `${cont.strFname} ${cont.strLname}`
      let contactNum = ``;
      cont.strSupplierPhone ? contactNum += cont.strSupplierPhone : 0
      cont.strSupplierPhone && cont.strSupplierMobile ? contactNum += ` | ` : 0
      cont.strSupplierMobile ? contactNum += cont.strSupplierMobile : 0

      newY = 68
      doc.setFont('Poppins-Light');
      doc.text(firstX+30, newY, `${cont.strBusinessName}`); newY+= gap;
      doc.text(firstX+25, newY, `${cont.strBrands}`); newY+= gap;
      doc.text(firstX+8, newY, `${cont.strBusinessTIN}`); newY+= gap;
      doc.text(firstX+54, newY, `30%`); newY+= gap;
      doc.text(firstX+30, newY, `${contactPerson}`); newY+= gap;
      doc.text(firstX+34, newY, `${contactNum}`); newY+= gap;
      doc.text(firstX+28, newY, `${cont.strBusinessEmail}`); newY+= gap;
      doc.text(firstX+34, newY, `${cont.deliverySchedule}`); newY+= gap;
      doc.text(firstX+41, newY, `${cont.strFrequencyOfDelivery}`); newY+= gap;
      doc.text(firstX+64, newY, ``); newY+= gap*2;
      // doc.text(firstX+147, newY, `Milan`); newY+= gap;
      doc.text(firstX, newY, `Please attach a separate sheet for product information and price list`); newY+= gap*2;

      let indent1 = 12.5, indent2 = 25;
      // Consignment Provisions
      doc.setFont('Poppins-SemiBold');
      doc.text(firstX, newY, `Consignment Provisions:`); newY+= gap;
      // 1
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Consignor hereby agrees to replace any goods that are about to expire, any`); newY+= gap;
      doc.text(firstX+indent1, newY, `non-moving products, any product found damaged upon delivery or any`); newY+= gap;
      doc.text(firstX+indent1, newY, `product with valid customer complaints`); newY+= gap;
      // 2
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.text(firstX+indent1, newY, `All labels should include full ingredients list, expiration, manufacturing date`); newY+= gap;
      // 3
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `If your product has no certification, you must indicate in your label that your`); newY+= gap;
      doc.text(firstX+indent1, newY, `product is either All Natural, homemade or herbal`); newY+= gap;
      // 4
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.text(firstX+indent1, newY, `Consignor must provide 2 copies of delivery receipt`); newY+= gap;
      // 5
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `In-store product sampling launch must be scheduled 1 week prior to the event`); newY+= gap;
      // 6
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.text(firstX+indent1, newY, `Delivery Receipt format:`); newY+= gap;
      // 6.x
      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `Item (product name)`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `Variant (if any)`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `Size / Product Content (e.g. 500ml / 100 grams, etc.)`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `Quantity`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `List price (discounted price)`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `SRP`); newY+= gap;

      doc.setFont('Poppins-ExtraLight'); doc.setFontSize('8');
      doc.text(firstX+(indent2*0.75), newY-0.5, `o`);
      doc.setFont('Poppins-Light'); doc.setFontSize('10');
      doc.text(firstX+indent2, newY, `Total amount based on list price`); newY+= gap;

      doc.addPage();
      doc.addImage(img, 42, 7, 125, 32);
      newY = 46

      // Documents for Submission
      doc.setFont('Poppins-SemiBold');
      doc.text(firstX, 46, `Documents for submission: (digital and printed copy required)`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Company profile`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Product information Sheet – full and specified ingredients list, usage, and other`); newY+= gap;
      doc.text(firstX+indent1, newY, `useful information to drive sales and product awareness`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `DTI /SEC Registration`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Official Receipt / BIR Registration`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Sales Invoice and Delivery receipt (upon product delivery)`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `FDA Registration (if any)`); newY+= gap;
      //
      doc.setFont('Poppins-SemiBold'); doc.setFontSize('25');
      doc.text(firstX+(indent1/2), newY-0.5, `.`); doc.setFontSize('10');
      doc.setFont('Poppins-Light');
      doc.text(firstX+indent1, newY, `Eco Certification or Third Party Laboratory Results for product safety and efficacy`); newY+= gap;
      doc.text(firstX+indent1, newY, `(Required for personal and beauty products)`); newY+= gap*3;

      // Conforme
      doc.setFont('Poppins-SemiBold');
      doc.text(firstX, newY, `CONFORME:`); newY+= gap;
      newY+= 25;
      doc.line(firstX, newY-4, firstX+38, newY-4);
      doc.line(firstX+110, newY-4, firstX+148, newY-4);

      doc.text(firstX, newY, `Gustle Agulto`);

      doc.setFont('Poppins-Light');
      doc.text(firstX+110, newY, `Signature over printed`); newY+= gap;

      doc.text(firstX, newY, `Operations Manager`);
      doc.text(firstX+110, newY, `Name`); newY+= gap;

      doc.text(firstX, newY, `Ultra Super Green Trading Corporation`); newY+= gap;

      newY+= 25;
      doc.setFont('Poppins-SemiBold');
      doc.text(firstX, newY, `Date:`);
      doc.line(firstX+10, newY+0.5, 63, newY+0.5);

    }

    img.onload = function() {
      pdfContent(this);
      doc.save('UltraSuperGreen Consignment Agreement.pdf');
      console.log('PDF Downloaded!');
    };
    img.crossOrigin = "";
    img.src = "/customer-assets/images/static/usg-contract.png";

  }

  $('#downloadContract').on('click', ()=>{
    function getParams(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, '\\$&');
      let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
      results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $.get(`/consAgreement/contract/load/${getParams('q')}`).then((res)=>{
      printReceipt(res.contract);
    }).catch((error)=>{
      console.log(error);
    })

  })


</script>



<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
