<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/package-modal.ejs') -%>

<div id="summary-container" class="container">
  <div id="summary-main-pane" class="fl-l">
    <div hidden></div>
    <div>
      <p id="notice" class="m-0 fs-08em fw-400 inline-block">Products will be delivered within <%= admin.deliveryPeriod%> working day/s</p>
      <a id="refresh" class="inline-block fl-r" href="#"><p class="m-0 fs-08em fw-400">Refresh List</p></a>
      <svg version="1.1" id="SVG_refreshList" class="inline-block fl-r" hidden>
        <circle stroke="none" cx="5" cy="11" r="4">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.1"></animate>
        </circle>
        <circle stroke="none" cx="20" cy="11" r="4">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.2"></animate>
        </circle>
        <circle stroke="none" cx="35" cy="11" r="4">
          <animate attributeName="opacity" dur="1s" values="0;1;0" repeatCount="indefinite" begin="0.3"></animate>
        </circle>
      </svg>
    </div>
    <div class="p-0">
      <div id="header" class="px-3 py-1">
        <div class="products-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Product</p>
        </div>
        <div class="price-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Price</p>
        </div>
        <div class="quantity-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Quantity</p>
        </div>
      </div>
      <button id="getSummary" type="button" hidden></button>
      <div id="checkout-products">
        <div class="product-div pos-relative px-3">
          <p class="fs-09em inline-block va-t"> Loading Products </p>
          <svg version="1.1" id="SVG_loadList" class="inline-block">
            <rect x="0" y="0" width="4" height="10">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 10; 0 0"
                begin="0" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="8" y="0" width="4" height="10">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 10; 0 0"
                begin="0.2s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="16" y="0" width="4" height="10">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 10; 0 0"
                begin="0.4s" dur="0.6s" repeatCount="indefinite" />
            </rect>
          </svg>
        </div>
        <!-- products -->
      </div>
    </div>
  </div>
  <div id="summary-details-pane" class="fl-r">
    <div>
      <p class="m-0 mb-1 inline-block">Shipping & Billing</p>
      <a data-toggle="modal" data-target="#EditAddress" class="edit" href><small>Edit</small></a>

      <div>
        <small class="required-field">Shipping Address</small>
      </div>
      <small class="address block px-1 mb-1">
        <% if(thisUserContact.strShippingAddress){ %>
          <%= thisUserContact.strShippingAddress%>
        <% }else{ %>
          <em>Shipping Address not set</em>
        <% } %>
      </small>

      <small class="required-field">Billing Address</small>
      <small class="address block px-1 mb-1">
        <% if(thisUserContact.strBillingAddress){ %>
          <%= thisUserContact.strBillingAddress%>
        <% }else{ %>
          <em>Billing Address not set</em>
        <% } %>
      </small>

    </div>
    <div>
      <p class="m-0 mb-1">Order Summary</p>
      <small class="label">Subtotal (0)</small>
      <small class="price subtotal price-symbol">0.00</small>
      <br>
      <small class="label">Shipping Fee</small>
      <small class="price fee price-symbol">0.00</small>
      <br>
      <div class="mt-1 mb-2">
        <input type="text" name="" value="" class="inline-block va-b material" placeholder="Enter Voucher Code">
        <button type="button" class="btn btn-sm btn-custom-primary va-b inline-block">Apply</button>
      </div>
      <button id="total-btn" type="button" hidden></button>
      <small class="label label-total">Total</small>
      <small class="price total price-symbol">0.00</small>
      <div class="pos-relative">
        <small class="text-muted price vat block">VAT applied</small>
      </div>
      <form id="checkout-form" class="mb-0">
        <div class="pos-relative mt-3">
          <label class="radio-inline">
            <input type="radio" name="paymentMethod" value="1" checked>
            <small class="ml-3 mr-2">Cash on Delivery</small>
          </label>
          <label class="radio-inline">
            <input type="radio" name="paymentMethod" value="2">
            <small class="ml-3">Bank Deposit</small>
          </label>
        </div>
        <% if(thisUserContact.strShippingAddress && thisUserContact.strBillingAddress){ %>
          <button id="place-order" type="button" class="btn btn-custom-primary btn-sm btn-block sb-1"
          data-toggle="modal" data-target="#OrderConfirmation">Place Order</button>
        <% }else{ %>
          <button id="place-order" type="button" class="btn btn-custom-primary btn-sm btn-block sb-0">Place Order</button>
        <% } %>
        <div id="OrderConfirmation" tabindex="-1" role="dialog" aria-labelledby="OrderConfirmationTitle" aria-hidden="true" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="OrderConfirmationTitle" class="modal-title"><b>Order Confirmation</b></h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <p class="mb-1">Do you wish to continue placing order?</p>
                <div class="notice mt-2">
                  <ul class="pl-4 m-0">
                    <li><p class="fs-09em fw-400 m-0"> Remember to refresh list before placing order.</p></li>
                    <li><p class="fs-09em fw-400 m-0"> Products will be delivered within <%= admin.deliveryPeriod%> working day/s.</p></li>
                    <li><p class="fs-09em fw-400 m-0"> For bank deposit, payment voucher is valid within 24 hours, failure to pay will cancel the order.</p></li>
                    <li><p class="fs-09em fw-400 m-0"> We have a <strong>NO REFUND</strong> policy, payment cannot be refunded. &nbspProducts with defect are eligible for product replacement.</p></li>
                    <li><p class="fs-09em fw-400 m-0"> An item missing after placing order indicates that it is out of stock or no longer available.</p></li>
                  </ul>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-custom-primary">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- <div class="alert cursor-pointer cartAlert">
  <div>
    <p class="m-0 block-none">Product</p>
    <p class="m-0 block"></p>
    <p class="m-0"></p>
  </div>
</div> -->

<div id="EditAddress" tabindex="-1" role="dialog" aria-labelledby="EditAddressTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/summary/checkout/address" method="POST" class="m-0">
        <div class="modal-header">
          <h5 id="EditAddressTitle" class="modal-title"><b>Shipping & Billing</b></h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <label for="dsa" class="required-field"><b>Shipping Address</b></label>
          <input id="dsa" type="text" name="sa" value="<%= thisUserContact.strShippingAddress%>" class="form-control material mb-3" minlength="10" maxlength="100" required/>

          <label for="dba" class="required-field"><b>Billing Address</b></label>
          <input id="dba" type="text" name="ba" value="<%= thisUserContact.strBillingAddress%>" class="form-control material mb-3" minlength="10" maxlength="100" required/>
        </div>
        <div class="modal-footer">
          <!-- <a href="/home">
            <button type="button" class="btn btn-custom-primary">Save Default</button>
          </a> -->
          <button type="submit" class="btn btn-custom-primary">Apply</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script type="text/javascript">
  $(() => {

    function OrderDisabled(){
      $('#place-order').attr('disabled','disabled');
      $('#checkout-form').removeAttr('action');
      $('#checkout-form').removeAttr('method');
    }
    function OrderActive(){
      $('#place-order').removeAttr('disabled');
      $('#checkout-form').attr({
        'action':'/summary/checkout',
        'method':'POST'
      });
    }

    // GET - Load cart
    $('#getSummary').on('click', () => {
      let list = $('#checkout-products');
      $.get('/cart/list').then((res) => {
        list.html('');
        res.cart.forEach((data) => {
          if (data.type == 1){
            let priceDivM = data.discount ?
              `<p class="mb-0 fs-1em fw-400 lh-p3em price-symbol discount-color-imp">
                ${data.curPrice}
                <i class="fas fa-tags" title="discounted price"></i>
              </p>
              <p class="mb-1 fs-09em lh-p3em text-muted price-symbol"><s>${data.oldPrice}</s> (-${data.discount}%)</p>`:
              `<p class="mb-0 fs-1em fw-400 lh-p3em price-symbol">${data.curPrice}</p>`,
            priceDivL = data.discount ?
              `<p class="mb-1 fs-1em fw-400 lh-p3em price-symbol discount-color-imp">
                ${data.curPrice}
                <i class="fas fa-tags" title="discounted price"></i>
              </p>
              <p class="mb-1 fs-09em lh-p3em text-muted price-symbol"><s>${data.oldPrice}</s></p>
              <p class="mb-1 fs-09em lh-p3em text-muted">${data.discount}% off</p>`:
              `<p class="mb-1 fs-1em fw-400 lh-p3em price-symbol">${data.curPrice}</p>`
            list.append(`
              <div class="product-div pos-relative px-3">
                <div class="inline-block va-t">
                  <input class="inventory-id" value="${data.inv}" hidden/>
                  <input class="cart-type" value="${data.type}" hidden/>
                  <a href="/item/${data.id}" class="img-link">
                    <img src="${data.img}" height="100" width="100" alt="product">
                  </a>
                  <div class="px-2">
                    <p class="m-0 fs-08em fw-400 lh-p3em"><span class="text-brand">${data.brand}</span> ${data.name}</p>
                    <p class="fs-08em fw-400 text-muted lh-p3em">${data.curSize}</p>
                    <a class="fw-400 remove cursor-pointer"><i class="fa fa-trash"></i></a>
                    <div class="price">
                      ${priceDivM}
                    </div>
                  </div>
                </div>
                <div class="inline-block va-t mt-2">
                  ${priceDivL}
                </div>
                <div class="inline-block va-t mt-2">
                  <p class="m-0 fs-09em fw-400 lh-p3em quantity">${data.curQty}</p>
                  <a class="fw-400 no-decoration remove cursor-pointer"><i class="fa fa-trash mt-2"></i></a>
                </div>
              </div>`)
          }
          else{
            list.append(`
              <div class="product-div pos-relative px-3">
                <div class="inline-block va-t">
                  <input class="inventory-id" value="${data.package}" hidden/>
                  <input class="cart-type" value="${data.type}" hidden/>
                    <a href class="package-img img-link" data-toggle="modal" data-target="#package-modal">
                      <img src="${data.img}" height="100" width="100" alt="product">
                    </a>
                  <div class="px-2">
                    <p class="m-0 fs-08em fw-400 lh-p3em"><span class="text-package">${data.name}</span></p>
                    <p class="package-details-modal fs-08em fw-400 text-muted w-fit" data-toggle="modal" data-target="#package-modal">View Details</p>
                    <a class="fw-400 remove cursor-pointer"><i class="fa fa-trash"></i></a>
                    <div class="price">
                      <p class="mb-0 fs-1em fw-400 lh-p3em price-symbol">${data.curPrice}</p>
                    </div>
                  </div>
                </div>
                <div class="inline-block va-t mt-2">
                  <p class="mb-1 fs-1em fw-400 lh-p3em price-symbol">${data.curPrice}</p>
                </div>
                <div class="inline-block va-t mt-2">
                  <p class="m-0 fs-09em fw-400 lh-p3em quantity">${data.curQty}</p>
                  <a class="fw-400 no-decoration remove cursor-pointer"><i class="fa fa-trash mt-2"></i></a>
                </div>
              </div>`)
          }
        });
        // <p class="mb-1 fs-09em lh-p3em text-muted price-symbol"><s>0</s></p>
        // <p class="mb-1 fs-09em lh-p3em text-muted">0% off</p>
        if (res.cart.length){
          $('#place-order').hasClass('sb-1') ?
            OrderActive() :
            OrderDisabled();
        }
        else{
          list.append(`
            <div class="product-div pos-relative px-3">
              <p class="fs-09em"> Cart currently empty </p>
            </div>`);
          OrderDisabled();
        }
        $('svg#SVG_refreshList').attr('hidden','hidden');
        $('#refresh').removeAttr('hidden');
        $('#total-btn').click();
      }).catch((error) => {
        list.html('');
        list.append(`
          <div class="product-div pos-relative px-3">
            <p class="fs-09em"> Cart currently empty </p>
          </div>`);
      });
    });

    // DELETE - Remove Product
    $('#checkout-products').on('click', '.remove', function() {
      let inv = $(this).closest('.product-div').find('.inventory-id').val(),
      type = $(this).closest('.product-div').find('.cart-type').val();
      console.log(inv)
      $.ajax({
        url: `/cart/list`,
        method: 'DELETE',
        contentType: 'application/json',
        data: JSON.stringify({
          inv: inv,
          type: type
        }),
        success: (res) => {
          $(this).parents('.product-div').remove();
          if (res.cart){
            $('#place-order').hasClass('sb-1') ?
              OrderActive() :
              OrderDisabled();
          }
          else{
            $('#checkout-products').append(`
              <div class="product-div pos-relative px-3">
                <p class="fs-09em"> Cart currently empty </p>
              </div>`);
            OrderDisabled();
          }
          $('#total-btn').click();
        }
      });
    });

    // GET - Total , fee, Subtotal
    $('#total-btn').on('click', () => {
      $.get('/cart/list/total/total').then((res) => {
        $('#summary-details-pane').find('.subtotal').prev().text(`Subtotal (${res.cartLength})`)
        $('#summary-details-pane').find('.subtotal').text(`${res.subtotal}`)
        $('#summary-details-pane').find('.fee').text(`${res.fee}`)
        $('#summary-details-pane').find('.total').text(`${res.total}`)
      }).catch((error) => {
        console.log(error);
      });
    });

    // Refresh List
    $('#refresh').on('click', () => {
      $('#refresh').attr('hidden','hidden');
      $('svg#SVG_refreshList').removeAttr('hidden');
      let tRefresh1 = setTimeout(()=>{
        $('#getSummary').click();
      },500);
    });

    // Click Button on Load
    $('#getSummary').click();

    // Notice
    let text = [
      "Remember to refresh list before placing order",
      "Only one discount voucher per order is allowed",
      "Products will be delivered within <%= admin.deliveryPeriod%> working day/s"],
    notice = $('#notice'), counter = 0, iNotice1 = setInterval(change, 8000), tNotice1;
    function change() {
      notice.css('opacity','0');
      tNotice1 = setTimeout(()=>{
        notice.css('opacity','1');
        notice.text(text[counter])
        counter++;
        if (counter >= text.length) {
          counter = 0;
        }
      },350);
    }

    // Alert
    function postToCart(modal, data, res, tog){
      clearTimeout(t1);
      clearTimeout(t2);

      modal.next().on('click', ()=>{
        $('#cartSidebarCollapse').click();
      })

      tog == 1 ? modal.modal('toggle'): 0;
      modal.next().css({
        "max-width": "100%",
        "padding": "20px 23px 20px 20px"
      });
      data[res.latest].curQty == res.limit ?
        modal.next().css("border-left", "3px solid #FFC107"):
        modal.next().css("border-left", "3px solid #00AF6E");
      modal.next().children('div').css("opacity", "1");

      t1 = setTimeout(()=>{
        modal.next().css({
          "max-width": "0",
          "padding": "20px 0px 20px 0px",
          "border-left": "none"
        });
      },5000);
      t2 = setTimeout(()=>{
        modal.next().children('div').css("opacity", "0");
      },4700);

      data[res.latest].curQty == res.limit ?
        modal.next().find('p:nth-of-type(3)').text(`Maximum quantity reached (${data[res.latest].curQty})`):
        modal.next().find('p:nth-of-type(3)').text(`has been added (${data[res.latest].curQty} in cart)`);
      modal.next().find('p:nth-of-type(2)').html(`<span class="text-brand">${data[res.latest].brand}</span> ${data[res.latest].name} ${data[res.latest].curSize}`);

      $('#getCart').click();
    }

    // Nav Cart
    $('#nav-cart a').css("cursor" , "not-allowed");
    $('#nav-cart *').css("color", "rgba(255,255,255,.75)");
    $('.overlay').remove();
    $('#cartSidebarCollapse').on('click', function() {
      $('#cart-sidebar').removeClass('active');
    });

  });
</script>

<%- include('../../../templates/closer.ejs') -%>
