<%- include('../../../templates/navbar.ejs') -%>

<div id="summary-container" class="container">
  <div id="summary-main-pane" class="fl-l">
    <div>
      <p class="m-0 fs-08em fw-400 inline-block">Products will be delivered within 7 working days</p>
      <a id="refresh" class="inline" href="#"><p class="m-0 fs-08em fw-400 fl-r">Refresh List</p></a>
    </div>
    <div class="p-0">
      <div id="header" class="px-3 py-1">
        <div class="products-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Product</p>
        </div>
        <div class="price-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Price</p>
        </div>
        <div class="quantity-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Quantity</p>
        </div>
      </div>
      <button id="getSummary" type="button" hidden></button>
      <div id="checkout-products">
        <!-- products -->
      </div>
    </div>
  </div>
  <div id="summary-details-pane" class="fl-r">
    <div>
      <p class="m-0 mb-1 inline-block">Shipping & Billing</p>
      <a data-toggle="modal" data-target="#EditAddress" class="edit" href><small>Edit</small></a>

      <div>
        <small class="required-field">Shipping Address</small>
      </div>
      <small class="address block px-1 mb-1">
        <% if(thisUserContact.strShippingAddress){ %>
          <%= thisUserContact.strShippingAddress%>
        <% }else{ %>
          <em>Shipping Address not set</em>
        <% } %>
      </small>

      <small class="required-field">Billing Address</small>
      <small class="address block px-1 mb-1">
        <% if(thisUserContact.strBillingAddress){ %>
          <%= thisUserContact.strBillingAddress%>
        <% }else{ %>
          <em>Billing Address not set</em>
        <% } %>
      </small>

    </div>
    <div>
      <p class="m-0 mb-1">Order Summary</p>
      <small class="label">Subtotal (0)</small>
      <small class="price subtotal price-symbol">0.00</small>
      <br>
      <small class="label">Shipping Fee</small>
      <small class="price fee price-symbol">0.00</small>
      <br>
      <div class="mt-1 mb-2">
        <input type="text" name="" value="" class="inline-block va-b material" placeholder="Enter Voucher Code">
        <button type="button" class="btn btn-sm btn-custom-primary va-b inline-block">Apply</button>
      </div>
      <button id="total-btn" type="button" hidden></button>
      <small class="label label-total">Total</small>
      <small class="price total price-symbol">0.00</small>
      <div class="pos-relative">
        <small class="text-muted price vat block">VAT applied</small>
      </div>
      <form id="checkout-form">
        <div class="pos-relative mt-3">
          <label class="radio-inline">
            <input type="radio" name="paymentMethod" value="1" checked>
            <small class="ml-3 mr-2">Cash on Delivery</small>
          </label>
          <label class="radio-inline">
            <input type="radio" name="paymentMethod" value="2">
            <small class="ml-3">Bank Deposit</small>
          </label>
        </div>
        <% if(thisUserContact.strShippingAddress && thisUserContact.strBillingAddress){ %>
          <button id="place-order" type="button" class="btn btn-custom-primary btn-sm btn-block sb-1"
          data-toggle="modal" data-target="#OrderConfirmation">Place Order</button>
        <% }else{ %>
          <button id="place-order" type="button" class="btn btn-custom-primary btn-sm btn-block sb-0">Place Order</button>
        <% } %>
        <div id="OrderConfirmation" tabindex="-1" role="dialog" aria-labelledby="OrderConfirmationTitle" aria-hidden="true" class="modal fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 id="OrderConfirmationTitle" class="modal-title"><b>Order Confirmation</b></h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <p>Do you wish to continue placing order?</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-custom-primary">Yes</button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary">No</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div id="EditAddress" tabindex="-1" role="dialog" aria-labelledby="EditAddressTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/summary/checkout/address" method="POST" class="m-0">
        <div class="modal-header">
          <h5 id="EditAddressTitle" class="modal-title"><b>Shipping & Billing</b></h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <label for="dsa" class="required-field"><b>Shipping Address</b></label>
          <input id="dsa" type="text" name="sa" value="<%= thisUserContact.strShippingAddress%>" class="form-control material mb-3" minlength="10" maxlength="100" required/>

          <label for="dba" class="required-field"><b>Billing Address</b></label>
          <input id="dba" type="text" name="ba" value="<%= thisUserContact.strBillingAddress%>" class="form-control material mb-3" minlength="10" maxlength="100" required/>
        </div>
        <div class="modal-footer">
          <!-- <a href="/home">
            <button type="button" class="btn btn-custom-primary">Save Default</button>
          </a> -->
          <button type="submit" class="btn btn-custom-primary">Apply</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script src="/customer-assets/scripts/custom/cart-summary.js" charset="utf-8"></script>
<%- include('../../../templates/closer.ejs') -%>
