<%- include('../../../templates/navbar.ejs') -%>
<%- include('../../../templates/modals/cart-modal.ejs') -%>
<%- include('../../../templates/modals/package-modal.ejs') -%>

<div id="summary-container" class="container">
  <div id="summary-main-pane" class="fl-l">
    <div>
      <div class="steps-form">
        <div class="steps-row setup-panel-2 d-flex justify-content-between">
          <div class="step step-active" title="Pending"><i class="fa fa-file-signature text-white fs-09em"></i><span> Pending</span></div>
          <div class="step" title="Processing"><i class="fas fa-boxes text-white fs-09em"></i><span> Processing</span></div>
          <div class="step" title="Shipping"><i class="fa fa-truck-loading text-white fs-09em"></i><span> Shipping</span></div>
          <div class="step" title="Delivering"><i class="fa fa-shipping-fast text-white fs-09em"></i><span> Delivering</span></div>
        </div>
      </div>
    </div>
    <div>
      <p id="notice" class="m-0 fs-08em fw-400 inline-block">Products will be delivered within <%= admin.deliveryPeriod%> working day/s</p>
      <% if ((orderOne.orderStatus == 0 || orderOne.orderStatus == 1) && orderOne.intPaymentStatus == 0){ %>
        <a class="inline-block fl-r" href data-toggle='modal' data-target='#CancelModal'><p class="m-0 fs-08em fw-400">Cancel Order</p></a>
      <% }else if(orderOne.orderStatus == 6){ %>
        <a class="inline-block fl-r"><p class="m-0 fs-08em fw-400 text-danger">Cancelled</p></a>
      <% } %>
    </div>
    <div id="order-products-pane" class="p-0">
      <div id="header" class="px-3 py-1">
        <div class="products-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Product</p>
        </div>
        <div class="price-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Price</p>
        </div>
        <div class="quantity-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Quantity</p>
        </div>
      </div>

      <% order.forEach((data)=>{ %>
        <div class="product-div pos-relative px-3">
          <div class="inline-block va-t">
            <% if(data.intProductType == 1){ %>
              <a href="/item/<%= data.intProductNo%>" class="img-link">
                <img src="/assets/images/products/<%= data.strProductPicture%>" height="100" width="100" alt="product">
              </a>
              <div class="px-2">
                <p class="m-0 fs-08em fw-400 lh-p3em"><span class="text-brand"><%= data.strBrand%></span> <%= data.strProductName%></p>
                <p class="fs-08em fw-400 text-muted lh-p3em"><%= data.intSize%></p>
                <div class="price">
                  <p class="mb-0 fs-1em fw-400 lh-p3em price-symbol"><%= data.purchasePrice%></p>
                  <!-- <p class="mb-0 fs-09em lh-p3em text-muted price-symbol"><s>0</s> (-0%)</p> -->
                </div>
              </div>
            <% }else{ %>
              <input class="inventory-id" value="<%= data.intPackageNo%>" hidden/>
              <a href class="package-img img-link" data-toggle="modal" data-target="#package-modal">
                <img src="/customer-assets/images/static/package.jpg" height="100" width="100" alt="product">
              </a>
              <div class="px-2">
                <p class="m-0 fs-08em fw-400 lh-p3em"><span class="text-package"><%= data.strPackageName%></span></p>
                <p class="package-details-modal fs-08em fw-400 text-muted w-fit" data-toggle="modal" data-target="#package-modal">View Details</p>
                <div class="price">
                  <p class="mb-0 fs-1em fw-400 lh-p3em price-symbol"><%= data.packagePrice%></p>
                </div>
              </div>
            <% } %>
          </div>

          <div class="inline-block va-t mt-2">
            <p class="mb-1 fs-1em fw-400 lh-p3em price-symbol"><%= data.intProductType == 1 ? data.purchasePrice : data.packagePrice %></p>
            <!-- <p class="mb-1 fs-09em lh-p3em text-muted price-symbol"><s>0</s></p>
            <p class="mb-1 fs-09em lh-p3em text-muted">0% off</p> -->
          </div>
          <div class="inline-block va-t mt-2">
            <p class="m-0 fs-09em fw-400 lh-p3em"><%= data.orderQty%></p>
            <!-- <% if (orderOne.orderStatus == 0 || orderOne.orderStatus == 1){ %>
              <a class="fw-400 no-decoration" href=""><i class="fa fa-minus-circle mt-2"></i></a>
            <% } %> -->
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <div id="summary-details-pane" class="fl-r">
    <div>
      <p class="m-0 mb-1">Shipping & Billing</p>
      <small>Shipping Address</small>
      <small class="address block px-1 mb-1">
        <%= orderOne.strShippingAddress%>
      </small>
      <small>Billing Address</small>
      <small class="address block px-1">
        <%= orderOne.strBillingAddress%>
      </small>
    </div>
    <div>
      <p class="m-0 mb-1 fl-l">Order Summary</p>
      <p class="fl-r mb-0 fw-400">#<%= orderNumber%></p>
      <div style="clear: both"></div>
      <small class="label">Subtotal (<%= orderLength%>)</small>
      <small class="price price-symbol"><%= orderTotal%></small>
      <br>
      <small class="label">Shipping Fee</small>
      <small class="price price-symbol">0.00</small>
      <br>
      <small class="label label-total">Total</small>
      <% if(orderOne.intPaymentMethod == 1){ %>
        <small id="payment-method">Cash on Delivery</small>
      <% }else{ %>
        <small id="payment-method">Bank Deposit</small>
      <% } %>
      <small class="price total price-symbol"><%= orderTotal%></small>
      <div class="pos-relative mb-3">
        <small class="text-muted price vat block">VAT applied</small>
      </div>
      <input id="orderNo" type="number" value="<%= orderNumber%>" hidden />
      <% if(orderOne.intPaymentMethod == 2 && orderOne.orderStatus == 0){ %>
        <button type="button" id="upload-bs" class="btn btn-custom-primary btn-sm fl-r" title="<%= orderOne.depositSlip ? 'Edit' : 'Upload' %> Bank Deposit Slip"
        data-toggle="modal" data-target="#UploadSlip">
          <i class="zmdi zmdi-file-plus" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% }else{ %>
        <button type="button" id="upload-bs" class="btn btn-custom-primary btn-sm fl-r" title="<%= orderOne.depositSlip ? 'Edit' : 'Upload' %> Bank Deposit Slip" disabled>
          <i class="zmdi zmdi-file-plus" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% } %>
      <% if(orderOne.intPaymentMethod == 2 && (orderOne.orderStatus == 0 || orderOne.orderStatus == 1 || orderOne.orderStatus == 2)){ %>
        <button type="button" id="bs-print-btn" class="btn btn-custom-primary btn-sm fl-r mr-2" title="Bank Payment Voucher">
          <i class="zmdi zmdi-file" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% }else{ %>
        <button type="button" id="bs-print-btn" class="btn btn-custom-primary btn-sm fl-r mr-2" title="Bank Payment Voucher" disabled>
          <i class="zmdi zmdi-file" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% } %>
      <% if(orderOne.intPaymentStatus){ %>
        <button type="button" id="or-print-btn" class="btn btn-custom-primary btn-sm fl-r mr-2" title="Receipt">
          <i class="zmdi zmdi-receipt" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% }else{ %>
        <button type="button" id="or-print-btn" class="btn btn-custom-primary btn-sm fl-r mr-2" title="Receipt" disabled>
          <i class="zmdi zmdi-receipt" style="font-size: 1.3em; margin: 1.5px 0px"></i>
        </button>
      <% } %>
      <div id="more-details">
        <a href=""><small class="block fs-08em fw-400">Vouchers Used</small></a>
        <small>Date: <%= orderOne.dateOrdered%></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="CancelModalTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/summary/order/cancel" method="POST" class="m-0">
        <div class="modal-header">
          <h5 id="CancelModalTitle" class="modal-title">Cancel Order</h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body pt-2">
          <input type="number" name="orderNo" value="<%= orderOne.intOrderNo%>" hidden>
          <select class="form-control custom-select" name="cancelreason">
            <option value="Changed Mind">Changed Mind</option>
            <option value="Decided for alternative product">Decided for alternative product</option>
            <option value="Fees - shipping">Fees - shipping</option>
            <option value="Found cheaper elsewhere">Found cheaper elsewhere</option>
            <option value="Lead time too long">Lead time too long</option>
            <option value="other">Other Reason</option>
          </select>
          <div class="form-group mt-2 mb-0 pos-relative">
            <textarea class="form-control fs-08em" name="canceldesc" placeholder="Specify Reason" rows="3" maxlength="150" hidden></textarea>
            <div class="txtcount-div block-none">
              <small id="txtcount">0/150</small>
            </div>
          </div>
          <div class="notice mt-2">
            <p class="fs-09em fw-400 m-0">Cancellation Policy</p>
            <small class="text-muted"> * Cancelled order cannot be on our system
            <br> * Any vouchers, discounts, or promotions applied in the order cannot be reused
            <br> * Price is subject to change depending on USG promotion programs. We do not commit to offering the same price if you re-order
            <br> * In case of prepayment via credit/debit cards, your money will be refunded automatically to your account within one to two billing cycles (one billing cycle is 1 month), depending on your bank policy
            <br> * The remaining order's value after you canceled one or several items has to fullfill the same conditions for discount, promotion, or minimum basket fee exemption applied to the order. If not, your order may be canceled
            </small>
          </div>
          <div class="mt-1">
            <div class="form-check">
              <input id="agree" type="checkbox" required="required" class="form-check-input" style="margin-top: .2rem"/>
              <label for="agree" class="form-check-label fs-08em fw-400">I have read and accept the Cancellation Policy</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary" disabled>Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="UploadSlip" tabindex="-1" role="dialog" aria-labelledby="UploadSlipTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/summary/order/upload-slip" method="POST" class="m-0" enctype='multipart/form-data'>
        <div class="modal-header">
          <h5 id="UploadSlipTitle" class="modal-title"><%= orderOne.depositSlip ? 'Edit' : 'Upload' %> Bank Depost Slip</h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <input type="number" name="orderNo" value="<%= orderOne.intOrderNo%>" hidden>
          <p class="fs-08em fw-400 lh-p3em text-muted mb-2">Upload Bank Slip for verification of your payment. Your order will be processed after successful verification. Upload in jpeg or png format.</p>
          <input type="file" name="bankslip" id="bankslip" class="fs-08em mb-2" accept="image/*"/>
          <i id="del-bs" class="zmdi zmdi-delete fs-1em fw-300 text-muted cursor-pointer" title="Remove file"></i>
          <% if(orderOne.depositSlip){ %>
            <img id="bankslip-img" src="/customer-assets/images/userImages/bankslips/<%=orderOne.depositSlip%>"/>
          <% }else{ %>
            <img id="bankslip-img" src="#" hidden/>
          <% } %>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary" disabled>Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/scripts-pdf.ejs') -%>
<script type="text/javascript">
  $(()=>{
    let txtcount1;
    function submitBtn(){
      if(!$('input#agree').is(':checked')){
        $('#CancelModal button[type=submit]').attr('disabled','disabled');
      }
      else if($('textarea').attr('hidden')){
        $('#CancelModal button[type=submit]').removeAttr('disabled');
      }
      else if($("textarea").val()){
        $('#CancelModal button[type=submit]').removeAttr('disabled');
      }
      else {
        $('#CancelModal button[type=submit]').attr('disabled','disabled');
      }
    }
    function printReceipt(res){
      // var pdf = new jsPDF('p', 'in', [5,2]);
      let doc = new jsPDF('p', 'mm', [260,180]), string;
      function stringCut(str,i,max){
        str.slice(max*i,max*(i+1)).charAt(0) == ' ' ?
          doc.text(firstX, newY, str.slice((max*i)+1,max*(i+1))) :
          doc.text(firstX, newY, str.slice(max*i,max*(i+1)))
        i++;
        if (newY > 275){
          doc.addPage();
          newY = 22-gap;
        }
        if (str.length > max*(i)){
          newY+= gap;
          stringCut(str,i,max);
        }
      }

      doc.addFont('Poppins-Regular.ttf', 'Poppins-Regular', 'normal');
      doc.addFont('Poppins-Light.ttf', 'Poppins-Light', 'normal');
      doc.addFont('Poppins-ExtraLight.ttf', 'Poppins-ExtraLight', 'normal');

      // doc.setFontSize('10');
      // doc.text(0, 0, `Elizabeth Hall Bldg., Katipunan Ave. Quezon City`);


      // Brand Title
      doc.setFont('Poppins-Regular');
      doc.setFontSize('25');
      doc.text(47.5, 22, `ULTRA SUPER GREEN`);
      // Brand Subtitle
      doc.setFont('Poppins-Light');
      doc.setFontSize('10');
      doc.text(49, 26.5, `Elizabeth Hall Bldg., Katipunan Ave. Quezon City`);
      doc.text(63, 31, `0955 9044744  |  (02)738 1202`);
      doc.setFont('Poppins-Regular');
      doc.setFontSize('15');
      doc.text(69.5, 37.5, `Official Receipt`);
      doc.setFontSize('10');

      // Receipt Details
      let firstX = 10, firstY = 49, gap = 4.5 , newY, maxY, originalX = firstX;

      // Receipt No
      newY = firstY;
      doc.setFont('Poppins-Regular');
      doc.text(firstX, newY, `Receipt No:`); newY+= gap;
      doc.setFont('Poppins-Light');
      doc.text(firstX, newY, `#72954168`);
      firstX += 40.5;
      maxY = newY;
      // Order
      newY = firstY;
      doc.setFont('Poppins-Regular');
      doc.text(firstX, newY, `Order`); newY+= gap;
      doc.setFont('Poppins-Light');
      doc.text(firstX, newY, `No: #${res.receipt[0].intOrderNo}`); newY+= gap;
      doc.text(firstX, newY, `Date: ${res.receipt[0].dateOrdered}`);
      firstX += 40.5;
      maxY = newY;
      // Cashier
      newY = firstY;
      doc.setFont('Poppins-Regular');
      doc.text(firstX, newY, `Cashier/`); newY+= gap;
      doc.text(firstX, newY, `Personnel:`); newY+= gap;
      doc.setFont('Poppins-Light');
      stringCut(`Gustle Agulto`,0,17)
      firstX += 40.5;
      maxY < newY ? maxY = newY : 0;
      // Customer
      newY = firstY;
      doc.setFont('Poppins-Regular');
      doc.text(firstX, newY, `Customer:`); newY+= gap;
      doc.setFont('Poppins-Light');
      res.receipt[0].customerM ?
        stringCut(`${res.receipt[0].customerF} ${res.receipt[0].customerM} ${res.receipt[0].customerL}`,0,18) :
        stringCut(`${res.receipt[0].customerF} ${res.receipt[0].customerL}`,0,18)
      firstX += 40.5;
      maxY < newY ? maxY = newY : 0;
      // // Billing
      // newY = firstY;
      // doc.setFont('Poppins-Regular');
      // doc.text(firstX, newY, `Billing Address:`); newY+= gap;
      // doc.setFont('Poppins-Light');
      // stringCut(res.receipt[0].strBillingAddress,0,18)
      // firstX += 44;
      // maxY < newY ? maxY = newY : 0;
      // // Shipping
      // newY = firstY;
      // doc.setFont('Poppins-Regular');
      // doc.text(firstX, newY, `Shipping Address:`); newY+= gap;
      // doc.setFont('Poppins-Light');
      // stringCut(res.receipt[0].strShippingAddress,0,18)
      // maxY < newY ? maxY = newY : 0;

      // Products
      qtyX = 16, descX = 24, unitX = 137, amntX = 170,
      firstY = maxY + 15, gap = 6;

      // Headers
      newY = firstY;
      doc.setFont('Poppins-Regular');
      doc.text(qtyX, newY, `Qty`, 'right');
      doc.text(descX, newY, `Description`);
      doc.text(unitX, newY, `Unit Price`, 'right');
      doc.text(amntX, newY, `Amount`, 'right');
      newY+= gap*1.4;

      // Product Loop
      doc.setFont('Poppins-Light');
      firstX = descX;
      res.receipt.forEach((data,i)=>{
        // qty
        doc.text(qtyX, newY, `${data.intQuantity}`, 'right');
        // unit
        doc.text(unitX, newY, `${data.priceNonVAT}`, 'right');
        // amnt
        doc.text(amntX, newY, `${data.amountNonVAT}`, 'right');
        // desc
        str = data.name;
        stringCut(str,0,43)
        newY+= gap
      })

      // Summary
      newY+= gap*0.4;

      if (newY > 275){doc.addPage(); newY = 22;}
      doc.setFont('Poppins-Regular');
      doc.text(unitX, newY, `Subtotal`, 'right');
      doc.setFont('Poppins-Light');
      doc.text(amntX, newY, `${res.receiptNonVAT}`, 'right'); newY+= gap;

      if (newY > 275){doc.addPage(); newY = 22;}
      doc.setFont('Poppins-Regular');
      doc.text(unitX, newY, `VAT(12%)`, 'right');
      doc.setFont('Poppins-Light');
      doc.text(amntX, newY, `${res.vat}`, 'right'); newY+= gap;

      if (newY > 275){doc.addPage(); newY = 22;}
      doc.setFont('Poppins-Regular');
      doc.text(unitX, newY, `Total`, 'right');
      doc.setFont('Poppins-Light');
      doc.text(amntX, newY, `Php ${res.receiptTotal}`, 'right');

      doc.text(originalX, newY, `© Ultra Super Green`);

      // Broken line
      newY += 10;
      if(!(newY > 265 && newY < 275)){
        doc.setDrawColor(0, 0, 0);
        let x=originalX, w=15
        for(i=0; i<=22; i++){ // broken lines
          doc.line(x, newY, w, newY);
          x+=7.065; w+=7.065;
        }
      }

      doc.save('UltraSuperGreen Order Receipt.pdf');
      console.log('PDF Downloaded!');
    }

    $('#or-print-btn').on('click', ()=>{
      let orderNo = $('#orderNo').val();

      $.get(`/summary/receipt/${orderNo}`).then((res)=>{
        printReceipt(res);
      }).catch((error)=>{
        console.log(error);
      })
    })
    $('#bs-print-btn').on('click', ()=>{
      let bankAccountNo = `<%= admin.bankAccountNo%>`,
      bankServiceFee = `<%= admin.bankServiceFee%>`;
      download_voucher(bankAccountNo,bankServiceFee);
    })
    $('select').on('change', function(){
      if($(this).val()=='other'){
        $('textarea').removeAttr('hidden');
      }
      else{
        $('textarea').attr('hidden','hidden');
        $('.txtcount-div').removeClass('block')
        $('.txtcount-div').addClass('block-none')
      }
      submitBtn();
    })
    $('input#agree').on('click', function(){
      submitBtn();
    })
    $('textarea').keyup(function(){
      clearTimeout(txtcount1);
      $('#txtcount').text(`${$(this).val().length}/150`);
      $('.txtcount-div').removeClass('block-none')
      $('.txtcount-div').addClass('block')
      txtcount1 = setTimeout(()=>{
        $('.txtcount-div').removeClass('block')
        $('.txtcount-div').addClass('block-none')
      },2000);

      submitBtn();
    });
    // Notice
    let text = [
      "Bank Payment vouchers are valid for 24 hours, failure to pay cancels order",
      "Online receipt is available after payment",
      "Products will be delivered within <%= admin.deliveryPeriod%> working day/s"],
    notice = $('#notice'), counter = 0, iNotice1 = setInterval(change, 8000), tNotice1;
    function change() {
      notice.css('opacity','0');
      tNotice1 = setTimeout(()=>{
        notice.css('opacity','1');
        notice.text(text[counter])
        counter++;
        if (counter >= text.length) {
          counter = 0;
        }
      },350);
    }

    // Img Preview
    function readURL(input) {
      if (input.files[0]) {
        if (input.files[0]['type'] == 'image/jpeg' || input.files[0]['type'] == 'image/png') {
          var reader = new FileReader();
          reader.onload = function(e) {
            $('#bankslip-img').attr('src', e.target.result);
            $('#bankslip-img').removeAttr('hidden');
            $('#UploadSlip').find('button[type=submit]').removeAttr('disabled')
          }
          reader.readAsDataURL(input.files[0]);
        }
        else{
          $('#bankslip-img').attr('hidden','hidden');
          $('#UploadSlip').find('button[type=submit]').attr('disabled','disabled')
        }
      }
      else{
        $('#bankslip-img').attr('hidden','hidden');
        $('#UploadSlip').find('button[type=submit]').attr('disabled','disabled')
      }
    }
    $("#bankslip").change(function() {
      readURL(this);
    });
    $("#del-bs").click(function() {
      <% if(orderOne.depositSlip){ %>
        $('#UploadSlip').find('button[type=submit]').removeAttr('disabled');
      <% }else{ %>
        $('#UploadSlip').find('button[type=submit]').attr('disabled','disabled');
      <% } %>
      $('#bankslip').val(null);
      $('#bankslip-img').attr('src','#');
      $('#bankslip-img').attr('hidden','hidden');
    });

  });

  // Tooltips Initialization
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })


</script>
<%- include('../../../templates/closer.ejs') -%>
