<%- include('../../../templates/navbar.ejs') -%>

<div class="container container-errorpage mt-5" style="min-height: 400px">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-8 col-md-7 col-lg-5" style="margin-top: 60px;">
      <div class="container text-center"><br/><img src="/customer-assets/images/static/usg-green.png" onContextMenu="return false"/>
        <h1>Order Success</h1>
        <button type="button" id="download-file" class="btn btn-secondary btn-md">View Order</button>
        <a href="/home" role="button" aria-pressed="true" class="btn btn-secondary btn-md" style="width: 110px">Home</a>
        <br>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script src="/customer-assets/scripts/jsPDF-1.3.2/dist/jspdf.debug.js" type="text/javascript"></script>
<script type="text/javascript">
$(() => {
  console.log('PDF Downloaded!')
  let doc = new jsPDF();
  doc.text(20, 20, 'Hello world!');
  doc.text(20, 30, 'This is client-side Javascript, pumping out a PDF.');
  doc.addPage();
  doc.text(20, 20, 'Do you like that?');
  doc.save('UltraSuperGreen Deposit Slip.pdf');
});
</script>
<%- include('../../../templates/closer.ejs') -%>
