<%- include('../../../templates/navbar.ejs') -%>

<div id="summary-container" class="container">
  <div id="summary-main-pane" class="fl-l">
    <div>
      <p class="m-0 fs-08em fw-400 inline-block">Products will be delivered within 7 working days</p>
      <% if (orderOne.orderStatus == 0 || orderOne.orderStatus == 1){ %>
        <a class="inline" href=""><p class="m-0 fs-08em fw-400 fl-r">Cancel Order</p></a>
      <% } %>
    </div>
    <div class="p-0">
      <div id="header" class="px-3 py-1">
        <div class="products-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Product</p>
        </div>
        <div class="price-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Price</p>
        </div>
        <div class="quantity-col inline-block">
          <p class="inline m-0 fs-08em fw-400">Quantity</p>
        </div>
      </div>
      <% order.forEach((data)=>{ %>
        <div class="product-div pos-relative px-3">
          <div class="inline-block va-t">
            <a href="/item/<%= data.intProductNo%>" class="img-link">
              <img src="/customer-assets/images/products/<%= data.strProductPicture%>" height="100" width="100" alt="product">
            </a>
            <div class="px-2">
              <p class="m-0 fs-08em fw-400 lh-p3em"><%= data.strBrand%> <%= data.strProductName%></p>
              <p class="fs-08em fw-400 text-muted"><%= data.intSize%> <%= data.strUnitName%></p>
              <% if (orderOne.orderStatus == 0 || orderOne.orderStatus == 1){ %>
                <a class="fw-400" href=""><i class="fa fa-minus-circle"></i></a>
              <% } %>
              <div class="price">
                <p class="mb-0 fs-1em fw-400 lh-p3em price-symbol"><%= data.productPrice%></p>
                <p class="mb-0 fs-09em lh-p3em text-muted price-symbol"><s>0</s> (-0%)</p>
              </div>
            </div>
          </div>
          <div class="inline-block va-t mt-2">
            <p class="mb-1 fs-1em fw-400 lh-p3em price-symbol"><%= data.productPrice%></p>
            <p class="mb-1 fs-09em lh-p3em text-muted price-symbol"><s>0</s></p>
            <p class="mb-1 fs-09em lh-p3em text-muted">0% off</p>
          </div>
          <div class="inline-block va-t mt-2">
            <p class="m-0 fs-09em fw-400 lh-p3em"><%= data.intQuantity%></p>
            <% if (orderOne.orderStatus == 0 || orderOne.orderStatus == 1){ %>
              <a class="fw-400 no-decoration" href=""><i class="fa fa-minus-circle mt-2"></i></a>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <div id="summary-details-pane" class="fl-r">
    <div>
      <p class="m-0 mb-1">Shipping & Billing</p>
      <small>Shipping Address</small>
      <small class="address block px-1 mb-1">
        <%= orderOne.strShippingAddress%>
      </small>
      <small>Billing Address</small>
      <small class="address block px-1">
        <%= orderOne.strBillingAddress%>
      </small>
    </div>
    <div>
      <p class="m-0 mb-1">Order Summary</p>
      <small class="label">Subtotal (5)</small>
      <small class="price price-symbol"><%= orderTotal%></small>
      <br>
      <small class="label">Shipping Fee</small>
      <small class="price price-symbol">100.00</small>
      <br>
      <small class="label label-total">Total</small>
      <% if(orderOne.intPaymentMethod == 1){ %>
        <small id="payment-method">Cash on Delivery</small>
      <% }else{ %>
        <small id="payment-method">Bank Deposit</small>
      <% } %>
      <small class="price total price-symbol"><%= orderTotal%></small>
      <div class="pos-relative mb-3">
        <small class="text-muted price vat block">VAT applied</small>
      </div>
      <% if(orderOne.intPaymentMethod == 2 && (orderOne.orderStatus == 0 || orderOne.orderStatus == 1 || orderOne.orderStatus == 2)){ %>
        <button type="button" id="print-btn" class="btn btn-custom-primary btn-sm fl-r">Print Slip</button>
      <% }else{ %>
        <button type="button" id="print-btn" class="btn btn-custom-primary btn-sm fl-r" disabled>Print Slip</button>
      <% } %>
      <div id="more-details">
        <a href=""><small class="block fs-08em fw-400">Vouchers Used</small></a>
        <small>Date Ordered: <%= orderOne.dateOrdered%></small>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
