<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>

        <small></small>

		<small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Utilities</a></li>
        <li class="active">Business Information</li>
      </ol>
    </section>

    <!-- Main content -->

    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">USG Business Details</h3>
            </div>

            <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Name:</h5>
				</div>
				<div class="col-md-5">
				<h6><%= re[0].strbusinessName %></h6>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Address:</h5>
				</div>
				<div class="col-md-5">
				<h6><%= re[0].strbusinessAddress %></h6>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Phone:</h5>
				</div>
				<div class="col-md-5">
				<h6><%= re[0].strbusinessPhone %></h6>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Mobile:</h5>
				</div>
				<div class="col-md-5">
				<h6><%= re[0].strbusinessMobile %></h6>
				</div>
			</div>

			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
				<h5>Business Email Address:</h5>
				</div>
				<div class="col-md-5">
				<h6><%= re[0].strbusinessEmail %></h6>
				</div>
			</div>

			<div class="box-footer">
      <a href="consApplication.html"><button class="btn btn-default" >Back</button></a>

				<button type="button" data-toggle="modal" data-target="#edit" class="btn btn-primary pull-right" style="margin-right: 5px;">
				Edit
				</button>
			</div>
			<!-- /.box-footer -->



          </div>
          <!-- /.box -->


	    </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

  <!-- /.content-wrapper -->

  <!-- Modals -->


   	<div class="modal fade" id="edit">
   	  <div class="modal-dialog">
   		<div class="modal-content">
   		  <div class="modal-header">
   			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
   			  <span aria-hidden="true">&times;</span></button>
   			<h4 class="modal-title">Business Information </h4>
   		  </div>
   		  <div class="modal-body">
   			<!-- Horizontal Form -->

   					<!-- form start -->
            <form role="form">
                <div class="box-body">
                  <div class="form-group">
                    <label for="name">Business Name:</label>
                    <input type="text" value="<%=re[0].strbusinessName%>" required class="form-control" id="name" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="address">Business Address:</label>
                    <textarea class="form-control" value="<%=re[0].strbusinessAddress%>" id="address" placeholder=""><%=re[0].strbusinessAddress%></textarea>
                  </div>

                  <div class="form-group">
                    <label for="phone">Business Phone:</label>
                    <input type="text" value="<%=re[0].strbusinessPhone%>" required class="form-control" id="phone" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="phone">Business Mobile:</label>
                    <input type="text" value="<%=re[0].strbusinessMobile%>" required class="form-control" id="mobile" placeholder="">
                  </div>

                  <div class="form-group">
                    <label for="email">Business Email Address:</label>
                    <input type="text" value="<%=re[0].strbusinessEmail%>" required class="form-control" id="email" placeholder="">
                  </div>



                </div>
              </form>

   			  </div>
   			  <div class="modal-footer">
   				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
   				<button type="button" id="save" class="btn btn-primary">Save changes</button>
   			  </div>
   		</div>
   		<!-- /.modal-content -->
   	</div>
     <!-- /.modal-dialog -->
   </div>

   <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<%- include('../../../templates/admin-footer.ejs') -%>


<!-- page script (new added) -->

<script>
$(document).ready(function(){
  $('#save').on('click',function(){
    $.ajax({
      url: '/utilities/updateBusinessInfo',
      method: 'post',
      datatype: "json",
      data: {
        name: $('#name').val(),
        address: $('#address').val(),
        phone: $('#phone').val(),
        mobile: $('#mobile').val(),
        email: $('#email').val()
      },
      success: function(response,status,http){
        if (response == "yes"){
          swal("Success!", "You edited the business information", "success");
          window.location.reload();
        }
      }
    })
  })
});
</script>

<script>
$('#title').html("USG | Business Information");
$(".treeview a:contains('Utilities')").parent().addClass("active");
$(".navi a:contains('Business Information')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
