<%- include('../../../templates/cons-master.ejs') -%>

<style>
  input, select {
    border-radius: 0px !important;
  }
  input:disabled, button:disabled {
    background: #ccc !important;
    cursor: default !important;
  }
  .form-group {
    position: relative;
  }
  span.tip-message {
    display: block;
    width: 100%;
  }
  span.tip-message::after {
    content: attr(mess);
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    display: block;
    background: #e74c3c;
    padding: 4.65px;
    font-size: .8em;
  }
  span.tip-message.pass::after {
    background: #2ecc71;
  }

</style>

<form id="msform" novalidate>
    <!-- progressbar -->
    <ul id="progressbar">
      <li class="active tes">Start</li>
      <li class="tes">Business Profile</li>
      <li class="tes">Supplier Details</li>
      <li class="tes">Consignment Details</li>
      <li class="tes">Products</li>
      <li class="tes">Product Details</li>
      <li class="tes">Agreement</li>
    </ul>
    <!-- fieldsets -->
     <!--START-->
    <fieldset class=" box-shadow-mini">
        <img src="/assets/images/static2/img10.jpg" style="padding-left:0px; padding-bottom:30px; width:95%;">
        <h2 class="text-center">USG Supplier Information Sheet (Consignment Application)</h2>
        <hr>
        <p>Thank you for your interest in becoming one of our health & wellness partner. </p>

        <p>Please fill out this form and email the following documents to info.ultrasupergreen@gmail.com and mktg.ultrasupergreen@gmail.com. Use the subject line: "Consignment Application - (Name of your Brand or Company)" : </p>

        <p>•	Company Profile </p>
        <p>•	Product Information Sheet with complete list of ingredients - Excel format </p>
        <p>•	Price list  </p>
        <p>•	DTI /SEC Registration
        <p>•	Official Receipt and/or BIR Registration  </p>
        <p>•	Sales Invoice and Delivery receipt  </p>
        <p>•	FDA Registration (if any) </p>
        <p>•	Eco Certification or Third Party Laboratory Results for product safety and efficacy (if any)  </p>
        <p>•	If your product has no certification, you must indicate on your label that your product is either  </p>
               <p>All Natural, homemade or herbal </p>
        <input type="button" name="next" class="next action-button" value="Start" style="margin-left: 240px;" />
      </fieldset>

    <!--STEP 1 Business Profile-->
    <fieldset>
      <div role="alert" class="alert alert-info text-primary" style=""><i>All fields are required in order to successfully register</i></div>
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="businessname">Business Name</label>
        <div class="">
        <input id="businessname" name="businessname" placeholder="Your Answer" class="form-control input-md" min="1" max="50" type="text">
        <span class="help-block">Specify Business Name</span>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="brandname">Brand Name</label>
        <div class="">
        <input id="brandname" name="brands" placeholder="Your Answer" class="form-control" min="1" max="100" type="text">
        <span class="help-block">List all if you have multiple brands, separated by a comma</span>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="control-label" for="businesstype">Type of Business</label>
        <div class="">
          <select id="businesstype" name="businessType"  class="form-control">
            <% if (btype == null || btype == undefined){ %>

            <% }else if(btype.length == 0){ %>

            <% }else{ %>
              <% btype.forEach(function(i){ %>
                <option value="<%=i.intBusinessTypeNo%>"><%=i.strBusinessType%></option>
              <% }) %>
            <% } %>

          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="businessaddress">Business Address</label>
        <div class="">
        <input id="businessaddress" name="businessaddress" placeholder="Your Answer" class="form-control input-md" min='1' max='100' type="text">

        </div>
      </div>
      <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
      <input type="button" name="next" class="next action-button" value="Next" disabled />
    </fieldset>

    <!--STEP 2 Supplier Details-->
    <fieldset>
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="businessTIN">Business TIN</label>
        <div class="">
        <input id="businessTIN" name="businesstin" placeholder="Your Answer" class="form-control input-md" min='1' max='10' type="text">

        </div>
      </div>

      <!-- BIR stats -->
      <div class="form-group">
        <label class="control-label" for="BIRstatus">Is your business BIR registered? If not, we would require a sales invoice</label>
        <div class="">
          <select id="BIRstatus" name="birstat" class="form-control">

            <option value="1">Yes</option>
            <option value="0">No</option>
            <option value="2">We are working on it</option>
          </select>
        </div>
      </div>

      <!-- DTI stats -->
      <div class="form-group">
        <label class="control-label" for="DTIstatus">Is your business DTI registered?</label>
        <div class="">
          <select id="DTIstatus" name="dtistat" class="form-control">

            <option value="1">Yes</option>
            <option value="0">No</option>
            <option value="2">We are working on it</option>
          </select>
        </div>
      </div>

      <!-- Supplier Type -->
      <div class="form-group">
        <label class="control-label" for="suppliertype">Type of Supplier </label>
        <div class="">
          <select id="suppliertype" name="suppliertype" class="form-control">

            <option value="1">Consignment</option>
            <option value="2">Kiosk / Booth (500 rental per day / minimum of 3 days)</option>
          </select>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group mb-0">
        <label class="control-label" for="fname">Supplier Information</label>
      </div>
      <div class="form-group mb-0">
        <input id="fname" name="fname" placeholder="First Name" class="form-control input-md mini" min='1' max='50' type="text">
      </div>
      <div class="form-group mb-0">
        <input id="mname" name="mname" placeholder="Middle Name (Optional)" class="form-control input-md optional mini" max='50' type="text">
      </div>
      <div class="form-group">
        <input id="lname" name="lname" placeholder="Last Name" class="form-control input-md mini" min='1' max='50' type="text">
      </div>

      <!-- Text input-->
      <div class="form-group mb-0">
        <label class="control-label" for="mobile">Contact Number</label>
      </div>
      <div class="form-group mb-0">
        <input id="mobile" name="mobile" placeholder="Mobile(PH): eg. 09236835707 " class="form-control input-md mobile mini" type="text">
      </div>
      <div class="form-group">
        <input id="phone" name="phone" placeholder="Phone: (Area Code)XXX-XXXX" class="form-control input-md phone mini" type="text">
      </div>

      <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
      <input type="button" name="next" class="next action-button" value="Next" disabled/>
    </fieldset>

    <!--STEP 3 Consignment Details-->
    <fieldset>
      <!-- Text input-->
      <div class="form-group">
        <label class="control-label" for="textinput">Best Time &amp; Day to reach you</label>
        <div class="">
        <input id="textinput" name="besttime" placeholder="Your Answer" class="form-control input-md optional" max='100' type="text">

        </div>
      </div>

      <!-- Email-->
      <div class="form-group">
        <label class="control-label" for="textinput">Email address</label>
        <div class="">
        <input id="textinput" name="email" placeholder="Your Answer" class="form-control input-md" min='1' max='100' type="email">

        </div>
      </div>

      <!-- Consignment Price -->
      <div class="form-group">
        <label class="control-label" for="checkboxes">Consignment Discount</label>
        <div class=""></div>
        <div class="">
          <label class="radio">
            <input type="radio" name="consignment" value="40">
            We agree with the 40% discount/ commision on all product consignment
          </label>
          <div></div>
          <label class="radio">
            <input type="radio" name="consignment" value="0">
            We have a higher offer for Ultra Super Green - (email proposal)
          </label>
        </div>
      </div>

      <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
      <input type="button" name="next" class="next action-button" value="Next" disabled/>
    </fieldset>

    <!--STEP 4 Products-->
    <fieldset>
        <!-- Category -->
        <div class="form-group mb-1">
          <label class="control-label" for="checkboxes">Product category</label>
          <hr>
          <div class="">

          <div class="checkbox">
            <% if (category){ %>
              <% category.forEach(function(data,i){ %>
                <input name="category[<%=i%>]" id="<%=data.strCategory%>-<%=data.strSubCategory%>" value="<%=data.strCategory%> - <%=data.strSubCategory%>" type="checkbox">
                <label for="<%=data.strCategory%>-<%=data.strSubCategory%>"><%=data.strCategory%> - <%=data.strSubCategory%></label>
                </br>
              <% }) %>
            <% } %>

          </div>

          </div>
        </div>

        <!-- Prepended checkbox -->
        <div class="form-group">
          <label class="control-label" for="prependedcheckbox"></label>
          <div class="">
            <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" class="others" name="others" value='1'>
              </span>
              <input id="prependedcheckbox" name="specify" class="form-control others-input optional" placeholder="Other please specify" type="text" max='45'>
            </div>

          </div>
        </div>
        <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
        <input type="button" name="next" class="next action-button" value="Next" disabled/>
    </fieldset>

    <!--STEP 5 Product Details-->
    <fieldset>
      <div class="form-group">
        <label class="control-label" for="checkboxes">Product Certifications / Awards &amp; Recognition </label>
        <hr>
        <div class="checkbox">
          <% if (certification){ %>
            <% certification.forEach(function(data,i){ %>
              <input name="certification[<%=i%>]" id="<%=data.strCertification%>" value="<%=data.strCertification%>" type="checkbox" class="optional">
              <label for="<%=data.strCertification%>"><%= data.strCertification %></label>
              </br>
            <% }) %>
          <% } %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="fdastat">FDA Registration Status</label>
        <select id="fdastat" name="fdastat" class="form-control">

            <option value="1">Registered</option>
            <option value="2">In-Process</option>
            <option value="3">We have not registered but our products have an accreditation or third party lab results as proof of authenticity and efficacy</option>
            <option value="4">N/A - for non food only except for beauty products and cosmetics</option>
            <option value="5">None</option>
          </select>
      </div>

      <div class="form-group">
        <label class="control-label" for="fda">FDA Registration ID Number </label>
        <input id="fda" name="fda" placeholder="Your Answer (Optional)" class="form-control input-md optional" max='45' type="text">
      </div>

      <div class="form-group">
        <label class="control-label" for="deliverysched">Proposed Schedule of Product Delivery </label>
        <input id="deliverysched" name="deliverysched" placeholder="Your Answer" class="form-control input-md" min='1' max='100' type="text">
      </div>

      <div class="form-group">
        <label class="control-label" for="freq">Frequency of Delivery </label>
        <input id="freq" name="freq" placeholder="Your Answer" class="form-control input-md" min='1' max='100' type="text">
      </div>

      <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
      <input type="button" name="next" class="next action-button" value="Next" disabled/>
    </fieldset>

    <!--STEP 6 Agreement-->
    <fieldset>
      <!-- Text input-->
      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="control-label" for="replacement">Product Replacement and Replenishment</label>
        <div class="">
        <div class="checkbox">
          <input name="replacement" id="replacement" value="1" type="checkbox">
          <label for="replacement">
            I hereby agree to replace any goods/products that are about to expire, non-moving, damaged upon delivery or with valid customer complaints
          </label>
        </div>
        </div>
      </div>

      <!-- Multiple Checkboxes -->
      <div class="form-group">
        <label class="control-label" for="marketing">Marketing &amp; Promotions</label>
        <div class="">
          <div class="checkbox">
            <input name="marketing" id="marketing" value="1" type="checkbox" class="optional">
            <label for="marketing">
              I / Our company would like to actively participate and support any marketing and promotional activities of Ultra Super Green (e.g. product sampling, special events and other local market events)
            </label>
          </div>
        </div>
      </div>

      <p>Kindly allow a maximum of 5 business days for review and approval.  </p>

      <p>Once your application has been reviewed and pass our initial requirements, the consignor is required to do an in-store product sampling and/or demo activity to test the market to get instant feedback from our customers.  </p>

      <p>This will be scheduled by appointment. (Monday or Sundays only) 12:00nn to 6:00pm. First come, first served basis.  </p>

      <p>If everything goes well, we would proceed with our partnership and we can start carrying your brand. </p>
      <input type="button" name="previous" class="previous action-button" value="Previous" style="margin-left: 180px;"/>
      <button type="submit"  class="submit action-button" disabled >Submit</button>
    </fieldset>

  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <!-- jQuery 3 -->
  <script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/jquery/jquery-ui.min.js"></script>
  <script src="/assets/jquery-validation-1.17.0/dist/jquery.validate.js"></script>



  <script>
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
      if(animating) return false;
      animating = true;

      current_fs = $(this).parent();
      next_fs = $(this).parent().next();

      //activate next step on progressbar using the index of next_fs
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

      //show the next fieldset
      next_fs.show();
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale current_fs down to 80%
          scale = 1 - (1 - now) * 0.2;
          //2. bring next_fs from the right(50%)
          left = (now * 50)+"%";
          //3. increase opacity of next_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
          next_fs.css({'left': left, 'opacity': opacity});
        },
        duration: 800,
        complete: function(){
          current_fs.hide();
          animating = false;
        },
        //this comes from the custom easing plugin
        easing: 'easeInOutBack'
      });
    });

    $().click(function(){
      current_fs = $(this).validate({
        rules: {
          businessname: "required"
        },
        messages: {
          businessname: "Please fill up the form"
        }
      });
    });


    $(".previous").click(function(){
      if(animating) return false;
      animating = true;

      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();

      //de-activate current step on progressbar
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

      //show the previous fieldset
      previous_fs.show();
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale previous_fs from 80% to 100%
          scale = 0.8 + (1 - now) * 0.2;
          //2. take current_fs to the right(50%) - from 0%
          left = ((1-now) * 50)+"%";
          //3. increase opacity of previous_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({'left': left});
          previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
        },
        duration: 800,
        complete: function(){
          current_fs.hide();
          animating = false;
        },
        //this comes from the custom easing plugin
        easing: 'easeInOutBack'
      });
    });
    </script>

<script>
  const thisUrlHost = `${window.location.protocol}//${window.location.host}`,
  testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i,
  testMobile = /(\/?09)[0-9]{9}/i,
  testPhone = /^[\(]\d{1,5}[\)]\d{3}-\d{4}$/i;
  testSpace = /^[^\s]+(\s+[^\s]+)*$/i

  $(document).keypress(function(event){
    if (event.which == '13') {
      event.preventDefault();
    }
  });

  $('#msform > fieldset input').keypress(function(key) {
    if ($(this).attr('max')){
      if($(this).val().length >= $(this).attr('max')){
        if(key.charCode <= 8 || key.charCode >= 32) return false;
      }
    }
  });

  function checkFields(fs,checkVal){
    $(fs).find(`input:not([type=button]):not([type=checkbox]):not([type=radio]):not(.optional)`)
    .each(function(){
      $(this).val() == '' ? checkVal = 1 : 0;

      if($(this).val().length < $(this).attr('min')) checkVal = 1;
      if($(this).val().length > $(this).attr('max')) checkVal = 1;

      $(this).attr('type') == 'email' ?
        !testEmail.test($(this).val()) ? checkVal = 1 : 0
        : 0

      $(this).hasClass('mobile') ?
        !testMobile.test($(this).val()) ?
          checkVal = 1 :
          $(this).val().length > 11 ? checkVal = 1 : 0
        : 0

      $(this).hasClass('phone') ?
        !testPhone.test($(this).val()) ? checkVal = 1 : 0
        : 0

      !testSpace.test($(this).val()) ? checkVal = 1 : 0

    })

    $(fs).find(`input[type=checkbox]:not(.optional)`).length ?
      !$(fs).find('input[type=checkbox]:checked:not(.optional)').length ? checkVal = 1 : 0
      : 0

    $(fs).find(`input[type=radio]`).length ?
      !$(fs).find('input[type=radio]:checked').length ? checkVal = 1 : 0
      : 0

    return checkVal;
  }
  function lengthMessage(thisInput){
    if (!$(thisInput).val().length){
      $(thisInput).next(`span.tip-message`).remove()
    }
    else{
      // min & max message
      // min
      if($(thisInput).val().length < $(thisInput).attr('min')){
        $(thisInput).next(`span.tip-message`).remove()
        $(thisInput).after(`<span class='tip-message'
        title='minimum of ${$(thisInput).attr('min')} characters' mess='minimum of ${$(thisInput).attr('min')} characters'></span>`);
      }
      else{
        $(thisInput).next(`span.tip-message`).remove()
      }

      // max
      if($(thisInput).val().length > $(thisInput).attr('max')){
        $(thisInput).next(`span.tip-message`).remove()
        $(thisInput).after(`<span class='tip-message'
        title='max of ${$(thisInput).attr('max')} characters' mess='max of ${$(thisInput).attr('max')} characters'></span>`);
      }
      else if($(thisInput).val().length == $(thisInput).attr('max')){
        $(thisInput).next(`span.tip-message`).remove()
        $(thisInput).after(`<span class='tip-message pass'
        title='max characters reached (${$(thisInput).attr('max')})'
        mess='max characters reached (${$(thisInput).attr('max')})'></span>`);
      }

      // !min, !max
      if($(thisInput).val().length >= $(thisInput).attr('min') && $(thisInput).val().length < $(thisInput).attr('max')){
        $(thisInput).next(`span.tip-message`).remove()
      }

      if(!testSpace.test($(thisInput).val())){
        $(thisInput).next(`span.tip-message`).remove()
        $(thisInput).after(`<span class='tip-message'
        title='whitespace at start/end' mess='whitespace at start/end'></span>`);
      }

    }

    if( $(thisInput).hasClass('mini') ){
      $(thisInput).next(`span.tip-message`).attr('mess','*');
    }

    inputColor(thisInput);

  }
  function inputColor(thisInput){
    let tip = $(thisInput).next(`span.tip-message`)
    if ( (tip.length && !tip.hasClass(`pass`)) || (!$(thisInput).val().length && !$(thisInput).hasClass(`optional`)) ){
      $(thisInput).css('border-color', '#e74c3c')
    }
    else{
      $(thisInput).css('border-color', '#2ecc71')
    }

    $(thisInput).attr('type') == 'email' ?
      !testEmail.test($(thisInput).val()) ?
        $(thisInput).css('border-color', '#e74c3c') : 0
      : 0

    $(thisInput).hasClass('mobile') ?
      !testMobile.test($(thisInput).val()) ?
        $(thisInput).css('border-color', '#e74c3c') :
        $(thisInput).val().length > 11 ?
          $(thisInput).css('border-color', '#e74c3c') : 0
      : 0

    $(thisInput).hasClass('phone') ?
      !testPhone.test($(thisInput).val()) ?
        $(thisInput).css('border-color', '#e74c3c') : 0
      : 0

  }

  $('#msform > fieldset input').keypress(function(event){
    if ($(this).val().length == 0 && event.which == '32'){
      event.preventDefault();
    }
  });

  $('#msform > fieldset input').keyup(function(){
    let fs = $(this).closest('fieldset'), checkVal = 0;
    // checkVal 1 = has empty

    checkVal = checkFields(fs,checkVal);
    lengthMessage(this);

    checkVal ?
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).attr('disabled','disabled') :
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).removeAttr('disabled');
  });

  $('#msform > fieldset input[type=checkbox]').click(function(){
    let fs = $(this).closest('fieldset'), checkVal = 0;

    if ($(fs).find(`input[type=checkbox].others:checked`).length){
      $(fs).find(`input.others-input`).removeClass('optional');
      checkVal = checkFields(fs,checkVal);
      lengthMessage($(fs).find(`input.others-input`));
    }
    else{
      $(fs).find(`input.others-input`).addClass('optional')
      checkVal = checkFields(fs,checkVal)
    }

    checkVal ?
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).attr('disabled','disabled') :
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).removeAttr('disabled');
  });

  $('#msform > fieldset input[type=radio]').click(function(){
    let fs = $(this).closest('fieldset'), checkVal = 0;

    checkVal = checkFields(fs,checkVal);

    checkVal ?
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).attr('disabled','disabled') :
      $(fs).find(`input[type=button]:nth-of-type(2), button[type=submit]`).removeAttr('disabled');
  });

  $('#msform').submit(function(e){
    e.preventDefault();

    $.ajax({
      url: '/consRegistration/register',
      method: 'post',
      data: $('#msform').serialize(),
      success: function(response,status,http){
        if(response =="yes"){
          alert("Success");
          window.location.replace(`${thisUrlHost}/login`)

        }else{
          alert("Error","","error");
        }
      },
      error: function(){
        alert("");
      }
    });
  })

</script>


</body>

</html>
