<%- include('../../../templates/consignor-dashboard.ejs') -%>

<div id="consigner" class="container">
  <div class="row">
    <div class="col">
      <div id="main-content">
          <div class="col-lg-12">
              <div class="card-title">
                  <h4 style="font-weight: bold;" align="center">New Request</h4>
              </div>


              <div class="card-body">
                <br>
                <div class="row">

                  <div class="col-sm-1">
                  </div>
                  <div class="col-sm-4">
                    <h6><strong>Requested By:</strong></h6>
                    <h6><%= consignor[0].strFname %> <%= consignor[0].strMname %> <%= consignor[0].strLname %></h6>
                    <h6><%= consignor[0].strBusinessAddress%></h6>
                    <h6><%= consignor[0].strBusinessEmail%></h6>
                    <h6><%= consignor[0].strSupplierMobile%> | <%= consignor[0].strSupplierPhone %></h6>
                  </div>
                  <div class="col-sm-4">
                    <h6><strong>Requested To:</strong></h6>
                    <h6>Gustle Agulto - Operations Manager</h6>
                    <h6>Ultra Super Green Trading Corp.</h6>
                    <h6>Katipunan Ave., Quezon City</h6>
                    <h6>info.ultrasupergreen@gmail.com</h6>
                  </div>
                  <div class="col-sm-3">
                     <h6><strong>Request No: </strong>1000</h6>
                  </div>
                </div>

                <br>

                <form id="request_form">
                <a data-toggle="modal" data-target="#addProduct_modal"> <button   class=" btn btn-info" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">Add</button></a>

                <div class="table-responsive">
                  <table   id="list" class="table table-bordered table-hover">

                    <thead>
                      <tr>
                          <th>No</th>
                          <th>Product Name</th>
                          <th>Description</th>
                          <th>Category</th>
                          <th>Certifications</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>

                <br>
                <button class=" btn btn-default pull-right">Cancel</button>

                <button class=" btn btn-success pull-right">Submit</button>
                <br>
              </div>
              <!-- Card body -->
            </form>

          </div>
      </div>
    </div>
  </div>
</div>

<div id="addProduct_modal" class="modal fade" >
  <div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <h5 id="EditInfoTitle" class="modal-title"><b></b></h5>
      <button class="close" type='button' data-dismiss='modal' aria-label='Close'>
        <span aria-hidden='true'>×</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col">
          <label ><b>Product</b></label>
          <input id="product" class="form-control material mb-3">

        </div>
      </div>
      <div class="row">
        <div class="col">
          <label ><b>Description</b></label>
          <input id="description" class="form-control material mb-3">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label ><b>Category</b></label>
          <input id="category" placeholder="If multiple, please separate by comma" class="form-control material mb-3">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label ><b>Certifications</b></label>
          <input id="certifications" placeholder="If multiple, please separate by comma" class="form-control material mb-3">
        </div>
      </div>
    <div class="modal-footer">
      <button id="addRow" class="btn btn-secondary" type='button', data-dismiss='modal'>Submit</button>
    </div>
    </div>
  </div>
  </div>
</div>




<script src="/assets/consignor/jquery-slim.js"></script>
<script src="/assets/consignor/popper.min.js"></script>
<script src="/assets/consignor/bootstrap.min.js"></script>
<script src="/assets/consignor/simplebar.js"></script>

<script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/assets/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<script>

  $('#request_form').submit(function(e){
    e.preventDefault();

    $.post('/consRequests/newRequest',$('#request_form').serialize(), function(data,status){
      if(data=="yes"){
        location.href = '/consRequests'
      }
    })
  })

  var t = $('#list').DataTable({
    'paging'      : false,
    'lengthChange': false,
    'ordering'    : false,
    'info'        : false,
    'autoWidth'   : true,
  'scroll'		: false,
  'searching' : false
  });
  var table = document.getElementById("list");
  var row = table.getElementsByTagName("tr");
  var tr = table.getElementsByTagName("tr");
  var count = 1;


  $('#addRow').on('click',function(){

    t.row.add( [
        count,
        $('#product').val() + `<input type="hidden" name="product[]" value="${$('#product').val()}">`,
        $('#description').val() + `<input type="hidden" name="description[]" value="${$('#description').val()}">`,
        $('#category').val() + `<input type="hidden" name="category[]" value="${$('#category').val()}">`,
        $('#certifications').val() + `<input type="hidden" name="certifications[]" value="${$('#certifications').val()}">`

    ] ).draw( false );
    count++;

    $('#product').val("");
    $('#description').val("");
    $('#category').val("");
    $('#certifications').val("");
  });
</script>

</body>

</html>
