<%- include('../../../templates/sidebar.ejs') -%>

<style>
  #sidebar>.row>.col:first-of-type>a:nth-of-type(1)>h5 {
    border-left: 4px solid var(--primary-color);
  }
</style>

<!-- main content title -->
<p id="title">Account Dashboard</p>
<!-- main content -->
<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Personal information</div>
      <div class="card-body">
        <h5 class="mb-1"><%= thisUser.strFname%> <%= thisUser.strMname%> <%= thisUser.strLname%></h5>
        <h6 class="text-muted mb-1">
          <% if(thisUserContact.strCusMobileNo){ %>
            <%= `${thisUserContact.strCusMobileNo}`%>
          <% }else{ %>
            Mobile not set
          <% } %>
          |
          <% if(thisUserContact.strCusPhoneNo){ %>
            <%= thisUserContact.strCusPhoneNo%>
          <% }else{ %>
            Phone not set
          <% } %>
        </h6>
        <h6 class="text-muted pb-3"><%= thisUser.strEmail%></h6>
        <a data-toggle="modal" data-target="#EditInfo" class="btn btn-custom-primary"><i class="fa fa-fw fa-wrench"></i> Edit</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Default Shipping Address </div>
      <div class="card-body">
        <% if(thisUserContact.strShippingAddress){ %>
          <p><%= thisUserContact.strShippingAddress%></p>
        <% }else{ %>
          <p><em>No Default Shipping Address</em></p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Default Billing Address </div>
      <div class="card-body">
        <% if(thisUserContact.strBillingAddress){ %>
          <p><%= thisUserContact.strBillingAddress%></p>
        <% }else{ %>
          <p><em>No Default Billing Address</em></p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div id="EditInfo" tabindex="-1" role="dialog" aria-labelledby="EditInfoTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/account/dashboard/info" method="POST" class="m-0">
        <div class="modal-header">
          <h5 id="EditInfoTitle" class="modal-title"><b> Edit Personal Information</b></h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="fname" class="required-field"><b>First Name</b></label>
              <input id="fname" type="text" name="fname" value="<%= thisUser.strFname%>" required="" class="form-control material mb-3 simple" maxLength="50" />
            </div>
            <div class="col">
              <label for="mname"><b>Middle Name</b></label>
              <input id="mname" type="text" name="mname" value="<%= thisUser.strMname%>" class="form-control material mb-3 simple" maxLength="50" />
            </div>
            <div class="col">
              <label for="lname" class="required-field"><b>Last Name</b></label>
              <input id="lname" type="text" name="lname" value="<%= thisUser.strLname%>" required="" class="form-control material mb-3 simple" maxLength="50" />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="mobile"><b>Mobile Number</b></label>
              <input id="mobile" type="text" name="mobile" placeholder="09XXXXXXXXX" pattern="^(\/?09)[0-9]{9}$" data-inputmask-regex="(09)[0-9]{9}" value="<%= thisUserContact.strCusMobileNo%>" class="form-control material mb-3" />
            </div>
            <div class="col">
              <label for="phone"><b>Phone Number</b></label>
              <input id="phone" type="text" name="phone" placeholder="XXX-XXXX" pattern= "^\d{3}-\d{4}$" value="<%= thisUserContact.strCusPhoneNo%>" class="form-control material mb-3" />
            </div>
          </div>

          <label for="email" class="required-field"><b>Email</b></label>
          <input id="email" type="text" name="email" pattern="^[a-z0-9.+-]+@([a-z0-9-]+\.)+[a-z]{2,4}$" data-inputmask-regex="[a-z0-9.+-]+@([a-z0-9-]+\.)+[a-z]{2,4}" value="<%= thisUser.strEmail%>" required="" class="form-control material mb-3" maxLength="100" />

          <label for="dsa" class="required-field"><b>Default Shipping Address</b></label>
          <div class="row">
            <div class="col-5">
              <select id="dsaCity" type="text" name="dsaCity" class="form-control custom-select-2 mb-3">
                <% locations.forEach((data)=>{ %>
                  <% if (thisUserContact.strShippingAddress){ %>
                    <% if (data.strLocation == thisUserContact.strShippingAddress.split(/\s-\s(.*)/g)[0]){ %>
                      <option value="<%= data.strLocation%>" selected><%= data.strLocation%></option>
                    <% }else{ %>
                      <option value="<%= data.strLocation%>"><%= data.strLocation%></option>
                    <% } %>
                  <% }else{ %>
                    <option value="<%= data.strLocation%>"><%= data.strLocation%></option>
                  <% } %>
                <% }) %>
                <option value="Others">Others</option>
              </select>
              <div class="others-div" hidden>
                <button type="button" name="button" class="btn btn-sm mt-1"><i class="fas fa-times"></i></button>
                <% if (!sAddress && thisUserContact.strShippingAddress){ %>
                  <input type="text" name="dsaOthers" value="<%= thisUserContact.strShippingAddress.split(/\s-\s(.*)/g)[0]%>"
                  placeholder="City" class="form-control material mb-3 simple" maxLength="15" />
                <% }else{ %>
                  <input type="text" name="dsaOthers" value="" placeholder="City" class="form-control material mb-3 simple" maxLength="15" />
                <% } %>
              </div>
            </div>
            <div class="col-7">
              <% if (!sAddress && thisUserContact.strShippingAddress){ %>
                <input id="dsa" type="text" name="dsa" value="<%= thisUserContact.strShippingAddress.split(/\s-\s(.*)/g)[1]%>"
                placeholder="House#/Lot/Blk St. Bgy." class="form-control material mb-3 simple" maxLength="80" required/>
              <% }else{ %>
                <input id="dsa" type="text" name="dsa" placeholder="House#/Lot/Blk St. Bgy." class="form-control material mb-3 simple" maxLength="80" required/>
              <% } %>
            </div>
          </div>

          <label for="dba" class="required-field"><b>Default Billing Address</b></label>
          <div class="row">
            <div class="col-5">
              <select id="dbaCity" type="text" name="dbaCity" class="form-control custom-select-2 mb-3">
                <% locations.forEach((data)=>{ %>
                  <% if (thisUserContact.strBillingAddress){ %>
                    <% if (data.strLocation == thisUserContact.strBillingAddress.split(/\s-\s(.*)/g)[0]){ %>
                      <option value="<%= data.strLocation%>" selected><%= data.strLocation%></option>
                    <% }else{ %>
                      <option value="<%= data.strLocation%>"><%= data.strLocation%></option>
                    <% } %>
                  <% }else{ %>
                    <option value="<%= data.strLocation%>"><%= data.strLocation%></option>
                  <% } %>
                <% }) %>
                <option value="Others">Others</option>
              </select>
              <div class="others-div" hidden>
                <button type="button" name="button" class="btn btn-sm mt-1"><i class="fas fa-times"></i></button>
                <% if (!bAddress && thisUserContact.strBillingAddress){ %>
                  <input type="text" name="dbaOthers" value="<%= thisUserContact.strBillingAddress.split(/\s-\s(.*)/g)[0]%>"
                  placeholder="City" class="form-control material mb-3 simple" maxLength="15" />
                <% }else{ %>
                  <input type="text" name="dbaOthers" value="" placeholder="City" class="form-control material mb-3 simple" maxLength="15" />
                <% } %>
              </div>
            </div>
            <div class="col-7">
              <% if (thisUserContact.strBillingAddress){ %>
                <input id="dba" type="text" name="dba" value="<%= thisUserContact.strBillingAddress.split(/\s-\s(.*)/g)[1]%>"
                placeholder="House#/Lot/Blk St. Bgy." class="form-control material mb-3 simple" maxLength="80" required/>
              <% }else{ %>
                <input id="dba" type="text" name="dba" placeholder="House#/Lot/Blk St. Bgy." class="form-control material mb-3 simple" maxLength="80" required/>
              <% } %>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary">Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../../../templates/sidebar-closer.ejs') -%>
<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<script src="/customer-assets/scripts/inputmask/dist/jquery.inputmask.bundle.js"></script>
<script type="text/javascript">
  $('title').html("Ultra Super Green - Dashboard");

  $(document).ready(function(){
    $('#phone').inputmask("999-9999", {placeholder: 'XXX-XXXX'});
    $('#mobile').inputmask({placeholder: '09XXXXXXXXX'});
    $('#email').inputmask()

    let sAddress = <%= sAddress%>, bAddress = <%= bAddress%>

    if (!sAddress){
      $(`select#dsaCity`).val('Others')
      $(`select#dsaCity`).attr('hidden','hidden');
      $(`select#dsaCity`).next(`.others-div`).removeAttr('hidden');
      $(`select#dsaCity`).next(`.others-div`).find(`input`).attr('required','required');
    }

    if (!bAddress){
      $(`select#dbaCity`).val('Others')
      $(`select#dbaCity`).attr('hidden','hidden');
      $(`select#dbaCity`).next(`.others-div`).removeAttr('hidden');
      $(`select#dbaCity`).next(`.others-div`).find(`input`).attr('required','required');
    }

  });

  $('input.simple').keypress(function(event){
    if ($(this).val().length == 0 && event.which == '32'){
      event.preventDefault();
    }
  });
  $('input.simple').keyup(function(event){
    function ltrim(str) {
      if(str == null) return str;
      return str.replace(/^\s+/g, '');
    }
    $(this).val(ltrim($(this).val()))
  });

  $('#email').keyup(function(){
    checkUserInfo()
  })

  function checkUserInfo(){
    $.post(`/account/dashboard/checkInfo`,{
      email: $('#email').val()
    }).then((res)=>{
      if (res.email){
        $(`#EditInfo button[type=submit]`).attr('disabled','disabled')
        $('label[for=email]').next(`label[for=emailCheck]`).remove()
        $('label[for=email]').after(`
          <label for=emailCheck class="fs-08em text-danger ml-3"><b>${res.email}</b></label>
          `)
      }
      else{
        $(`#EditInfo button[type=submit]`).removeAttr('disabled')
        $('label[for=email]').next(`label[for=emailCheck]`).remove()
      }

    }).catch((err)=>{
      console.log(err)
    })
  }

  $(`select`).change(function(){
    if ($(this).val() == 'Others'){
      $(this).attr('hidden','hidden');
      $(this).next(`.others-div`).removeAttr('hidden');
      $(this).next(`.others-div`).find(`input`).attr('required','required');
    }
  })

  $(`.others-div button`).click(function(){
    $(this).closest(`.row`).find(`.others-div`).attr('hidden','hidden');
    $(this).closest(`.row`).find(`select`).removeAttr('hidden');
    $(this).closest(`.row`).find(`.others-div > input`).removeAttr('required');
    let firstOption = $(this).closest(`.row`).find(`select > option:nth-child(1)`).val()
    $(this).closest(`.row`).find(`select`).val(firstOption)
  })

</script>
<%- include('../../../templates/closer.ejs') -%>
