<%- include('../../../templates/sidebar.ejs') -%>

<style>
  #sidebar>.row>.col:first-of-type>a:nth-of-type(1)>h5 {
    border-left: 4px solid var(--primary-color);
  }
</style>

<!-- main content title -->
<h4 class="lead pl-1 pb-2"><b>Account Dashboard</b></h4>
<!-- main content -->
<div class="row">
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Personal information</div>
      <div class="card-body">
        <h5 class="mb-1"><%= thisUser.strFname%> <%= thisUser.strMname%> <%= thisUser.strLname%></h4>
        <h6 class="text-muted mb-1">
          <% if(thisUserContact.strCusMobileNo){ %>
            <%= `+63${thisUserContact.strCusMobileNo.slice(1)}`%>
          <% }else{ %>
            Mobile not set
          <% } %>
          |
          <% if(thisUserContact.strCusPhoneNo){ %>
            <%= thisUserContact.strCusPhoneNo%>
          <% }else{ %>
            Phone not set
          <% } %>
        </h6>
        <h6 class="text-muted pb-3"><%= thisUser.strEmail%></h6>
        <a data-toggle="modal" data-target="#EditInfo" class="btn btn-custom-primary"><i class="fa fa-fw fa-wrench"></i> Edit</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Default Shipping Address </div>
      <div class="card-body">
        <% if(thisUserContact.strShippingAddress){ %>
          <p><%= thisUserContact.strShippingAddress%></p>
        <% }else{ %>
          <p><em>No Default Shipping Address</em></p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-header"> Default Billing Address </div>
      <div class="card-body">
        <% if(thisUserContact.strBillingAddress){ %>
          <p><%= thisUserContact.strBillingAddress%></p>
        <% }else{ %>
          <p><em>No Default Billing Address</em></p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div id="EditInfo" tabindex="-1" role="dialog" aria-labelledby="EditInfoTitle" aria-hidden="true" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <form action="/account/dashboard/info" method="POST" class="m-0">
        <div class="modal-header">
          <h5 id="EditInfoTitle" class="modal-title"><b> Edit Personal Information</b></h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <label for="fname"><b>First Name</b></label>
              <input id="fname" type="text" name="fname" value="<%= thisUser.strFname%>" required="" class="form-control material mb-3" />
            </div>
            <div class="col">
              <label for="mname"><b>Middle Name</b></label>
              <input id="mname" type="text" name="mname" value="<%= thisUser.strMname%>" class="form-control material mb-3" />
            </div>
            <div class="col">
              <label for="lname"><b>Last Name</b></label>
              <input id="lname" type="text" name="lname" value="<%= thisUser.strLname%>" required="" class="form-control material mb-3" />
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label id="mobile-label" class="pos-relative" for="mobile"><b>Mobile Number</b></label>
              <% if(thisUserContact.strCusMobileNo){ %>
                <input id="mobile" type="text" name="mobile" value="<%= thisUserContact.strCusMobileNo.slice(1)%>" class="form-control material mb-3" />
              <% }else{ %>
                <input id="mobile" type="text" name="mobile" class="form-control material mb-3" />
              <% } %>
            </div>
            <div class="col">
              <label for="phone"><b>Phone Number</b></label>
              <input id="phone" type="text" name="phone" value="<%= thisUserContact.strCusPhoneNo%>" class="form-control material mb-3" />
            </div>
          </div>

          <label for="email"><b>Email</b></label>
          <input id="email" type="text" name="email" value="<%= thisUser.strEmail%>" required="" class="form-control material mb-3" />

          <label for="dsa"><b>Default Shipping Address</b></label>
          <input id="dsa" type="text" name="dsa" value="<%= thisUserContact.strBillingAddress%>" class="form-control material mb-3" />

          <label for="dba"><b>Default Billing Address</b></label>
          <input id="dba" type="text" name="dba" value="<%= thisUserContact.strShippingAddress%>" class="form-control material mb-3" />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-custom-primary">Submit</button>
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<%- include('../../../templates/sidebar-closer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
