<%- include('../../../templates/sidebar.ejs') -%>

<style>
  #sidebar > .row > .col:first-of-type > a:nth-of-type(2) > h5{
    border-left: 4px solid var(--primary-color);
  }
</style>

<!-- main content title -->
<h4 class="lead pl-1 pb-2"><b>My Orders</b></h4>
<!-- main content -->
<div class="tab">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Status</th>
        <th scope="col">Date of Order</th>
        <th scope="col">Payment Method</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% if (orders == null || orders == undefined){ %>

      <% } else if (orders.length == 0) { %>

      <% } else{ %>
        <% orders.forEach(function(i){ %>
          <tr>
            <td><a href="/summary/order/<%= i.intOrderNo %>">#<%= i.intOrderNo %></a></td>
            <% let status;
            switch(i.intStatus){
              case 0: status = 'Pending'; break;
              case 1: status = 'Processing'; break;
              case 2: status = 'Shipped'; break;
              case 3: status = 'Delivered'; break;
              case 4: status = 'Will not Deliver'; break;
              case 5: status = 'Returned'; break;
              case 6: status = 'Cancelled'; break;
            } %>
            <td><%= status %></td>
            <td><%= i.dateOrdered %></td>
            <td><%= i.intPaymentMethod == 1 ? 'Cash on Delivery' : 'Bank Deposit' %></td>
            <td><span class="price-symbol price-color"><%= i.totalPrice %></span></td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
</div>
<!-- pagination -->
<div class="row">
  <div class="col"> </div>
  <div class="col pt-3">
    <ul class="pagination">
      <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">6</a></li>
      <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
    </ul>
  </div>
  <div class="col"> </div>
</div>

<%- include('../../../templates/sidebar-closer.ejs') -%>
<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
