<%- include('../../../templates/sidebar.ejs') -%>

<style>
  #sidebar > .row > .col:first-of-type > a:nth-of-type(2) > h5{
    border-left: 4px solid var(--primary-color);
  }
</style>

<!-- main content title -->
<h4 class="lead pl-1 pb-2"><b>My Orders</b></h4>
<!-- main content -->
<div class="tab">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Status</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% if (orders == null || orders == undefined){ %>

      <% } else if (orders.length == 0) { %>
      
      <% } else{ %>
        <% orders.forEach(function(i){ %>
          <tr>
            <td><%= i.intOrderNo %></td>
            <td><%= i.intStatus %></td>
            <td><%= i.dateOrdered %></td>
          </tr>
        <% }) %>
        <% } %>
          
  
     
    </tbody>
  </table>
</div>
<!-- pagination -->
<div class="row">
  <div class="col"> </div>
  <div class="col pt-3">
    <ul class="pagination">
      <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">6</a></li>
      <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
    </ul>
  </div>
  <div class="col"> </div>
</div>

<%- include('../../../templates/sidebar-closer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
