<%- include('../../../templates/master.ejs') -%>

<div id="container-messagepage" class="outer">
  <div class="middle">
    <div class="inner unselectable" style="width: 460px">
      <img src="/customer-assets/images/static/usg-green.png" onContextMenu="return false"/>
      <h1><%=message%></h1>
      <% if(messLink == 'home'){ %>
        <a href="/home" role="button" aria-pressed="true" class="btn btn-secondary btn-md" style="width: 110px">Home</a>
      <% }else{ %>
        <a href="/login" role="button" aria-pressed="true" class="btn btn-custom-primary btn-md" style="width: 110px">Login</a>
      <% } %>
    </div>
  </div>
</div>

<%- include('../../../templates/scripts.ejs') -%>
<script type="text/javascript">
  $(()=>{
    $('.outer').css(`background`, `url('/customer-assets/images/static/login-bg.jpg')`)
  })

</script>

<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
