<%- include('navbar.ejs') -%>

<div id="sidebar" class="container">
  <div class="row">
    <div class="col">
      <h5><b><%= thisUser.strFname%> <%= thisUser.strMname%> <%= thisUser.strLname%></b></h5>
      <a href="/account/dashboard">
        <h5><b>Dashboard</b></h5></a>
      <a href="/account/orders">
        <h5><b>Orders</b></h5></a>
    </div>
    <div class="col">
      <div id="topbar" class="row">
        <div class="col">
          <i class="fa d-inline fa-lg fa-user mr-2"></i>
          <span class="mr-2"><%= thisUser.strFname%> <%= thisUser.strMname%> <%= thisUser.strLname%></span>
          <a href="/account/dashboard">
            <i class="fa d-inline fa-lg fa-columns mr-2"></i>
            <span class="top-desc mr-2">Dashboard</span></a>
          <a href="/account/orders">
            <i class="fa d-inline fa-lg fa-shopping-cart mr-2"></i>
            <span class="top-desc mr-2">Orders</span></a>
        </div>
      </div>
      <div id="main-content">
